
@font-face {
  font-family: 'HelveticaNeueLTStdth';
  src: url('../fonts/helveticaneueltstd-th_0-webfont.eot');
  src: url('0') format('embedded-opentype'),
  url('../fonts/helveticaneueltstd-th_0-webfont.woff') format('woff'),
  url('../fonts/helveticaneueltstd-th_0-webfont.ttf') format('truetype'),
  url('../fonts/helveticaneueltstd-th_0-webfont.svg#helveticaneueltstd-th_0-webfont') format('svg');
  font-weight: normal; font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-mdex';
  src: url('../fonts/HelveticaNeueLTStd-MdEx.eot');
  src: url('../fonts/HelveticaNeueLTStd-MdEx.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueLTStd-MdEx.woff') format('woff'),
  url('../fonts/HelveticaNeueLTStd-MdEx.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('../fonts/HelveticaNeueLTStd-BdCn.eot');
  src: url('../fonts/HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueLTStd-BdCn.woff') format('woff'),
  url('../fonts/HelveticaNeueLTStd-BdCn.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneueltpro-bd';
  src: url('../fonts/helveticaneueltpro-bd-webfont.eot');
  src: url('0') format('embedded-opentype'),
  url('../fonts/helveticaneueltpro-bd-webfont.woff') format('woff'),
  url('../fonts/helveticaneueltpro-bd-webfont.ttf') format('truetype'),
  url('../fonts/helveticaneueltpro-bd-webfont.svg#helveticaneueltpro-bd-webfont') format('svg');
  font-weight: normal; font-style: normal;
}

@font-face {
  font-family: 'helveticaneueltpro-md';
  src: url('../fonts/helveticaneueltpro-md.eot');
  src: url('0') format('embedded-opentype'),
  url('../fonts/helveticaneueltpro-md.woff') format('woff'),
  url('../fonts/helveticaneueltpro-md.ttf') format('truetype'),
  url('../fonts/helveticaneueltpro-md.svg#helveticaneueltpro-md') format('svg');
  font-weight: normal; font-style: normal;
}


@font-face {
  font-family: 'helveticaneueltstd-roman';
  src: url('../fonts/helveticaneueltstd-roman.eot');
  src: url('0') format('embedded-opentype'),
  url('../fonts/helveticaneueltstd-roman.woff') format('woff'),
  url('../fonts/helveticaneueltstd-roman.ttf') format('truetype'),
  url('../fonts/helveticaneueltstd-roman.svg#helveticaneueltstd-roman') format('svg');
  font-weight: normal; font-style: normal;
}

@font-face {
  font-family: 'helveticaneueltstd-lt';
  src: url('../fonts/helveticaneueltstd-lt.eot');
  src: url('0') format('embedded-opentype'),
  url('../fonts/helveticaneueltstd-lt.woff') format('woff'),
  url('../fonts/helveticaneueltstd-lt.ttf') format('truetype'),
  url('../fonts/helveticaneueltstd-lt.svg#helveticaneueltstd-lt') format('svg');
  font-weight: normal; font-style: normal;
}

@font-face {
  font-family: 'helveticaneueltstd-ltex';
  src: url('../fonts/helveticaneueltstd-ltex.eot');
  src: url('0') format('embedded-opentype'),
  url('../fonts/helveticaneueltstd-ltex.woff') format('woff'),
  url('../fonts/helveticaneueltstd-ltex.ttf') format('truetype'),
  url('../fonts/helveticaneueltstd-ltex.svg#helveticaneueltstd-ltex') format('svg');
  font-weight: normal; font-style: normal;
}

@font-face {
  font-family: 'helveticaneueltstd43-lt';
  src: url('../fonts/HelveticaNeueLTStd43-Lt.eot');
  src: url('0') format('embedded-opentype'),
  url('../fonts/HelveticaNeueLTStd43-Lt.woff') format('woff'),
  url('../fonts/HelveticaNeueLTStd43-Lt.ttf') format('truetype'),
  url('../fonts/HelveticaNeueLTStd43-Lt.svg#HelveticaNeueLTStd43-Lt') format('svg');
  font-weight: normal; font-style: normal;
}


@font-face {
  font-family:'helveticaneueltstd55-roman';
  src: url('../fonts/helveticaneueltstd55-roman.eot');
  src: url('0') format('embedded-opentype'),
  url('../fonts/helveticaneueltstd55-roman.woff') format('woff'),
  url('../fonts/helveticaneueltstd55-roman.ttf') format('truetype'),
  url('../fonts/helveticaneueltstd55-roman.svg#helveticaneueltstd55-roman') format('svg');
  font-weight: normal; font-style: normal;
}

@font-face {
  font-family: 'helveticaneueltstd45-lt';
  src: url('../fonts/helveticaneueltstd-lt45.eot');
  src: url('0') format('embedded-opentype'),
  url('../fonts/helveticaneueltstd-lt45.woff') format('woff'),
  url('../fonts/helveticaneueltstd-lt45.ttf') format('truetype'),
  url('../fonts/helveticaneueltstd-lt45.svg#helveticaneueltstd-lt45') format('svg');
  font-weight: normal; font-style: normal;
}


@font-face {
  font-family: 'helveticaneueltstd46';
  src: url('../fonts/HelveticaNeueLTStd46-LtIt.eot');
  src: url('0') format('embedded-opentype'),
  url('../fonts/HelveticaNeueLTStd46-LtIt.woff') format('woff'),
  url('../fonts/HelveticaNeueLTStd46-LtIt.ttf') format('truetype'),
  url('../fonts/HelveticaNeueLTStd46-LtIt.svg#HelveticaNeueLTStd46-LtIt') format('svg');
  font-weight: normal; font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTPro35-Th';
  src: url('../fonts/HelveticaNeueLTPro35-Th.eot');
  src: url('0') format('embedded-opentype'),
  url('../fonts/HelveticaNeueLTPro35-Th.woff') format('woff'),
  url('../fonts/HelveticaNeueLTPro35-Th.ttf') format('truetype'),
  url('../fonts/HelveticaNeueLTPro35-Th.svg#HelveticaNeueLTPro35-Th') format('svg');
  font-weight: normal; font-style: normal;
}

@font-face {
  font-family: 'helveticaneueltstd33-ThEx';
  src: url('../fonts/HelveticaNeueLTStd33-ThEx.eot');
  src: url('0') format('embedded-opentype'),
  url('../fonts/HelveticaNeueLTStd33-ThEx.woff') format('woff'),
  url('../fonts/HelveticaNeueLTStd33-ThEx.ttf') format('truetype'),
  url('../fonts/HelveticaNeueLTStd33-ThEx.svg#HelveticaNeueLTStd33-ThEx') format('svg');
  font-weight: normal; font-style: normal;
}

@font-face {
  font-family: 'helveticaneueltstd27';
  src: url('../fonts/HelveticaNeueLTStd27-UltLtCn.eot');
  src: url('0') format('embedded-opentype'),
  url('../fonts/HelveticaNeueLTStd27-UltLtCn.woff') format('woff'),
  url('../fonts/HelveticaNeueLTStd27-UltLtCn.ttf') format('truetype'),
  url('../fonts/HelveticaNeueLTStd27-UltLtCn.svg#HelveticaNeueLTStd27-UltLtCn') format('svg');
  font-weight: normal; font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-LtCnO';
  src: url('../fonts/HelveticaNeueLTStd-LtCnO.eot');
  src: url('../fonts/HelveticaNeueLTStd-LtCnO.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueLTStd-LtCnO.woff') format('woff'),
  url('../fonts/HelveticaNeueLTStd-LtCnO.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Bd';
  src: url('../fonts/HelveticaNeueLTStd-Bd.eot');
  src: url('../fonts/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueLTStd-Bd.woff') format('woff'),
  url('../fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'times_0';
  src: url('../fonts/times_0.eot');
  src: url('../fonts/times_0.woff2') format('woff2'),
  url('0') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'franklin-gothic-regular';
  src: url('../fonts/FranklinGothic.eot');
  src: url('0') format('embedded-opentype'),
  url('../fonts/FranklinGothic.woff') format('woff'),
  url('../fonts/FranklinGothic.ttf') format('truetype'),
  url('../fonts/FranklinGothic.svg#FranklinGothic') format('svg');
  font-weight: normal; font-style: normal;
}
@font-face {
  font-family: 'FranklinGothic-Regular2';
  src: url('../fonts/FranklinGothic-Regular2.eot');
  src: url('../fonts/FranklinGothic-Regular2.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FranklinGothic-Regular2.woff') format('woff'),
  url('../fonts/FranklinGothic-Regular2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FranklinGothic-Condensed';
  src: url('../fonts/FranklinGothic-Condensed.eot');
  src: url('../fonts/FranklinGothic-Condensed.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FranklinGothic-Condensed.woff') format('woff'),
  url('../fonts/FranklinGothic-Condensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SabonLTStd-Italic';
  src: url('../fonts/SabonLTStd-Italic.eot');
  src: url('../fonts/SabonLTStd-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SabonLTStd-Italic.woff') format('woff'),
  url('../fonts/SabonLTStd-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SabonLTStd-Roman';
  src: url('../fonts/SabonLTStd-Roman.eot');
  src: url('../fonts/SabonLTStd-Roman.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SabonLTStd-Roman.woff') format('woff'),
  url('../fonts/SabonLTStd-Roman.ttf') format('truetype'),
  url('../fonts/SabonLTStd-Roman.svg#SabonLTStd-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '15431_FranklinGothic';
  src: url('../fonts/15431_FranklinGothic.eot');
  src: url('../fonts/15431_FranklinGothic.eot') format('embedded-opentype'),
  url('../fonts/15431_FranklinGothic.woff2') format('woff2'),
  url('../fonts/15431_FranklinGothic.woff') format('woff'),
  url('../fonts/15431_FranklinGothic.ttf') format('truetype'),
  url('../fonts/15431_FranklinGothic.svg#15431_FranklinGothic') format('svg');
}

@font-face {
  font-family: 'FuturaStd-Book';
  src: url('../fonts/FuturaStd-Book.eot');
  src: url('0') format('embedded-opentype'),
  url('../fonts/FuturaStd-Book.woff') format('woff'),
  url('../fonts/FuturaStd-Book.ttf') format('truetype'),
  url('../fonts/FuturaStd-Book.svg#FuturaStd-Book') format('svg');
  font-weight: normal; font-style: normal;
}

@font-face {
  font-family: 'FuturaStd-Bold';
  src: url('../fonts/FuturaStd-Bold.eot');
  src: url('0') format('embedded-opentype'),
  url('../fonts/FuturaStd-Bold.woff') format('woff'),
  url('../fonts/FuturaStd-Bold.ttf') format('truetype'),
  url('../fonts/FuturaStd-Bold.svg#FuturaStd-Bold') format('svg');
  font-weight: normal; font-style: normal;
}

@font-face {
  font-family: 'Futura-MediumItalic';
  src: url('../fonts/Futura-MediumItalic.eot');
  src: url('0') format('embedded-opentype'),
  url('../fonts/Futura-MediumItalic.woff') format('woff'),
  url('../fonts/Futura-MediumItalic.ttf') format('truetype'),
  url('../fonts/Futura-MediumItalic.svg#Futura-MediumItalic') format('svg');
  font-weight: normal; font-style: normal;
}

@font-face {
  font-family: 'BrushScriptMT';
  src: url('../fonts/BrushScriptMT.eot');
  src: url('../fonts/BrushScriptMT.eot') format('embedded-opentype'),
  url('../fonts/BrushScriptMT.woff2') format('woff2'),
  url('../fonts/BrushScriptMT.woff') format('woff'),
  url('../fonts/BrushScriptMT.ttf') format('truetype'),
  url('../fonts/BrushScriptMT.svg#BrushScriptMT') format('svg');
}


@font-face {
  font-family: 'ufonts_com_brushscriptmt';
  src: url('../fonts/ufonts_com_brushscriptmt.eot');
  src: url('../fonts/ufonts_com_brushscriptmt.eot') format('embedded-opentype'),
  url('../fonts/ufonts_com_brushscriptmt.woff2') format('woff2'),
  url('../fonts/ufonts_com_brushscriptmt.woff') format('woff'),
  url('../fonts/ufonts_com_brushscriptmt.ttf') format('truetype'),
  url('../fonts/ufonts_com_brushscriptmt.svg#ufonts_com_brushscriptmt') format('svg');
}
