/* Header */
.home-page  {background: #000;}
.home-page .container {width:1280px;}
.home-page .wrapper {background: #000;}
.home-page .header{padding: 0; width: 100%; position: fixed; float: none; background: #000; z-index: 11;}
.home-page .logo-outer {text-align: center;}
.home-page .logo {height: 26px; left: 0; margin: 14px 0 0; width: 183px;}

/* Slide panel */
.slide-panel {background: #000; padding:145px 0 50px; left: -255px; width:255px;  top:0;  position: fixed; height: 100%; z-index: 10; transition: all 0.3s linear 0s; -moz-transition: all 0.3s linear 0s; -webkit-moz-transition: all 0.3s linear 0s;}
.slide-panel-inner {padding: 14px 46px 25px 17px;}
.slide-panel-inner h2{color: #FFF; font-size: 18px; padding: 0; margin-bottom: 14px; text-transform: uppercase; line-height: 24px; font-family: 'FranklinGothic-Regular2'; letter-spacing: 0.4px; }
.slide-panel .slide-nav {width: 100%;border-bottom: 1px solid #414141;margin-bottom: 26px; padding-bottom: 10px;}
.slide-panel .slide-nav.last {border-bottom: 0;}

.slide-panel .slide-nav li {padding-bottom: 15px; display: block;}
.slide-panel .slide-nav.last li {padding-bottom: 8px;}
.slide-panel .slide-nav li a {color: #a8a8a8; font-size: 15px; line-height: 21px; font-family: 'FranklinGothic-Condensed'; padding: 0; }
.slide-panel .slide-nav li a:hover {color: #FFF;}
.slide-panel .slide-nav.last li a{text-transform: none;}
.slide-panel .img-box {right: auto; top:0;}
.slide-panel .img-box {position: absolute; width: 213px; height:64px;  display: none; right: auto; top:-3px; left:-8px;}
.slide-panel .img-box img {width: 100%;}
.slide-panel .img-box.active {display: block;}
.slide-panel .dropdown-img-text {position: absolute; text-align: center; background: transparent; left: 20px; right: auto; top: 19%; margin-bottom: 0;  width: 60px;}
.slide-panel .dropdown-img-text h3 { color: #000; text-transform: uppercase; font-size: 18px; line-height: 22px; font-family: 'FranklinGothic-Regular2'; margin-bottom: 0;}
.slide-panel .dropdown-img-text h3 a, .slide-panel .dropdown-img-text h3 a:hover, .slide-panel .dropdown-img-text h3 a:focus{color: #000;}

.slide-panel .mCS-dark-thick.mCSB_scrollTools .mCSB_draggerRail {background: transparent;}
.slide-panel .mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background: #414141;}
.slide-panel .mCS-light-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .slide-panel .mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {width: 4px;}

.slide-navigation {position:relative; padding-top: 5px; border-bottom: 1px solid #414141; margin-bottom: 15px; padding-bottom: 9px;}
.slide-navigation li {padding: 8px 3px; }
.slide-navigation li > a {color:#ffffff; font-size: 15px; line-height: 17px; text-transform: uppercase; font-family: 'FranklinGothic-Condensed';}
.slide-navigation li > a:hover {color:#a8a8a8;}
.slide-navigation li:hover .img-box {display: block;}
.home-page .main-wrap {padding:57px 0 0; float: none; height:auto;}
.home-page .content-wrap {overflow:hidden;}

/* Index page header */
.user-menu {float: right; padding: 30px 0 25px; z-index: 10; position: relative;}
.user-menu .login-link {text-transform: uppercase; padding: 5px 0; float: right; margin-right: 40px; font-size: 17px;   font-family: 'FuturaStd-Book';}
.user-menu .login-link a{color: #7dbdc2; font-size: 18px; font-family: 'FuturaStd-Book'; margin-left: 4px;}
.user-menu .login-link a:hover {color:#000;}
.user-menu .cart-link {float: right; padding: 5px 0 5px 30px; font-size: 17px; font-family: 'FuturaStd-Book'; height: 27px; background: url(../images/cart-icon.svg) no-repeat 0 0;}
.user-menu .login-link a.logout-link { font-size: 13px;  }
.logo {display: inline-block; z-index: 10; position: relative; width: 207px; height: 30px; margin:0; }
.logo  img {width: 100%;}

.landing-page .header {position:fixed; left:150px; right: 15px; top:38px; z-index: 3; }
.landing-page .logo {width: 183px; height: 27px; margin:0;}
.landing-page.portrait-view .nav-icon{margin-top: 10px}
.landing-page.landscape-view .nav-icon{top:7px;}
.landing-page .nav-icon{margin-right:10px;}
.landing-page.menu-open .slide-panel .nav-icon span{background: #c9cacb;}
.landing-page.menu-open .slide-panel .nav-icon{position: fixed;top:12px;left: 14px; width: 21px; height: 13px;}
.landing-page .nav-icon span{background: #c9cacb;}
.landing-page .slide-panel{top:43px; background: rgba(0,0,0,0.9); padding: 0 0 50px 0;}
.landing-page.menu-open .slide-panel {top:43px;}
.mobile-navigation li {padding: 10px 0;}
.mobile-navigation li a {color:#989898; letter-spacing: -0.3px; font-size: 16px; line-height: 20px;  font-family:"FranklinGothic-Condensed"; text-transform: capitalize; }
.mobile-navigation .line {border-top: 1px solid #414141;}

/*Landing-page Menu */
.navigation  {margin:0;}
.navigation > li {padding:0; position: relative; float: left; }
.navigation > li > a {color: #FFF; display: block; position: relative; text-transform: uppercase; font-size:18px; padding:0; font-family: 'FranklinGothic-Regular2'; letter-spacing:0.8px;}
.navigation > li > a:hover {color:#7dbdc2;}
.navigation > li:hover .dropdown-menu {display: block; }
.navigation > li .dropdown-menu.shop .col-left{float:left;width: 100%;}
.navigation > li .dropdown-menu.shop .col-right{float:left;width: 50%;padding-left: 28px;}

.navigation > li .dropdown-menu.shop {min-width: 229px; left:0; }
.navigation > li .dropdown-menu.shop .shop-dropdown {margin-bottom: 0;} 
.navigation > li .dropdown-menu.shop .drop-menu-inner{padding-bottom: 31px;}
.navigation > li .dropdown-menu.about {min-width: 304px; left: 0px;}
.navigation > li .dropdown-menu.alessandro {min-width: 221px; left: 44px;}
.navigation > li .dropdown-menu.alessandro .line {   margin-top: 6px;    padding-top: 13px; }
.navigation .line { border-top: 1px solid #333333; margin-top: 16px; padding-top: 22px; }

.shop-dropdown.last {border-top: 1px solid #333333; margin-top: 25px; padding-top: 25px;}

.dropdown-menu h2 {color: #FFF; font-size: 24px; padding: 0 15px; margin-bottom:20px; text-transform: uppercase; line-height: 28px;font-family: 'FranklinGothic-Regular2';letter-spacing: 0.4px;}
.dropdown-menu {display: none; background: transparent;  border: transparent; left:0; margin: 0; padding:12px 0; box-shadow: none; -ms-box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;}
.dropdown-menu .drop-menu-inner {background: #000; height: 100%; padding:25px 20px 17px; position: relative;}
.dropdown-menu ul > li {padding:0 15px; margin-bottom: 19px; color: #FFF; font-size:24px; text-transform: uppercase; display: block;font-family: 'FranklinGothic-Regular2'; }
.dropdown-menu ul.line > li{font-family: 'FranklinGothic-Regular2';font-size: 18px;line-height: 22px;}
.dropdown-menu ul > li > a {color:#999999; display: block; font-size: 16px; line-height: 20px; text-transform: uppercase;  font-family: "FranklinGothic-Condensed";}
.dropdown-menu ul > li > a:hover {color:#FFF; }
.dropdown-menu ul > li:hover .img-box {display: block;}
.dropdown-menu ul > li.active a {color:#FFF;}

.header-links  { float: none; text-align:right}
.header-links li { padding:0 84px 0 76px; vertical-align: top;}
.header-links li a {color: #FFF; text-transform: uppercase; }
.header-links li a:hover {color:#7dbdc2;}
.header-links .user-text {width: 125px;   overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.nav-icon { width: 28px; z-index: 11;  margin-top: 0px; height: 15px; float: left; position: relative;  -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); cursor: pointer; }
.nav-icon span { display: block; position: absolute; height: 2px; width: 100%; background: #666666;  opacity: 1; left: 0; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .25s ease-in-out; -moz-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out; }
.nav-icon span:nth-child(1) { top: 0px; }
.nav-icon span:nth-child(2), .nav-icon span:nth-child(3) {top: 6px;}
.nav-icon span:nth-child(4) { top: 12px; }
.menu-open .nav-icon span {background: #666666;}
.menu-open .nav-icon span:nth-child(1) { top: 18px; width: 0%; left: 50%; }
.menu-open .nav-icon span:nth-child(2) { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.menu-open .nav-icon span:nth-child(3) { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }
.menu-open .nav-icon span:nth-child(4) { top: 18px; width: 0%; left: 50%; }
.menu-open .slide-panel {left:0;}

.header .first-col .navigation > li {padding: 13px 0 14px;}
.header .first-col .navigation > li:first-child {margin-right: 180px;}
.header .first-col > .navigation > li > a { display: block; padding: 0; height: 30px; line-height: 30px;}
.header .first-col .navigation{padding-left: 16px;}

.cart-section{position: relative;}
.header .last-col {padding-right: 3px;}
.lang-selection {background-color: #1d1d1d; }
.header .last-col > .header-links {margin: 0;}
.header .last-col > .navigation > li > a { display: block; padding: 0; height: 30px; line-height: 30px;}
.header .last-col > .header-links > li {padding: 13px 18px 14px; margin-left: 8px; float: right;}
.header .last-col  .header-links .cart-link { background: rgba(0, 0, 0, 0) url("../images/landing-cart-icon.svg") no-repeat scroll 0 0;  overflow: hidden; padding:0  0 0 28px; text-overflow: ellipsis; white-space: nowrap; width: auto; }
.header .last-col  .header-links .cart-link:hover {background: url(../images/landing-cart-icon-h.svg) no-repeat 0 0;}

.lang-selection .dropdown-menu {left:auto; right: 0; width: 243px;} 
.lang-selection .dropdown-menu h3 { font-family: 'FranklinGothic-Regular2'; padding: 12px 16px 6px; text-transform: uppercase; font-weight: normal; font-size: 18px; color: #FFF;}
.lang-selection .dropdown-menu ul li {width: 50%; float: left; }
.lang-selection .dropdown-menu ul li a {text-transform: uppercase; }
.lang-selection h3.line {padding-top: 30px; margin-top: 5px; }
.lang-selection .dropdown-menu ul.currency-drop li {padding-bottom: 0; margin-bottom: 6px;}
.lang-selection .dropdown-menu ul li:nth-child(even) {padding-left: 22px;}

.innerpage-header .header-links {float: right; padding:0;}
.innerpage-header .header-links > li:first-child {padding-right: 0;}
.innerpage-header .header-links > li > a {color: #000; letter-spacing: 0;}
.innerpage-header .lang-selection {background-color: #e8e8e8; padding:7px 10px 4px; min-width: 67px; text-align: center;}
.innerpage-header .lang-selection > a:hover {color: #000;}
.innerpage-header .lang-selection > a {color: #000; font-family: 'FranklinGothic-Regular2'; font-size: 18px; }
.innerpage-header .header-links > li {padding: 0 18px; float: right;}
.innerpage-header .lang-selection  .drop-menu-inner::before {display: none;}
.innerpage-header .navigation > li  .dropdown-menu.alessandro {text-align: right; min-width: 221px; left: auto; right: -17px; padding: 15px 0; }
.innerpage-header .navigation .line {border-top:1px solid #d6d6d6;}
.innerpage-header .dropdown-menu .drop-menu-inner {background:#ffffff; position: relative;padding:15px 15px 15px 15px; -webkit-box-shadow: 0 18px 60px 0 rgba(0, 0, 0, 0.16); -moz-box-shadow: 0 18px 60px 0 rgba(0, 0, 0, 0.16); -ms-box-shadow: 0 18px 60px 0 rgba(0, 0, 0, 0.16); -o-box-shadow: 0 18px 60px 0 rgba(0, 0, 0, 0.16); box-shadow: 0 18px 60px 0 rgba(0, 0, 0, 0.16);}
.innerpage-header .lang-selection .dropdown-menu h3 {color: #000;}
.innerpage-header .dropdown-menu ul > li > a {color:#b7b7b7;}
.innerpage-header .dropdown-menu ul > li.active a, .innerpage-header .dropdown-menu ul > li a:hover {color: #7dbdc2;}
.innerpage-header .dropdown-menu ul > li {margin-bottom: 10px;}
.innerpage-header .dropdown-menu .drop-menu-inner:before {border-bottom: 12px solid #ffffff; border-left: 9px solid rgba(0, 0, 0, 0); border-right: 9px solid rgba(0, 0, 0, 0); content: ""; height: 0; position: absolute; right: 16px; top: -12px; width: 0;}
.innerpage-header .login-link {text-transform: uppercase;  padding: 5px 0; float: right; font-size: 17px;   font-family: 'FuturaStd-Book';}
.innerpage-header .login-link a{color: #7dbdc2; display: block; font-size: 18px; font-family: 'FuturaStd-Book'; }
.innerpage-header .login-link a:hover {color:#000;}
.innerpage-header .login-link .dropdown-menu ul > li > a {color: #7dbdc2;}
.innerpage-header .login-link .dropdown-menu ul > li > a:hover {color: #000;}
.innerpage-header .cart-link {float: right; overflow: hidden; text-overflow: ellipsis; padding: 5px 0 5px 30px; font-size: 17px; font-family: 'FuturaStd-Book'; height: 27px; background: url(../images/cart-icon.svg) no-repeat 0 0;}
.innerpage-header .login-link ul li {text-align: right;}
.innerpage-header .login-link ul li a{font-size: 16px;}
.innerpage-header .header-links .user-text {color: #000; width: auto;}

/* call-modal */
.call-modal .dropdown-menu{text-align: center;min-width: 310px;right: -57px; left:auto;}
.call-modal .inner-menu-text{display: inline-block; margin:5px -8px 0;}
.call-modal .inner-menu-text em{width: 26px;height: 28px;display:inline-block;position: relative;top:0;}
.call-modal .inner-menu-text em img{width: 100%;}
.call-modal .dropdown-menu .drop-menu-inner::before{right: 53px;}
.call-modal .dropdown-menu .drop-menu-inner{ padding: 24px 15px 15px 15px;}
.call-modal .dropdown-menu ul > li:first-child{font-size: 18px;line-height: 22px;text-transform: uppercase;font-family: 'FuturaStd-Bold';color: #000;margin-bottom: 14px;}
.call-modal .dropdown-menu ul > li:last-child a{color: #7dbdc2;font-size: 30px;line-height: 34px;font-family: 'FuturaStd-Bold'; cursor: pointer;}
.call-modal .dropdown-menu ul > li:last-child a:hover{color: #000; cursor: pointer; }
.login-link a.inner-menu-text{color: #000; cursor: pointer;}

@media (max-width: 1366px){
	.landing-page .header {top:10px;}
}
@media (max-width: 1281px){

	
	.landing-page .header {position: fixed; left:150px; right: 30px; top: 18px; width: auto;}
	.user-menu {padding: 25px 0;}
	.header-links .user-text {width: 120px;}

	
}
@media (max-width: 1200px){
	.header-links li{padding: 0 50px 0 0px;}
}
@media (max-width: 1199px){
	.header-links .user-text{width:95px;}
}
@media (max-width: 1140px){
	.header-links li.hidden-mobile-1080:first-child{  padding-right:0px;}
	.header .last-col > .header-links > li {margin-left: 0; padding: 13px 15px 14px;}
}
@media (max-width: 1024px){
	.header .first-col .navigation > li:first-child {margin-right: 50px;}
}
@media (max-width:991px){

	.header .last-col > .header-links > li:nth-child(1)  {padding: 13px 10px 14px;}
	.header .last-col > .header-links > li  {padding: 13px 5px 14px }
	.header-links .user-text {width: 55px;}
	.header .first-col .navigation > li:first-child {margin-right: 60px;}
	.header .last-col  .header-links .cart-link {width: 82px;}
	.innerpage-header .header-links .user-text {width: 55px;}
	
	.landing-page header { left:120px; right: 20px; top: 20px; width: auto;}
	.portrait-view.landing-page header {position: fixed; left:30px; right: 30px; top: 18px; width: auto;}
	

	

}
@media (max-width: 768px){
	.header-links .cart-link { width: 82px; text-align: left;}
}
@media (max-width:767px){
	.header .first-col {width: 11.5%;}
	.header .last-col {width: 63.5%;}
	.home-page .logo-outer {text-align: left}
	.header  .logo-outer {width:25% }
	.header .last-col  .header-links .cart-link {background-size: 15px; padding: 0  0 0 18px; width: 65px;}
	.header .last-col  .header-links .cart-link:hover  {background-size: 15px;}
	.lang-selection .dropdown-menu {width: 200px; right: 123px; padding: 7px 0;}
	.lang-selection .dropdown-menu h3 {font-size: 15px; padding: 5px 10px 3px}
	.dropdown-menu ul > li > a {font-size:12px; line-height: 16px;  }
	.dropdown-menu ul > li {padding: 0 10px;}
	.lang-selection h3.line { padding-top: 27px; margin-top: 0; }
	.dropdown-menu .drop-menu-inner {padding: 25px 20px 13px;}

	.landing-page.modal-open .img-control {z-index: 2}
	.nav-icon{margin-top:0px;width:17px;margin-left:0; top: 13px;}
	.nav-icon span{height:2px;}
	.nav-icon span:nth-child(2), .nav-icon span:nth-child(3){top:4px;}
	.nav-icon span:nth-child(4){top:8px;}

	.header-links .cart-link{width:68px; height:25px;}
	.slide-panel{padding-top:48px;}
	.header .last-col {padding-right: 10px;}
	.header-links .cart-link {background-size:15px; padding:10px 0 0 20px; background-position: 0 7px; width:auto;}
	.header-links .cart-link:hover  {background-size:15px;  background-position: 0 7px;}
	.first-col{padding-left: 15px;}
	.header-links li {padding: 0}
	.header-links li a {font-size: 14px;line-height: 18px;letter-spacing: 0;}
	.header-links {margin:0;}
	.inner-page .header {padding: 10px 0 5px; width: 100%; position: relative; top:0; background:#FFF;} 
	

	.logo {width: 110px; height: 19px; margin-top: 5px; }
	.logo img {width: 100%;}
	.inner-page .user-menu {padding: 0} 

	.landing-page.portrait-view .nav-icon {margin: 2px 13px 0 0px;}
	.portrait-view.landing-page .logo {width: 95px; height: 20px; margin-top: 5px;}
	.portrait-view.landing-page header {left: 10px; right: 10px; top: 10px;}
	.landing-page.landscape-view .nav-icon {top:3px;}
	.innerpage-header .login-link > a { font-family: 'FranklinGothic-Regular2'; font-size: 15px; margin-top: 5px;}
	.innerpage-header  .cart-link {font-size: 15px; font-family: 'FranklinGothic-Regular2';}
	.innerpage-header .header-links > li {padding: 0 8px;}
	.innerpage-header .header-links .cart-link {width: 70px;} 
	.innerpage-header .lang-selection {min-width: 34px; padding: 2px 5px 2px; margin-top: 5px;}
	.innerpage-header .lang-selection > a {font-size: 13px; line-height: normal;}
	.innerpage-header .lang-selection .dropdown-menu {right: 0;}
	.navigation > li .dropdown-menu.alessandro {min-width: 160px;}
	.innerpage-header .navigation > li  .dropdown-menu.alessandro {min-width: 180px;}
	.innerpage-header .login-link ul li a {font-size: 13px;}
	.innerpage-header .header-links .user-text {width: auto; max-width: 55px;}
	.call-modal .dropdown-menu ul > li:first-child {font-size: 12px; line-height: 16px; margin-bottom: 7px;}
	.call-modal .dropdown-menu ul > li:last-child a {font-size: 24px; line-height: 28px;}
	
	.call-modal .dropdown-menu {min-width: 246px; right: -70px;}
	.call-modal .inner-menu-text em {width: 20px; height: 20px;}
	.call-modal .inner-menu-text {margin:7px 0 0;}
	.call-modal .dropdown-menu .drop-menu-inner::before {right: 70px;}

	.home-page .popup-header .logo, .landing-page .popup-header .logo, .popup-header .logo, .portrait-view .popup-header .logo, .landscape-view .popup-header .logo  {width: 135px; height: 20px; margin-top: 20px;} 
	.portrait-view .slider-block {left:0px; height: 91px;}
	.portrait-view .selection-slider .slide {height: 90px;}
	.portrait-view .contrast-c-block ul li {height: 90px;}
	.portrait-view .main-wrap {	padding: 20px 20px 20px;}
	.price-box .btn-default .visible-xs { display: inline-block !important; }
	.price-box {bottom: 105px;}
	.img-control .render-zoom {width: 25px; height: 25px;}
	.img-control a.refresh-link { width: 60px; height: 25px; margin-bottom: 10px;}
	.img-control a {  font-size: 15px; font-family: "FuturaStd-Bold"; }
	.inner-menu.onsave-modal .inner-menu-text {padding-bottom: 10px;}
	.img-control .zoom-control {margin-bottom: 17px;}
	.innerpage-header .header-links {padding: 0;}
	.landscape-view .slider-block { width: 87px; padding:0; }
	.landing-page .nav-icon {top: 3px;}



	/* Landing page */
	body.home-page.menu-open {overflow: hidden;} 
	.home-page .main-wrap {padding-top:37px}
	.home-page  .logo {margin:7px 0 0; width: 80px; height: 12px;}
	.home-page .popup-header .logo { margin-left: 0; width: 115px; height: auto;}
	.logo-outer {padding: 0}
	.header .last-col > .header-links > li:nth-child(1) {padding:10px 15px 8px; }
	.header .last-col > .navigation > li > a {height: 20px; line-height: 20px;}
	.header .last-col > .header-links > li {padding: 10px 5px 8px;}
	.home-page .main-wrap {padding-top:37px}
	.header .last-col {padding-right: 0;}
	.header-links .cart-link {background-size:15px; padding:9px 0 0 20px; background-position: 0 7px; width:auto;}
	.header-links .cart-link:hover  {background-size:15px;  background-position: 0 7px;}
	.header-links li {padding: 0}
	.header-links li a {font-size: 14px;line-height: 18px;letter-spacing: 0;}
	.header-links {margin:0;}
	
}

@media (max-width: 374px){
	.innerpage-header .header-links > li {padding: 0 3px;}
	.header .last-col > .header-links > li:nth-child(1) {padding: 10px 5px}
	.lang-selection .dropdown-menu {right: 108px;}

	.slide-panel {padding: 40px 0 20px;}
}