<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tailors Mark</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/main.css">			
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body>
	<div class="wrapper">
		<!-- Start Contant -->
		<section class="error-page">

			<div class="container">
				<div class="text-center">
					<a href="#" title="Tailors Mark" class="logo">
						<img src="images/logo.svg" alt="Tailors Mark">
					</a>
				</div>

				<div class="error-content">
					<h1>404 page not found.</h1>
					<p>The page you are looking for doesn&rsquo;t exist or an other error occurred.</p>
				</div>

				<div class="button-control">
					<a href="#" title="Homepage" class="btn-default active">Homepage</a>
				</div>
			</div>


		</section>
		<!-- End Contant -->
	</div>
</body>
</html>