<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tailors Mark</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/main.css">		
	<script type="text/javascript" src="js/main.js"></script>
</head>

<body class="checkout-body">

	<div class="wrapper inner-page checkout-wrapper">

		<!-- Start Contant -->
		<div class="main-wrap clearfix">		
			<div class="inner-wrap">
				<div class="container checkout-page customer-detail">


					<!-- Start Header -->
					<header class="header">

						<div class="row">
							<div class="col-sm-4 col-xs-6">
								<a href="#" title="Tailors Mark" class="logo">
									<img src="images/logo.svg" alt="Tailors Mark">
								</a>
							</div>
							<div class="col-sm-8 col-xs-6">
								<div class="user-menu">
									<div class="cart-link">
										$339 (2)
									</div>
									<div class="login-link">
										<a href="#" title="Login">Login</a>
									</div>
								</div>
							</div>
						</div>

					</header>
					<div class="row">
						<div class="col-md-7">
							<div class="row">
								<div class="col-sm-12">
									<a class="back-btn" href="#" title="Back">
										<img alt="" src="images/back-arrow.svg"> 
										BACK
									</a>
								</div>
							</div>
							<div class="row ">
								<div class="col-sm-9 top-left clearfix secure-checkout-title">
									<h1 class="clearfix"><i class="lock-icon"><img src="images/secure-lock.svg" alt=""></i><span class="secure-checkout-text">SECURE CHECKOUT</span></h1>
									<ul class="top-content visible-xs">
										<li>
											<span>
												<a href="#" title="Login here" >
													Login
												</a>
											</span>
										</li>

									</ul>
								</div>
								<div class="col-sm-3 top-right clearfix hidden-xs">
									<ul class="top-content ">
										<li>
											<span>Already a member? 
												<a href="#" title="Login here">
													Login here
												</a>
											</span>
										</li>

									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- End Header -->
					<div class="row">
						<div class="col-sm-7">
							<div class="left-block">										
								<div class="form-block ">
									<h3>Shipping Address</h3>
									<div class="edit-block">
										<a href="#" title="Edit" class="edit-btn">
											Edit
										</a>
										<a href="#" title="New" class="edit-btn">
											New
										</a>
									</div>
									<form class="form-horizontal">	
										<div class="form-group">
											<div class="row">
												<div class="col-sm-12 error-msg">
													<div class="custom-dropdown hidden-xs">
														<select data-type="custom-dropdown">
															<option class="hidden-option">
																Alessandro Fuoco Via Bastone 143
															</option>
															<option>Alessandro Fuoco Via Bastone 143 Alessandro Fuoco Via Bastone 143</option>
															<option>Northern Territory</option>
															<option>South Australia</option>
															<option>Queensland</option>
															<option>New South Wales</option>
															<option>Victoria</option>					
														</select>
													</div>
													<div class="custom-dropdown visible-xs">
														<div class="dk-selected">
															<a href="#shipping-modal" id="shippingAddress"  data-toggle="modal" class="state-text">
																Alessandro Fuoco Via Bastone 143
															</a>
														</div>
													</div>
													<label class="error">Please enter a valid postcode</label>
												</div>
											</div>
										</div>
									</form>
								</div>

								<div class="form-block">
									<h3>Credit Card</h3>
									<div class="edit-block">
										<a href="#" title="Edit" class="edit-btn">
											Edit
										</a>
										<a href="#" title="New" class="edit-btn">
											New
										</a>
									</div>
									<form class="form-horizontal">
										<div class="form-group ">										<div class="row">
											<div class="col-sm-12">
												<div class="custom-dropdown hidden-xs">
													<select data-type="custom-dropdown">
														<option class="hidden-option">
															Mastercard xx3223
														</option>
														<option>1</option>
														<option>2</option>
														<option>3</option>
														<option>4</option>
														<option>5</option>
														<option>6</option>					
													</select>
												</div>

												<div class="custom-dropdown visible-xs">
													<div class="dk-selected">
														<a href="#creditcard-modal" id="creditCard"  data-toggle="modal" class="state-text">
															Mastercard xx3223
														</a>
													</div>
												</div>
											</div>
										</div>

									</div>												
								</form>
							</div>
							<div class="form-block promo-code-block">
								<h3>Have A Promo Code?</h3>
								<div class="inner-block">
									<form class="form-horizontal">
										<input type="text" class="form-control" id="inputNumber" placeholder="Enter it here">
										<button type="button" title="Apply" class="btn btn-default">Apply</button>
									</form>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-5 right-block sticky-block hidden-xs">
						<div class="pull-right">

							<button type="button" class="btn btn-default active hidden-xs">
								<span>Place Order </span> 
							</button>
							<button type="button" class="btn btn-default active visible-xs">
								<span>Place Order ($339)</span>
							</button>


							<div class="order-details hidden-xs">
								<ul class="details-listing">
									<li class="clearfix">
										<span>Subtotal</span>
										<i>$378</i>
									</li>
									<li class="clearfix">
										<span>Shipping</span>
										<i>$15</i>
									</li>
									<li class="clearfix">
										<span>Code 50Off</span>
										<i>-$159</i>
									</li>
									<li class="clearfix">
										<span>Total</span>
										<i>$159</i>
									</li>
								</ul>
							</div>

						</div>
					</div>
				</div>
				<div class="right-block  visible-xs">
					<button type="button" class="btn btn-default active visible-xs">
						<span>Place Order ($339)</span>
					</button>
				</div>
			</div>

		</div>
	</div>
	<!-- End Contant -->
</div>




<div id="login-modal" class="modal login-popup fluid-modal fade">
	<div class="modal-dialog">
		<div class="container">
			<div role="alert" class="alert alert-danger">
				<strong>Oh snap!</strong> Change a few things up and try submitting again.
				<a title="close" aria-label="close" data-dismiss="alert" class="close" href="#">×</a>
			</div>

			<div class="alert alert-success fade in">
				<a title="close" aria-label="close" data-dismiss="alert" class="close" href="#">×</a>
				<strong>Success!</strong> This alert box indicates a successful or positive action.
			</div>
			<div class="popup-header">
				<a href="#" title="Close" class="close" data-dismiss="modal" aria-hidden="true">
					<img src="images/close-icon.svg" alt="Close">
				</a>
			</div>
			<div class="popup-content">
				<div class="top-block">
					<div class="col">
						<h3>Login <a class="pull-right visible-xs" title="Forgot your password?" href="#">Forgot your password?</a></h3>
						<form class="form-horizontal">
							<div class="form-group">
								<input type="email" class="form-control" id="inputEmail" placeholder="e-mail">
							</div>
							<div class="form-group">
								<input type="password" class="form-control"  placeholder="password">
							</div>
							<div class="form-group form-btn">
								<button type="submit" class="btn btn-default">Login</button>
								<a href="#" title="Forgot your password?" class="pull-right hidden-xs">Forgot your password?</a>
							</div>
						</form>
					</div>
				</div>
				<div class="bottom-block">
					<div class="col">
						<h4>Don't have an account?</h4>
						<span>Enter your email to receive exclusive offers.</span>
						<form class="form-horizontal">
							<div class="form-group">
								<input type="email" class="form-control"  placeholder="e-mail">
							</div>
							<div class="form-group form-btn">
								<button type="submit" class="btn btn-default">Sign-Up</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div id="shipping-modal" class="dropdown-popup modal fade">
	<div class="modal-dialog dropdown-popup-inner" id="mob-shipAddress-lising">
		<ul class="dropdown-lising" data-dismiss="modal">
			<li><a href="#" class="active">Western Australia</a></li>
			<li><a href="#">Northern Territory</a></li>
			<li><a href="#">South Australia</a></li>
			<li><a href="#">Queensland</a></li>
			<li><a href="#">New South Wales</a></li>
			<li><a href="#">Victoria</a></li> 
		</ul>
	</div>
</div>


<div id="creditcard-modal" class="dropdown-popup modal fade">
	<div class="modal-dialog dropdown-popup-inner" id="mob-creditCard-lising">
		<ul class="dropdown-lising" data-dismiss="modal">
			<li><a href="#" class="active">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">6</a></li>	
		</ul>
	</div>
</div>


</body>
</html>