<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tailors Mark</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/main.css">		
	<script type="text/javascript" src="js/main.js"></script>
</head>

<body class="home-page">
	<div class="wrapper">

		<!-- Start Header -->
		<header class="header">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-xs-4 first-col">
						<ul class="navigation hidden-xs">
							<li><a href="#" title="" class="nav-icons"><img src="images/nav-icon.png" alt=""></a>
								<div class="dropdown-menu about">
									<div class="drop-menu-inner">
										<ul>
											<li>About</li>
											<li><a href="#" title="Our Story">Our Story</a></li>
											<li><a href="#" title="Satisfaction Guarantee">Satisfaction Guarantee</a></li>
											<li><a href="#" title="Shipping">Shipping</a></li>
											<li><a href="#" title="Testimonials">Testimonials</a></li>
											<li><a href="#" title="Contact Us">Contact Us</a></li>
										</ul>
										<ul class="line">
											<li>Social</li>
											<li><a href="#" title="Facebook">Facebook</a></li>
											<li><a href="#" title="Instagram">Instagram</a></li>
											<li><a href="#" title="Pinterest">Pinterest</a></li>
										</ul>
									</div>
								</div>
							</li>

							<li class="hidden-xs"><a href="#" title="Shop">Shop</a>
								<div class="dropdown-menu shop">
									<div class="drop-menu-inner">
										<h2>Menswear</h2>
										<ul class="shop-dropdown">
											<li>
												<a href="#" title="Design a shirt">Design a shirt</a>
											</li>
											<li>
												<a href="#" title="Shirts collection">Shirts collection</a>
											</li>
										</ul>
										<ul class="shop-dropdown last">
											<li>
												<a href="#" title="Design a suit">Design a suit</a>
											</li>
											<li>
												<a href="#" title="Design a jacket">Design a jacket</a>
											</li>
											<li>
												<a href="#" title="Design pants">Design pants</a>
											</li>
											<li>
												<a href="#" title="Design chinos">Design chinos</a>
											</li>
											<li>
												<a href="#" title="Design a vest">Design a vest</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
						<div class="nav-icon visible-xs">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="col-sm-4 col-xs-4 logo-outer">
						<a href="#" class="logo" title="Tailors Mark">
							<img src="images/landing-logo.svg" alt="Tailors Mark">
						</a>
					</div>
					<div class="col-sm-4 col-xs-4 last-col">
						<ul class="header-links navigation clearfix">
							
							
							<li class="lang-selection"><a href="#" title="Cart">EN €</a>
								<div class="dropdown-menu">
									<div class="drop-menu-inner">
										<h3>Language</h3>
										<ul class="clearfix ">
											<li class="active"><a href="#" title="English">English</a></li>
											<li><a href="#" title="German">German</a></li>
										</ul>
										<h3 class="line">Currency</h3>
										<ul class="clearfix currency-drop">
											<li><a href="#" title="£ GBP">£ GBP</a></li>
											<li class="active"><a href="#" title="€ EUR">€ EUR</a></li>
											<li><a href="#" title="$ USD">$ USD</a></li>
											<li><a href="#" title="$ CAD">$ CAD</a></li>
											<li><a href="#" title="£ JPY">£ JPY</a></li>
											<li><a href="#" title="$ AUD">$ AUD</a></li>
											<li><a href="#" title="$ NZD">$ NZD</a></li>
											<li><a href="#" title="kr SEK">kr SEK</a></li>
											<li><a href="#" title="kr NOK">kr NOK</a></li>
											<li><a href="#" title="kr DKK">kr DKK</a></li>
										</ul>

									</div>
								</div>
							</li>
							<li class="cart-section"><a href="#" class="cart-link" title="Cart">$1.339 (2)</a></li>
							<li>
								<a href="#login-modal" class="user-text" title="Alessandro">DAVID</a>
								<div class="dropdown-menu alessandro">
									<div class="drop-menu-inner">
										<ul>
											<li><a href="#" title="My Account">My Account</a></li>
											<li><a href="#" title="Order history">Order history</a></li>
											<li><a href="#" title="Saved Profiles">Saved Profiles</a></li>
											<li><a href="#" title="Support">Support</a></li>
											<li class="line"><a href="#" title="Sign out">Sign out</a></li>
										</ul>
									</div>
								</div>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</header>
		<!-- End Header -->
		


		<!-- Start Panel -->
		<div class="slide-panel">
			<div class="slide-panel-inner">
				<ul class="slide-navigation">
					<li>
						<a href="#" title="Custom Shirts">Custom Shirts</a>
						<div class="img-box active">
							<img src="images/shop-img03.jpg" alt="Custom Shirts">
							<div class="dropdown-img-text">
								<h3><a href="#" title="Shop Shirts">Shop Shirts</a></h3>
							</div>
						</div>
					</li>
					<li>
						<a href="#" title="Custom Suits">Custom Suits</a>
						<div class="img-box active">
							<img src="images/shop-img03.jpg" alt="Custom Suits">
							<div class="dropdown-img-text">
								<h3><a href="#" title="Shop Shirts">Shop Shirts</a></h3>
							</div>
						</div>
					</li>
					<li>
						<a href="#" title="Custom Jackets">Custom Jackets</a>
						<div class="img-box">
							<img src="images/shop-img03.jpg" alt="Custom Jackets">
							<div class="dropdown-img-text">
								<h3><a href="#" title="Shop Shirts">Shop Shirts</a></h3>
							</div>
						</div>
					</li>
					<li>
						<a href="#" title="Custom Pants">Custom Pants</a>
						<div class="img-box">
							<img src="images/shop-img03.jpg" alt="Custom Pants">
							<div class="dropdown-img-text">
								<h3><a href="#" title="Shop Shirts">Shop Shirts</a></h3>
							</div>
						</div>
					</li>
					<li>
						<a href="#" title="Custom Blazers">Custom Blazers</a>
						<div class="img-box">
							<img src="images/shop-img03.jpg" alt="Custom Blazers">
							<div class="dropdown-img-text">
								<h3><a href="#" title="Shop Shirts">Shop Shirts</a></h3>
							</div>
						</div>
					</li>
					<li><a href="#" title="Chinos">Chinos</a>
						<div class="img-box">
							<img src="images/shop-img03.jpg" alt="Custom Suits">
							<div class="dropdown-img-text">
								<h3><a href="#" title="Shop Shirts">Shop Shirts</a></h3>
							</div>
						</div>
					</li>
					<li>
						<a href="#" title="Gift Cards">Gift Cards</a>
						<div class="img-box">
							<img src="images/shop-img03.jpg" alt="Gift Cards">
							<div class="dropdown-img-text">
								<h3><a href="#" title="Shop Shirts">Shop Shirts</a></h3>
							</div>
						</div>
					</li>
				</ul>
				<ul class="slide-nav">
					<li><a href="#login-modal" data-toggle="modal" title="Login">Login</a></li>
					<li><a href="#" title="Our Story">Our Story</a></li>
					<li><a href="#" title="Satisfaction Guarantee">Satisfaction Guarantee</a></li>
					<li><a href="#" title="Contact Us">Contact Us</a></li>
					<li><a href="#" title="Help">Help</a></li>
					<li><a href="#" title="Shipping">Shipping</a></li>
				</ul>
			</div>
		</div>
		<!-- End Panel -->
		
		<!-- Start Contant -->
		<section class="main-wrap clearfix">

			<div class="collection-landing-banner">
				<div class="fillimg1">
					<img src="images/collection-landing-banner.jpg" class="visible-desktop-2560" alt="Banner">
					<img src="images/collection-landing-banner-mobile.jpg" class="visible-mobile-1080" alt="Banner">
					<div class="banner-text">
						<div class="banner-text-inner">
							<div class="banner-wrap">
								<h1>
									<span>YOU’RE AN INDIVIDUAL.</span>
									<span>DRESS LIKE ONE.</span>
								</h1>
								
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="collection-landing-banner landing-banner-new collection-banner-new">
				<div class="fillimg1">
					<img src="images/new-collection-landing-banner.jpg" class="visible-desktop-2560" alt="Banner">
					<img src="images/new-collection-landing-banner-mobile.jpg" class="visible-mobile-1080" alt="Banner">
					

					<div class="banner-text">
						<div class="container">

							<div class="banner-wrap">
								<div class="exclusive-offer-block">
									<h4>EXCLUSIVE OFFER FOR</h4>
									<img src="images/institute-img.png" alt="">
								</div>
								<h1>
									Two for One Tailored Shirts
								</h1>
								<h3>USE CODE <a href="#"> AICD</a> AT CHECKOUT</h3>


							</div>

						</div>
					</div>


				</div>
			</div>

			<div class="collection-landing-banner collection-banner-new insidegolf-collection">
				<div class="fillimg1">
					<img src="images/insidegolf-collection-2560.jpg" class="visible-desktop-2560" alt="Banner">
					<img src="images/insidegolf-collection-750.jpg" class="visible-mobile-1080" alt="Banner">
					

					<div class="banner-text">
						<div class="container">
							<div class="insidegolf-collection-logo">
								<img src="images/insidegolf-collection-logo-2560.jpg" class="visible-desktop-2560" alt="Logo">
								<img src="images/insidegolf-collection-logo-1080.jpg" class="visible-mobile-1080" alt="Logo">
							</div>
							<div class="banner-wrap">
								
								<h3>HAND MADE CUSTOM SHIRT</h3>
								<h1>FROM ONLY $50 <span>(NORMALLY <em>$99+</em>)</span></h1>


							</div>

						</div>
					</div>


				</div>
			</div>

			<div class="day-only-banner">
				<div class="fillimg1">
					<img src="images/collection-daybanner-2560.jpg" class="visible-desktop-2560" alt="Banner">
					<img src="images/collection-daybanner-750.jpg" class="visible-mobile-1080" alt="Banner">

					<div class="banner-text">
						<div class="container">

							<div class="days-offer-block">
								<img src="images/hurry-landing-2560.jpg" alt="">
							</div>
							<div class="banner-wrap">
								<span class="off-text">40% OFF</span>
								<h1>
									All Tailored Shirts
								</h1>
								<h3>FROM <span class="started-rs">$59</span> <span class="upto-rs">($99+)</span> </h3>
							</div>

						</div>
					</div>


				</div>
			</div>
			<div class="collection-landing-banner">
				<div class="fillimg1">
					<img src="images/colletion-banner-twenty-per-2560.jpg" class="visible-desktop-2560" alt="Banner">
					<img src="images/colletion-banner-twenty-per-750.jpg" class="visible-mobile-1080" alt="Banner">
				</div>
			</div>
			<div class="catalogue-collection-landing-banner">
				<div class="fillimg1">
					<img src="images/catalogue-freeshirt-banner-2560.jpg" class="visible-desktop-2560" alt="Banner">
					<img src="images/catalogue-freeshirt-banner-750.jpg" class="visible-mobile-1080" alt="Banner">
					<div class="banner-text">
						<div class="banner-text-inner">
							<div class="banner-wrap">
								<div class="clearfix">
									<div class="sen-1116-img">
										<img src="images/sen-1116.png" alt="">
									</div>
									<div class="catalogue-content">
										<h1>
											<span>CLAIM YOUR</span>
											<span>FREE SHIRT.</span>
										</h1>
										<span class="voucher-text">($99 VALUE VOUCHER)</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="collection-landing-banner">
				<div class="fillimg1">
					<img src="images/collection-gq-banner-2560.jpg" class="visible-desktop-2560" alt="Banner">
					<img src="images/collection-gq-banner-750.jpg" class="visible-mobile-1080" alt="Banner">
				</div>
			</div>
			<div class="content-wrap">
				<div class="product-block">
					<div class="container">
						<div class="product-block-inner">
							<div class="product-search-block">
								<div class="row">
									<div class="col-sm-12">
										<label class="visible-xs">
											ENTER PRODUCT Code
											or Reference #:
										</label>
										<div class="custom-search-input">
											<div class="input-group col-md-12">
												<input type="text" class="form-control input-lg hidden-xs" placeholder="Product Code or Reference #" />
												<input type="text" class="form-control input-lg visible-xs" placeholder="e.g. TM1750" />
												<span class="input-group-btn">
													<button class="btn btn-lg" type="button">
														<img src="images/search-icon.svg" alt="Search">
													</button>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="collections-filter-block">
								<div class="row">
									<div class="col-sm-7">
										<div class="collections-filter">
											<ul>
												<li>COLOUR <i class="fa fa-caret-down" aria-hidden="true"></i>
													<div class="chekbox-outer collections-filter-list">
														<ul class="contribution-radio">
															<li class="all">
																<label>
																	<input type="checkbox"  class="icheck">
																	<span>ALL</span>
																</label>
															</li>
															<li class="black">
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>BLACK</span>
																</label>
															</li>
															<li class="blue">
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>BLUE</span>
																</label>
															</li>
															<li class="brown">
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>BROWN</span>
																</label>
															</li>
															<li class="burgundy">
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>BURGUNDY</span>
																</label>
															</li>
															<li class="gray">
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>GRAY</span>
																</label>
															</li>
															<li class="green">
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>GREEN</span>
																</label>
															</li>
															<li class="navy">
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>NAVY</span>
																</label>
															</li>
															<li class="pink">
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>PINK</span>
																</label>
															</li>
															<li class="purple">
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>PURPLE</span>
																</label>
															</li>
															<li class="red">
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>RED</span>
																</label>
															</li>
															<li class="white">
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>WHITE</span>
																</label>
															</li>
														</ul>
													</div>

												</li>
												<li>PATTERN <i class="fa fa-caret-down" aria-hidden="true"></i>
													<div class="chekbox-outer collections-filter-list">
														<ul class="contribution-radio collections-outer">
															<li>
																<label>
																	<input type="checkbox"  class="icheck">
																	<span>ALL</span>
																</label>
															</li>
															<li>
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>Medium</span>
																</label>
															</li>
															<li>
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>Thick</span>
																</label>
															</li>
															<li>
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>Thin</span>
																</label>
															</li>

														</ul>
													</div>
												</li>
												<li>PRICE <i class="fa fa-caret-down" aria-hidden="true"></i>
													<div class="chekbox-outer collections-filter-list">
														<ul class="contribution-radio collections-outer">
															<li>
																<label>
																	<input type="checkbox"  class="icheck">
																	<span>ALL</span>
																</label>
															</li>
															<li>
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>Medium</span>
																</label>
															</li>
															<li>
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>Thick</span>
																</label>
															</li>
															<li>
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>Thin</span>
																</label>
															</li>

														</ul>
													</div>
												</li>
												<li>WEAVE <i class="fa fa-caret-down" aria-hidden="true"></i>

													<div class="chekbox-outer collections-filter-list last">
														<ul class="contribution-radio collections-outer">
															<li>
																<label>
																	<input type="checkbox"  class="icheck">
																	<span>All Weaves</span>
																</label>
															</li>
															<li>
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>Chambrays</span>
																</label>
															</li>
															<li>
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>Dobby</span>
																</label>
															</li>
															<li>
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>Herringbone</span>
																</label>
															</li>
															<li>
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>Lacoste</span>
																</label>
															</li>
															<li>
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>Linen</span>
																</label>
															</li>
															<li>
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>Linen Cottons</span>
																</label>
															</li>
															<li>
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>Oxford</span>
																</label>
															</li>
															<li>
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>Oxford/Dobby</span>
																</label>
															</li>
															<li>
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>Poplin</span>
																</label>
															</li>
															<li>
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>Poplin/Dobby</span>
																</label>
															</li>
															<li>
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>Spun</span>
																</label>
															</li>
															<li>
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>Twill</span>
																</label>
															</li>
															<li>
																<label>
																	<input type="checkbox"  class="icheck">					
																	<span>Twill/Dobby</span>
																</label>
															</li>
														</ul>
													</div>
												</li>
											</ul>
										</div>
									</div>
									<div class="col-sm-5 visible-xs hidden-xs">
										<div class="collections-filter-link">
											<ul>
												<li><a href="#" title="DRESS">DRESS</a></li>
												<li><a href="#" title="BUSINESS">BUSINESS</a></li>
												<li><a href="#" title="CASUAL">CASUAL</a></li>
												<li><a href="#" title="ALL" class="sel">ALL</a></li>

											</ul>
										</div>
									</div>
								</div>
							</div>
							<ul class="product-listing clearfix">
								<li>
									<div class="img-block">
										<a href="#" title="Tailors Mark">
											<img src="images/tm0122.jpg" alt="Shirt">
										</a>
									</div>
									<div class="product-detail">
										<span class="product-code">TM1710</span>
										<p>Twill, Medium, 100% Cotton</p>
										<span class="product-price">
											<em class="old-price">$139</em> 
											<em class="new-price">FREE</em>
										</span>
									</div>
								</li>
								<li>
									<div class="img-block">
										<a href="#" title="Tailors Mark">
											<img src="images/no-shirt-img.jpg" alt="Shirt">
										</a>
									</div>
									<div class="product-detail">
										<span class="product-code">TM1710</span>
										<p>Twill, Medium, 100% Cotton</p>
										<span class="product-price">
											<em class="old-price">$139</em> 
											<em class="new-price">$70</em>
										</span>
									</div>
								</li>
								<li>
									<div class="img-block">
										<a href="#" title="Tailors Mark">
											<img src="images/tm0175.jpg" alt="Shirt">
										</a>
									</div>
									<div class="product-detail">
										<span class="product-code">TM1710</span>
										<p>Twill, Medium, 100% Cotton</p>
										<span class="product-price">
											<em class="old-price">$139</em> 
											<em class="new-price">$70</em>
										</span>
									</div>
								</li>
								<li>
									<div class="img-block own-design-block">
										<a href="#" title="Tailors Mark">
											<img src="images/design-own.jpg" alt="Shirt">

											<div class="img-text">
												<div class="banner-text-inner">
													<div class="banner-wrap">
														<p>	
															DESIGN
															<span>YOUR OWN</span>
														</p>
														<em class="free-text">FREE</em>
														<em>from $70</em>
														<em>Normally <em class="old-price">$99+</em></em>
													</div>
												</div>
											</div>
										</a>
									</div>

								</li>
								<li>
									<div class="img-block">
										<a href="#" title="Tailors Mark">
											<img src="images/tm0109.jpg" alt="Shirt">
										</a>
									</div>
									<div class="product-detail">
										<span class="product-code">TM1710</span>
										<p>Twill, Medium, 100% Cotton</p>
										<span class="product-price">
											<em class="old-price">$139</em> 
											<em class="new-price">$70</em>
										</span>
									</div>
								</li>
								<li>
									<div class="img-block">
										<a href="#" title="Tailors Mark">
											<img src="images/tm0165.jpg" alt="Shirt">
										</a>
									</div>
									<div class="product-detail">
										<span class="product-code">TM1710</span>
										<p>Twill, Medium, 100% Cotton</p>
										<span class="product-price">
											<em class="old-price">$139</em> 
											<em class="new-price">$70</em>
										</span>
									</div>
								</li>
								<li>
									<div class="img-block">
										<a href="#" title="Tailors Mark">
											<img src="images/tm0134.jpg" alt="Shirt">
										</a>
									</div>
									<div class="product-detail">
										<span class="product-code">TM1710</span>
										<p>Twill, Medium, 100% Cotton</p>
										<span class="product-price">
											<em class="old-price">$139</em> 
											<em class="new-price">$70</em>
										</span>
									</div>
								</li>
								<li>
									<div class="img-block own-design-block">
										<a href="#" title="Tailors Mark">
											<img src="images/design-own.jpg" alt="Shirt">

											<div class="img-text">
												<div class="banner-text-inner">
													<div class="banner-wrap">
														<p>Shop more</p>
														<em>from $70</em>
														<em>Normally <em class="old-price">$99+</em></em>
													</div>
												</div>
											</div>
										</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="collection-content-block">
					<div class="container">
						<div class="row">
							<div class="col-sm-3 mob-collection-img">
								<img src="images/collection-img.jpg" alt="Collection" class="hidden-xs">
								<img src="images/mob-collection-img.jpg" alt="Collection" class="visible-xs">
							</div>
							<div class="col-sm-9">
								<h2>Tailors Mark: Custom Business Shirts, Online. </h2>

								<h3 class="text">You’re an individual, dress like one.</h3>
								<p class="last">
									At Tailors Mark, it’s our ambition to make it easy for you to buy <b>business shirts</b> that express your individuality. At work and on the weekends, it’s the clothes we wear that define us - so we’ve streamlined the process and made it easy to buy <b>custom business shirts online. </b>
								</p>


								<h3>Design Your Own Shirt. </h3>
								<p>
									At Tailors Mark, we know that there’s always something off about buying a shirt off the shelf. Whether the right arm is a little too long, or it doesn’t quite fit around the shoulders. With us, we’ve simplified the process. 
								</p>
								<p>
									We’ll send one of our tailors out to you to get you measured, input your data, and then create a <b> custom shirt, suit, jacket, or pair of pants, tailored to suit you. </b> Once you’ve been measured, we’ll store your details, which means you’ll able to order and re-order custom clothing again and again online. 
								</p>
								<p class="last">
									Once you’ve been fitted, you can choose from thousands of <b>men’s shirt and suit styles,</b> in all different colours, cuts, and fabrics. It’s all done online, so in just a few minutes you can choose your styles, place them in the cart, and have the order placed in our tailoring studio. 
								</p>


								<div class="more-content">
									<h3>Embrace You.</h3> 

									<p>
										We’ve created ranges and styles that are crafted for all occasions, from <b>wedding outfits and suits, to tailored pants and chinos, to dress shirts for work.</b> We’re an Australian company, and we place huge importance on speed of service and quality, so within three weeks of your order your <b>tailored clothing</b> will arrive at your door. 
									</p>
									<p>
										Because we’re careful during the measuring process, our fits are almost always delivered to your exact specifications. Over the past few years, we’ve managed to create efficiencies in our system so that our return rate is well below most <b>tailored suit brands.</b>
									</p>
									<p>
										Together with creating <b>custom outfits,</b> we make it easy for you to pair your exotic choices with the basics, so there’s a range of <b>tailored clothing</b> options available on our website that narrow down the choices for you. 
									</p>
									<p class="last">
										When you’re selecting your shirt online, we tailor our system to choose the fabrics that are best suited to you, guiding you though the process of selecting <b>fabric and model, collar and cuff, size and shape.</b> Once you’ve chosen the design details, we’ll help you choose from <b>slim fit, standard fit, larger fit, extra loose, long sleeve, or short sleeve custom made men’s shirts.</b> We hire people who have worked in the fashion industry for many years. People who take pride in their <b>fashion jobs,</b> and have the required experience to guide you through the process. 
									</p>


									<h3>Dress it up, dress it down.</h3>
									<p>
										<b>
											With Hidden buttons, custom stitching, tuxedo plackets, front darts, and stitched branding, you can make it work for any occasion. 
										</b> 
									</p>
									<p>
										Since we started as a business in Australia, we’ve had people from all over the world creating accounts online. What we’ve noticed, is that once you’ve created your fit, there’s no real reason to shop anywhere else. 
									</p>
									<p>
										At Tailors Mark, our choices mean that you can buy <b>custom made basics</b> and still have money left over to pair the basics with flourishes of colour and flare across the rest of your wardrobe, from <b>tailor made pants to tailored trousers, dress shirts, and made to measure suits.</b>
									</p>
									<p class="last">
										We’ve set up so that our products are tiered. While we never compromise on service or quality, you can choose materials and fabrics that save you money on the basics, while spending a little more on your clothes for special occasions, <b>like wedding suits, wedding outfits, and custom jackets. </b>
									</p>


									<h3>The best day of your life, not the best day of someone else’s.</h3>
									<p>
										Our wedding suiting and wedding outfit range is always tailored to your individual needs, because on your wedding day, it’s important to express your individuality and to feel and look yourself. 
									</p>
									<p class="last">
										Together with your grooms party, you’ll be able to select and customise <b>men’s shirts, tailored trousers, tailored jackets, and tailor made pants.</b> We’ll make a fitting appointment, get you measured, and deliver everything in time for wedding day. 
									</p>


									<h3>Individuality, Simplified. </h3>

									<p>
										<b>We make custom made shirts and suits that save you time.</b>
									</p>

									<p>
										Since day one, it’s been our vision to simplify the tailoring experience. So we’ve created a step by step guide that helps you get measured, and design your shirt from start to finish. You can stick to the <b>basics</b>, or customise from <b>thousands of design details, fabrics and materials.</b>
									</p>  
									<p>
										Follow our simple step-by-step instructions to design your tailored clothing.
									</p>

									<h3>You’re an individual, dress like one.</h3>

									<h3>Buy Now.</h3>


								</div>
								<a class="read-more-link" title="" href="#">
									<em>
										<span class="read-more">more</span>
										<span class="read-less">less</span>
									</em>
								</a>

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Contant -->

	</div>


	<footer class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-xs-6 first-col">
						<h3>About</h3>
						<ul class="footer-nav">
							<li><a href="#" title="Home">Home</a></li>
							<li><a href="#" title="About us">About us</a></li>
							<li><a href="#" title="About our Fabrics">About our Fabrics</a></li>
							<li><a href="#" title="Privacy policy">Privacy policy</a></li>
							<li><a href="#" title="Terms">Terms</a></li>
							<li class="hidden-mobile-1080"><a href="#" title="Shipping">Shipping</a></li>
							<li><a href="#" title="Become a style consultant">Become a style consultant</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-4 col-xs-6 middle-col">
						<h3 class="visible-desktop-2560 ">Customer Service</h3>
						<h3 class="visible-mobile-1080">Support</h3>
						<ul class="footer-nav">
							<li><a href="#" title="Support">Support</a></li>
							<li class="visible-desktop-2560"><a href="#" title="Alterations &amp; Returns">Alterations  &amp; Returns</a></li>
							<li class="visible-mobile-1080"><a href="#" title="Alterations &amp; Returns">Alterations </a></li>
							<li><a href="#" title="Book A Fitting">Book A Fitting</a></li>
							<li><a href="#" title="FAQs">FAQs</a></li>
							<li class="visible-mobile-1080"><a href="#" title="Contact Us">Contact Us</a></li>
							<li><a href="#" title="How to read fabric information">How to read fabric information</a></li>
							<li class="visible-desktop-2560"><a href="#" title="Contact Us">Contact Us</a></li>
						</ul>

						<div class="phone-link hidden-mobile-1080">
							<h3 class="visible-desktop-2560 ">CALL US</h3>
							<a href="tel:13008574788" title="Call">1300 857 478</a>
						</div>


					</div>
					<div class="col-sm-4 col-xs-12  last-col">
						<div class="phone-link visible-mobile-1080">
							<h3>CALL US</h3>
							<a href="tel:13008574788" title="Call">1300 857 478</a>
						</div>
						<h3 class="hidden-mobile-1080">Mailing List</h3>
						<form class="mailing-form hidden-mobile-1080">
							<div class="form-group">
								<input type="text" placeholder="Your name" class="form-control">
							</div>
							<div class="form-group">
								<input type="text" placeholder="Your email" class="form-control">
								<a href="#" title="Submit" class="submit-btn">
									<img src="images/submit-btn.svg" alt="Submit">
								</a>
							</div>
						</form>
						<h3 class="">Follow Us</h3>
						<ul class="social-links">
							<li><a href="#" title="Facebook" class="fa fa-facebook"></a></li>
							<li><a href="#" title="Instagram" class="fa fa-instagram"></a></li>
							<li class="hidden"><a href="#" title="Pinterest" class="fa fa-pinterest-p"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<span class="copyright-text"><i><img src="images/footer-btn.svg" alt=""></i> Copyright 2010-2016 Tailors Mark. All rights reserved. </span>
				<span class="footer-links">
					<a href="#" title="Terms of Use">Terms of Use</a><em>|</em><a href="#" title="Privacy Policy">Privacy Policy</a>
				</span>

				<div class="client-link">
					<a href="#" title="A Custom Innovation Co. Business">
						<div class="box">
						</div>
						Custom Innovation Co.
					</a>
					<span class="copyright-text custom-innovation">A Custom Innovation Co. Business.</span>
				</div>
			</div>
		</div>
	</footer>


	<div id="login-modal" class="modal login-popup fluid-modal fade">
		<div class="modal-dialog">
			<div class="container">
				<div role="alert" class="alert alert-danger">
					<strong>Oh snap!</strong> Change a few things up and try submitting again.
					<a title="close" aria-label="close" data-dismiss="alert" class="close" href="#">×</a>
				</div>

				<div class="alert alert-success fade in">
					<a title="close" aria-label="close" data-dismiss="alert" class="close" href="#">×</a>
					<strong>Success!</strong> This alert box indicates a successful or positive action.
				</div>
				<div class="popup-header">
					<a class="logo" href="#"title="Tailors Mark" ><img src="images/logo.svg" alt="Tailors Mark"></a>
					<a href="#" title="Close" class="close" data-dismiss="modal" aria-hidden="true">
						<img src="images/close-icon.svg" alt="Close">
					</a>
				</div>
				<div class="popup-content">
					<div class="top-block">
						<div class="col">
							<h3>Login <a class="pull-right visible-xs" title="Forgot your password?" href="#">Forgot your password?</a></h3>
							<form class="form-horizontal">
								<div class="form-group">
									<input type="email" class="form-control error" id="inputEmail" placeholder="e-mail">
									<label class="error">Please enter a valid email</label>
								</div>
								<div class="form-group">
									<input type="password" class="form-control"  placeholder="password">
								</div>
								<div class="form-group form-btn">
									<button type="submit" class="btn btn-default">Login</button>
									<a href="#" title="Forgot your password?" class="pull-right hidden-xs">Forgot your password?</a>
								</div>
							</form>
						</div>
					</div>
					<div class="bottom-block">
						<div class="col">
							<h4>Don't have an account?</h4>
							<span>Enter your email to receive exclusive offers.</span>
							<form class="form-horizontal">
								<div class="form-group">
									<input type="text" class="form-control"  placeholder="First Name">

								</div>
								<div class="form-group">
									<input type="text" class="form-control error"  placeholder="Last Name">
									<label class="error">Please enter a valid last name</label>

								</div>
								<div class="form-group">
									<input type="email" class="form-control"  placeholder="e-mail">
								</div>
								<div class="form-group form-btn">
									<button type="submit" class="btn btn-default">Sign-Up</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>