<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tailors Mark</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/main.css">		
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body class="competition-page">
	<!-- Start Wrapper -->
	<div class="wrapper">
		<!-- Start Header -->
		<header class="header">
			<div class="container">
				<a href="#" class="logo" title="Tailors Mark">
					<img src="images/landing-logo.svg" alt="Tailors Mark">
				</a>
			</div>
		</header>
		<!-- End Header -->

		<!-- Start Contant -->
		<section class="main-wrap clearfix">
			
			<div class="win-competition-banner" id="win-competition-banner">
				<div class="banner-content">
					<div class="container">
						<div class="competition-main-block ">
							<h1><span>win</span> the ultimate wardrobe giveaway</h1>
							<h3>valued at $1651, including a style session with</h3>
							<img src="images/shaun-birley.png" alt="Shaun-logo" class="shaun-logo">
							<h3>plus, 25 x $99 shirts to be won</h3>
							
							<div class="form-block">
								<h4>enter your details for your chance to win</h4>
								<form>
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group error-msg">
												<input type="text" class="form-control" placeholder="First Name">
												<label class="error">Enter a Wedding date</label>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<input type="text" class="form-control" placeholder="Last Name">
											</div>
										</div>
									</div>
									<div class="form-group error-msg">
										<input type="email" class="form-control" placeholder="Email Address">
										<label class="error">Enter a Wedding date</label>
									</div>
									<div class="form-group">
										<label class="checkbox-outer">
											<input type="checkbox" class="icheck" name="icheck"> 
											I agree to <a href="#terms-conditions" data-toggle="modal">terms &amp; conditions</a>  of entry and understand this constitutes receiving marketing materials from the promoters. 
										</label>

									</div>
									<div class="error-msg clearfix">
										<label class="error">You must check at least 1 box</label>
									</div>
									<div class="button clearfix">
										<a href="#" class="white-border-btn" title="ENTER NOW">
											ENTER NOW
										</a>
									</div>
									<a href="#prize-competition-banner" title="View The Prizes" class="view-prize-link">VIEW THE PRIZES</a>
								</form>
								<a href="#" class="logo tm-bottom-logo" title="Tailors Mark">
									<img src="images/landing-logo.svg" alt="Tailors Mark">
								</a>
							</div>
						</div>

						<div class="competition-sub-block block-1 hidden">
							<div class="top-logo-block clearfix">
								<a href="#" class="tm-top-logo" title="Tailors Mark">
									<img src="images/landing-logo.svg" alt="Tailors Mark">
								</a>
								<a href="#" class="tm-birley-logo" title="Shaun Birley">
									<img src="images/shaun-birley.png" alt="Shaun Birley" class="img-responsive">
								</a>
							</div>
							<h2>YOU'RE IN.</h2>
							<h3>SHARE WITH YOUR MATES FOR A BONUS ENTRY.</h3>
							<ul class="social-links">
								<li><a href="#" title="Facebook" class="fa fa-facebook"></a></li>
								<li><a href="#" title="Mail" class="fa fa-envelope"></a></li>
							</ul>
							<p>MAX 1 EXTRA ENTRY PER SHARING.</p>
							<p><a href="#!" title="TERMS &amp; CONDITIONS">TERMS &amp; CONDITIONS</a></p>
						</div>

						<div class="competition-sub-block block-2 hidden">
							<div class="top-logo-block clearfix">
								<a href="#" class="tm-top-logo" title="Tailors Mark">
									<img src="images/landing-logo.svg" alt="Tailors Mark">
								</a>
								<a href="#" class="tm-birley-logo" title="Shaun Birley">
									<img src="images/shaun-birley.png" alt="Shaun Birley" class="img-responsive">
								</a>
							</div>
							<h2>YOU'RE IN.</h2>
							<h3>SHARE WITH YOUR MATES FOR A BONUS ENTRY.</h3>
							<ul class="social-links">
								<li><a href="#" title="Facebook" class="fa fa-facebook"></a></li>
								<li class="active"><a href="#" title="Mail" class="fa fa-envelope"></a></li>
							</ul>
							<div class="form-block">
								<form>
									<div class="form-group">
										<input type="email" class="form-control" placeholder="Enter friend's email">
									</div>
									<div class="button clearfix">
										<a href="#" class="white-border-btn" title="Share Now">
											Share Now
										</a>
									</div>
								</form>
							</div>
							<p>MAX 1 EXTRA ENTRY PER SHARING.</p>
							<p><a href="#!" title="TERMS &amp; CONDITIONS">TERMS &amp; CONDITIONS</a></p>
						</div>

						<div class="competition-sub-block block-3 hidden">
							<div class="top-logo-block clearfix">
								<a href="#" class="tm-top-logo" title="Tailors Mark">
									<img src="images/landing-logo.svg" alt="Tailors Mark">
								</a>
								<a href="#" class="tm-birley-logo" title="Shaun Birley">
									<img src="images/shaun-birley.png" alt="Shaun Birley" class="img-responsive">
								</a>
							</div>
							<h2>Nice One.</h2>
							<h3>
								YOU SCORED AN EXTRA ENTRY.
								<span>SHARE AGAIN FOR ANOTHER ONE.</span>
							</h3>
							<ul class="social-links">
								<li><a href="#" title="Facebook" class="fa fa-facebook"></a></li>
								<li class="active"><a href="#" title="Mail" class="fa fa-envelope"></a></li>
							</ul>
							<p>MAX 1 EXTRA ENTRY PER SHARING.</p>
							<p><a href="#!" title="TERMS &amp; CONDITIONS">TERMS &amp; CONDITIONS</a></p>
						</div>
					</div>
				</div>
			</div>

			<div class="prize-competition-banner" id="prize-competition-banner">
				<div class="banner-content">
					<div class="container">
						<div class="inner-prize-banner">
							<h2>PRIZES</h2>
							
							<h3>THE ULTIMATE WARDROBE</h3>
							<span>Valued at $1,651</span>
							
							<ul>
								<li>- A Personal Fitting / Styling Session with <em class="hidden-xs">Style Influencer &amp; Globe Trotter, </em>Shaun Birley</li>
								<li>- A Premium 100% Wool Tailored Suit (Valued at $1399)</li>
								<li>- A Premium 100% Cotton Tailored Shirt (Valued at $139)</li>
								<li>- A Bow Tie</li>
								<li>- A Pocket Square</li>
							</ul>
							
							<h4>
								Plus, 25 <em>x</em> Tailored Shirts
								<span>(Valued at $99 each) to be won</span>
							</h4>
							
							<div class="button clearfix">
								<a href="#win-competition-banner" class="white-border-btn btn-enter-now" title="ENTER NOW">
									ENTER NOW
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			

			<div id="terms-conditions" class="modal save-design-signup fade">
				<div class="modal-dialog">
					<div class="container">
						<div class="popup-header">
							<a href="#" title="Close" class="close" data-dismiss="modal" aria-hidden="true">
								<img src="images/close-icon.svg" alt="Close">
							</a>
						</div>
						<div class="popup-content">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quos deleniti minus tempore quis, dolore officia commodi harum. Odio voluptates, numquam ut? Nobis cumque fuga saepe, iste deserunt porro repudiandae!
							</p>


						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Contant -->

	</div>
	<!-- End Wrapper -->

	<footer class="footer">
		<div class="footer-bottom">
			<div class="container">

				<div class="footer-logos">
					<a href="#" class="tm-logo" title="Tailors Mark">
						<img src="images/landing-logo.svg" alt="Tailors Mark">
					</a>
					<a href="#" title="Shaun Birley" class="shaun-logo">
						<img src="images/shaun-birley.png" alt="shaun-birley">
					</a>
				</div>


				<span class="copyright-text">
					<i><img src="images/footer-btn.svg" alt=""></i> 
					Copyright 2010-2017 Tailors Mark. All rights reserved.
				</span>
				<span class="footer-links">
					<a href="#" title="Terms of Use">Terms of Use</a><em>|</em><a href="#" title="Privacy Policy">Privacy Policy</a>
				</span>
			</div>
		</div>
	</footer>
	</html>