<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tailors Mark</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/main.css">		
	<script type="text/javascript" src="js/main.js"></script>
</head>

<body class="checkout-body">


	<div class="wrapper inner-page checkout-wrapper">

		<!-- Start Contant -->
		<div class="main-wrap clearfix">		
			<div class="container checkout-page edit-shipping">

				<!-- Start Header -->
				<header class="header">

					<div class="row">
						<div class="col-sm-4 col-xs-6">
							<a href="#" title="Tailors Mark" class="logo">
								<img src="images/logo.svg" alt="Tailors Mark">
							</a>
						</div>
						<div class="col-sm-8 col-xs-6">
							<div class="user-menu">
								<div class="cart-link">
									$339 (2)
								</div>
								<div class="login-link">
									Hi, david <a href="#" title="Logout">Logout</a>
								</div>
							</div>
						</div>
					</div>

				</header>
				<!-- End Header -->

				<div class="row">
					<div class="col-sm-12">
						<div role="alert" class="alert alert-danger">
							<strong>Oh snap!</strong> Change a few things up and try submitting again.
							<a title="close" aria-label="close" data-dismiss="alert" class="close" href="#">×</a>
						</div>
					</div>
				</div> 

				<div class="row">
					<div class="col-md-7">
						<div class="row">
							<div class="col-sm-12">
								<a class="back-btn" href="#" title="Back">
									<img alt="" src="images/back-arrow.svg"> 
									BACK
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-9 col-xs-6 top-left clearfix">
								<h1>Edit Shipping Address</h1>
							</div>
							<div class="col-sm-3 col-xs-6 clearfix">
								<span class="master-card-img">
									<img src="images/mastercard-1.png" alt="Master Card" class="img-responsive">
								</span>
							</div>
						</div>
					</div>
				</div>


				<div class="row button-bottom-outer">
					<div class="col-sm-7">
						<div class="left-block">
							<div class="form-block">
								<form class="form-horizontal">
									<div class="form-group">
										<div class="row">
											<div class="col-sm-3 col-xs-3 label-col">
												<label>
													Your Name
												</label>
											</div>
											<div class="col-sm-9  right-form-block">
												<input type="text" class="form-control" placeholder="Your Name">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-3 col-xs-3 label-col">
												<label>Address</label>
											</div>
											<div class="col-sm-9  right-form-block">
												<input type="text" class="form-control" placeholder="Address">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-3 col-xs-3 label-col">
												<label>Town / City</label>
											</div>
											<div class="col-sm-9  right-form-block">
												<input type="text" class="form-control" placeholder="Town / City">
											</div>
										</div>
									</div>
									<div class="form-group error-msg">
										<div class="row">
											<div class="col-sm-3 col-xs-3 label-col">
												<label>State / Territory</label>
											</div>
											<div class="col-sm-9  right-form-block">
												<div class="custom-dropdown hidden-xs">
													<select data-type="custom-dropdown">
														<option class="hidden-option">
															&nbsp;
														</option>
														<option>Western Australia</option>
														<option>Northern Territory</option>
														<option>South Australia</option>
														<option>Queensland</option>
														<option>New South Wales</option>
														<option>Victoria</option>
													</select>
												</div>
												<div class="custom-dropdown visible-xs">
													<div class="dk-selected">
														<a href="#state-modal" id="stateText"  data-toggle="modal" class="state-text" >State / Territory</a>
													</div>
												</div>
												<label class="error">Please enter a valid State / Territory</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-3 col-xs-3 label-col">
												<label>Country</label>
											</div>
											<div class="col-sm-9  right-form-block">
												<div class="custom-dropdown hidden-xs">
													<select data-type="custom-dropdown">
														<option class="hidden-option">
															&nbsp;
														</option>
														<option>India</option>
														<option>US</option>
														<option>India</option>
														<option>US</option>
														<option>India</option>
														<option>US</option>

													</select>
												</div>
												<div class="custom-dropdown visible-xs">
													<div class="dk-selected">
														<a href="#country-modal" id="countryText"  data-toggle="modal" class="state-text" >Country</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									

									<div class="form-group last">
										<div class="row">
											<div class="col-sm-3 col-xs-3 label-col">
												<label>Postcode</label>
											</div>
											<div class="col-sm-9  right-form-block">
												<input type="number" class="form-control error" placeholder="Postcode">
												<label class="error">Please enter a valid postcode</label>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>

					<div class="right-block hidden-xs">
						<div class="pull-right">
							<button type="button" class="btn btn-default active">
								<span>Update details </span> 
							</button>
						</div>
					</div>

				</div>

				<div class="right-block  visible-xs">
					<button type="button" class="btn btn-default active">
						<span>Update details </span> 
					</button>
				</div>
			</div>
		</div>
		<!-- End Contant -->
	</div>




	<div id="login-modal" class="modal login-popup fluid-modal fade">
		<div class="modal-dialog">
			<div class="container">
				<div role="alert" class="alert alert-danger">
					<strong>Oh snap!</strong> Change a few things up and try submitting again.
					<a title="close" aria-label="close" data-dismiss="alert" class="close" href="#">×</a>
				</div>

				<div class="alert alert-success fade in">
					<a title="close" aria-label="close" data-dismiss="alert" class="close" href="#">×</a>
					<strong>Success!</strong> This alert box indicates a successful or positive action.
				</div>
				<div class="popup-header">
					<a href="#" title="Close" class="close" data-dismiss="modal" aria-hidden="true">
						<img src="images/close-icon.svg" alt="Close">
					</a>
				</div>
				<div class="popup-content">
					<div class="top-block">
						<div class="col">
							<h3>Login <a class="pull-right visible-xs" title="Forgot your password?" href="#">Forgot your password?</a></h3>
							<form class="form-horizontal">
								<div class="form-group">
									<input type="email" class="form-control" id="inputEmail" placeholder="e-mail">
								</div>
								<div class="form-group">
									<input type="password" class="form-control"  placeholder="password">
								</div>
								<div class="form-group form-btn">
									<button type="submit" class="btn btn-default">Login</button>
									<a href="#" title="Forgot your password?" class="pull-right hidden-xs">Forgot your password?</a>
								</div>
							</form>
						</div>
					</div>
					<div class="bottom-block">
						<div class="col">
							<h4>Don't have an account?</h4>
							<span>Enter your email to receive exclusive offers.</span>
							<form class="form-horizontal">
								<div class="form-group">
									<input type="email" class="form-control"  placeholder="e-mail">
								</div>
								<div class="form-group form-btn">
									<button type="submit" class="btn btn-default">Sign-Up</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div id="state-modal" class="dropdown-popup modal fade">
		<div class="modal-dialog dropdown-popup-inner" id="mob-dropdown-lising">
			<ul class="dropdown-lising" data-dismiss="modal">
				<li><a href="#" class="active">Western Australia</a></li>
				<li><a href="#">Northern Territory</a></li>
				<li><a href="#">South Australia</a></li>
				<li><a href="#">Queensland</a></li>
				<li><a href="#">New South Wales</a></li>
				<li><a href="#">Victoria</a></li>	
			</ul>
		</div>
	</div>

	<div id="country-modal" class="dropdown-popup modal fade">
		<div class="modal-dialog dropdown-popup-inner" id="mob-dropdown-country">
			<ul class="dropdown-lising" data-dismiss="modal">
				<li><a href="#" class="active">India</a></li>
				<li><a href="#">US</a></li>
				<li><a href="#">India</a></li>
				<li><a href="#">US</a></li>
				<li><a href="#">India</a></li>
				<li><a href="#">US</a></li>
			</ul>
		</div>
	</div>



</body>
</html>



