<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tailors Mark</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="js/main.js"></script>
	<link rel="stylesheet" type="text/css" href="css/manoj.css">
	

</head>
<body class="home-page main-page">
	<div class="wrapper">
		<!-- Start Header -->
		<header class="header">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-xs-4 first-col">
						<ul class="navigation hidden-xs">
							<li>
								<a href="#" title="" class="nav-icons"><img src="images/nav-icon.png" alt=""></a>
								<div class="dropdown-menu about">
									<div class="drop-menu-inner">
										<ul>
											<li>About</li>
											<li><a href="#" title="Our Story">Our Story</a></li>
											<li><a href="#" title="Satisfaction Guarantee">Satisfaction Guarantee</a></li>
											<li><a href="#" title="Shipping">Shipping</a></li>
											<li><a href="#" title="Testimonials">Testimonials</a></li>
											<li><a href="#" title="Contact Us">Contact Us</a></li>
										</ul>
										<ul class="line">
											<li>Social</li>
											<li><a href="#" title="Facebook">Facebook</a></li>
											<li><a href="#" title="Instagram">Instagram</a></li>
											<li><a href="#" title="Pinterest">Pinterest</a></li>
										</ul>
									</div>
								</div>
							</li>
							<li class="hidden-xs"><a href="#" title="Shop">Shop</a>
								<div class="dropdown-menu shop">
									<div class="drop-menu-inner">
										<h2>Menswear</h2>
										<ul class="shop-dropdown">
											<li>
												<a href="#" title="Design a shirt">Design a shirt</a>
											</li>
											<li>
												<a href="#" title="Shirts collection">Shirts collection</a>
											</li>
										</ul>
										<ul class="shop-dropdown last">
											<li>
												<a href="#" title="Design a suit">Design a suit</a>
											</li>
											<li>
												<a href="#" title="Design a jacket">Design a jacket</a>
											</li>
											<li>
												<a href="#" title="Design pants">Design pants</a>
											</li>
											<li>
												<a href="#" title="Design chinos">Design chinos</a>
											</li>
											<li>
												<a href="#" title="Design a vest">Design a vest</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
						<div class="nav-icon visible-xs">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="col-sm-4 col-xs-4 logo-outer">
						<a href="#" class="logo" title="Tailors Mark">
							<img src="images/landing-logo.svg" alt="Tailors Mark">
						</a>
					</div>
					<div class="col-sm-4 col-xs-4 last-col">
						<ul class="header-links navigation clearfix">
							<li class="lang-selection"><a href="#" title="Cart">EN €</a>
								<div class="dropdown-menu">
									<div class="drop-menu-inner">
										<h3>Language</h3>
										<ul class="clearfix ">
											<li class="active"><a href="#" title="English">English</a></li>
											<li><a href="#" title="German">German</a></li>
										</ul>
										<h3 class="line">Currency</h3>
										<ul class="clearfix currency-drop">
											<li><a href="#" title="£ GBP">£ GBP</a></li>
											<li class="active"><a href="#" title="€ EUR">€ EUR</a></li>
											<li><a href="#" title="$ USD">$ USD</a></li>
											<li><a href="#" title="$ CAD">$ CAD</a></li>
											<li><a href="#" title="£ JPY">£ JPY</a></li>
											<li><a href="#" title="$ AUD">$ AUD</a></li>
											<li><a href="#" title="$ NZD">$ NZD</a></li>
											<li><a href="#" title="kr SEK">kr SEK</a></li>
											<li><a href="#" title="kr NOK">kr NOK</a></li>
											<li><a href="#" title="kr DKK">kr DKK</a></li>
										</ul>
									</div>
								</div>
							</li>
							<li class="cart-section"><a href="#" class="cart-link" title="Cart">$1.339 (2)</a></li>
							<li>
								<a href="#login-modal" class="user-text" title="Alessandro">DAVID</a>
								<div class="dropdown-menu alessandro">
									<div class="drop-menu-inner">
										<ul>
											<li><a href="#" title="My Account">My Account</a></li>
											<li><a href="#" title="Order history">Order history</a></li>
											<li><a href="#" title="Saved Profiles">Saved Profiles</a></li>
											<li><a href="#" title="Support">Support</a></li>
											<li class="line"><a href="#" title="Sign out">Sign out</a></li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<!-- End Header -->
		<!-- Start Panel -->
		<div class="slide-panel">
			<div class="slide-panel-inner">
				<ul class="slide-navigation">
					<li>
						<a href="#" title="Design a shirt">Design a shirt</a>
					</li>
					<li>
						<a href="#" title="Shirts collection">Shirts collection</a>
					</li>
					<li>
						<a href="#" title="Design a suit">Design a suit</a>
					</li>
				</ul>
				<ul class="slide-nav">
					<li><a href="#login-modal" data-toggle="modal" title="Login">Login</a></li>
					<li><a href="#" title="Our Story">Our Story</a></li>
					<li><a href="#" title="Satisfaction Guarantee">Satisfaction Guarantee</a></li>
					<li><a href="#" title="Contact Us">Contact Us</a></li>
					<li><a href="#" title="Help">Help</a></li>
					<li><a href="#" title="Shipping">Shipping</a></li>
				</ul>
			</div>
		</div>
		<!-- End Panel -->
		<!-- Start Contant -->
		<section class="main-wrap clearfix fitting-page">

			<div class="fitting-banner">
				<div class="fillimg1">
					<img src="images/fitting-banner-2560.jpg" class="hidden-xs" alt="Banner">
					<img src="images/fitting-banner-750.jpg" class="visible-xs" alt="Banner">
					<div class="banner-text">
						<div class="banner-text-inner">
							<div class="banner-wrap">
								<h1>Get fitted <span>without breaking stride.</span></h1>
								<h3>complimentary fittings at your home or office</h3>
								<div class="button clearfix">
									<a href="#before-book-modal" data-toggle="modal" class="white-border-btn" title="Book A Fitting">
										BOOK A FITTING
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="wedding-content-outer">
				<div class="container">
					<div class="wedding-content">
						<h3>Tailoring, Simplified.</h3>

						<p>Our personal style consultants will come to you at home or in the office, take your measurements, offer you style advice,and complete the online ordering process. You’ll be ordered and ready to go without breaking stride.</p>

						<a href="#works-block" class="btn btn-default active work-btn" title="How It Works?">
							How It Works?
							<img src="images/angle-down-blue.png" alt="">
							<img src="images/angle-down-white.png" alt="" class="roll-over">
						</a>

					</div>
				</div>

				<div class="works-block" id="works-block">
					<div class="container"> 
						<h4>HOW IT WORKS</h4>
						<ul class="clearfix">
							<li class="clearfix">
								<div class="img-thumb"><img src="images/work-icon01.png" alt=""></div>
								<em>1. Make a <span>Booking</span></em>
							</li>
							<li class="clearfix">
								<div class="img-thumb"><img src="images/work-icon02.png" alt=""></div>
								<em>2. Get <span>Measured</span></em>
							</li>
							<li class="clearfix">
								<div class="img-thumb"><img src="images/work-icon03.png" alt=""></div>
								<em>3. Choose Fabric <span>&amp; Design</span></em>
							</li>
							<li class="clearfix">
								<div class="img-thumb"><img src="images/work-icon04.png" alt=""></div>
								<em>4. Place <span>your order</span></em>
							</li>
							<li class="clearfix">
								<div class="img-thumb"><img src="images/work-icon05.png" alt=""></div>
								<em>5. Delivery <span>and fitting</span></em>

							</li>
							<li class="clearfix">
								<div class="img-thumb"><img src="images/work-icon06.png" alt=""></div>
								<em>6. Perfect Fit <span>Guaranteed</span></em>
							</li>
						</ul>

						<button type="button" class="btn btn-default active" title="Make a Booking">Make a Booking</button>
					</div>
				</div>

			</div>

			<div class="wedding-content-outer border-block">
				<div class="container">
					<div class="wedding-content">
						<h3>Make The Shift To Tailored.</h3>
						
						<p>Because when you start wearing tailor made clothes, you completely change the way you perceive the way clothes fit and feel.</p>

						<p>Tailored clothing is made for you, not some standard size that you’re supposed to be like.It means that our wares account for the fact that you’re long in the torso, or have slightly longer legs.</p>

						<p>At Tailors Mark, you can choose from thousands of fabrics, materials, and custom details from all over the world.With Tailors Mark, you can express your individuality through style. First in the fit, then in the details.</p>

					</div>
				</div>

			</div>

			<div class="local-melbourne-team-section">
				<div class="maps">
					<iframe src="https://www.google.co.in/maps" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<div class="melbourne-team-block">
					<div class="container ">
						<div class="local-container">
							<h3>Your local Melbourne Team</h3>
							<h2>We have 12 fitting consultants in YOUR AREA.<br>
								HERE ARE SOME OF THEM:</h2>

								<div class="fitting-consultants-slider">
									<div class="item">
										<div class="book-fitting-col">
											KAREN
											<span>Hampton, VIC</span>
											<div class="button clearfix">
												<a href="#" class="white-border-btn" title="Book A Fitting">
													BOOK A FITTING
												</a>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="book-fitting-col">
											KAREN
											<span>Hampton, VIC</span>
											<div class="button clearfix">
												<a href="#" class="white-border-btn" title="Book A Fitting">
													BOOK A FITTING
												</a>
											</div>
										</div>
									</div>

									
									<div class="item">
										<div class="book-fitting-col">
											KAREN
											<span>Hampton, VIC</span>
											<div class="button clearfix">
												<a href="#" class="white-border-btn" title="Book A Fitting">
													BOOK A FITTING
												</a>
											</div>
										</div>
									</div>

								</div>

								
							</div>
						</div>
					</div>
				</div>
				<div class="special-prices-section">
					<div class="container">
						<div class="special-prices-block">
							<div class="may-special-book">MAY SPECIAL: BOOK BEFORE 20/5/2017 </div>
							<h2>CUSTOM SUIT &amp; SHIRT FROM $699, SAVE $250.</h2>


							<ul class="prices-tabs clearfix">
								<li class="tab-link current first">BASIC RANGE</li>
								<li class="tab-link">CLASSIC RANGE</li>
								<li class="tab-link">PREMIUM RANGE</li>
								<li class="tab-link last">DELUXE RANGE</li>
							</ul>


							<div class="prices-tabbing-slider" id="prices-tabbing-slider">
								<div class="item">
									<div class="row">
										<div class="col-xs-6">
											<div class="prices-content">
												<h4>Basic Suit</h4>
												<p><span>$729</span> $629</p>
											</div>
										</div>
										<div class="col-xs-6">
											<div class="prices-content">
												<h4>Basic Suit</h4>
												<p><span>$729</span> $629</p>
											</div>
										</div>
									</div>									
								</div>
								<div class="item">
									<div class="row">
										<div class="col-xs-6">
											<div class="prices-content">
												<h4>Classic Suit</h4>
												<p><span>$729</span> $629</p>
											</div>
										</div>
										<div class="col-xs-6">
											<div class="prices-content">
												<h4>Classic Suit</h4>
												<p><span>$729</span> $629</p>
											</div>
										</div>
									</div>	
								</div>

								<div class="item">
									<div class="row">
										<div class="col-xs-6">
											<div class="prices-content">
												<h4>Premium Suit</h4>
												<p><span>$79</span> $629</p>
											</div>
										</div>
										<div class="col-xs-6">
											<div class="prices-content">
												<h4>Premium Suit</h4>
												<p><span>$72</span> $629</p>
											</div>
										</div>
									</div>	
								</div>
								<div class="item">
									<div class="row">
										<div class="col-xs-6">
											<div class="prices-content">
												<h4>Deluxe Suit</h4>
												<p><span>$29</span> $29</p>
											</div>
										</div>
										<div class="col-xs-6">
											<div class="prices-content">
												<h4>Deluxe Suit</h4>
												<p><span>$79</span> $69</p>
											</div>
										</div>
									</div>	
								</div>

							</div>


							<button type="button" class="btn btn-default active" title="Make a Booking">book a fitting</button>
						</div>
					</div><!-- container -->
				</div>

				<div class="rating-block">
					<div class="container">
						<div class="rating-content">
							<ul class="clearfix">
								<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
								<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
								<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
								<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
								<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
							</ul>				

							<p>“Love these shirts and the service that comes with them.
								The fit is better than any shirt off the rack with a huge selection of fabrics and styles to choose from. I'm now replacing all my shirts with TM fitted shirts and will be investing in a tailored suit next!”
							</p>

							<span>Luke Kelly</span>
						</div>

						<div class="rating-content">
							<ul class="clearfix">
								<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
								<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
								<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
								<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
								<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
							</ul>				

							<p>“Extremely satisfied with the product. What was produced from the automatic measure system fits my body perfectly. Good quality fabric is used as well. Lot better than travelling all the way to a store, and trying items on etc. Just bought my second batch of shirts today. Definitely recommend.”
							</p>

							<span>Jason Noyahr</span>
						</div>

						<div class="rating-content">
							<ul class="clearfix">
								<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
								<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
								<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
								<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
								<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
							</ul>				

							<p>“Andrew my TM Consultant was Very Helpful!  I was 132kgs &amp; 168cm tall &amp; being a High Profile Business Professional, it really wasn't easy to find good quality Business Attire that fit me properly, until I found Tailors Mark!
								Andrew matched a wide range of TM fabrics to my collection of shirts, ties, pants &amp; even my denim jeans to ensure I could mix &amp; match my New Jackets &amp; Suits to get the most number of combinations out of them &amp; look Sharp. 
								I offer my highest endorsement for Andrew &amp; the Team at TM, as I couldn't be happier with their High Quality Products &amp; Outstanding Service!”
							</p>

							<span>Frank Rizzo</span>
						</div>

						<em class="rating-img">
							<a href="#" title="Google Rating">
								<img src="images/rating-img.png" alt="Google Rating" class="img-responsive">
							</a></em>
						</div>
					</div>


					<div class="moment-thumbnail">
						<div class="moment-thumbnail-block">
							<ul class="clearfix">
								<li class="visible-xs"><img src="images/instagram_03.jpg" class="img-responsive" alt=""></li>
								<li class="hidden-xs"><img src="images/instagram_01.jpg" class="img-responsive" alt=""></li>
								<li><img src="images/instagram_02.jpg" class="img-responsive" alt=""></li>
								<li><img src="images/instagram_01.jpg" class="img-responsive" alt=""></li>
								<li class="visible-xs"><img src="images/instagram_05.jpg" class="img-responsive" alt=""></li>
								<li class="hidden-xs"><img src="images/instagram_02.jpg" class="img-responsive" alt=""></li>
								<li class="visible-xs"><img src="images/instagram_02.jpg" class="img-responsive" alt=""></li>
								<li class="hidden-xs"><img src="images/instagram_01.jpg" class="img-responsive" alt=""></li>
								<li class="hidden-xs"><img src="images/instagram_02.jpg" class="img-responsive" alt=""></li>
								<li class="visible-xs"><img src="images/instagram_01.jpg" class="img-responsive" alt=""></li>
								<li class="hidden-xs"><img src="images/instagram_03.jpg" class="img-responsive" alt=""></li>
								<li class="hidden-xs"><img src="images/instagram_04.jpg" class="img-responsive" alt=""></li>
								<li class="visible-xs"><img src="images/instagram_01.jpg" class="img-responsive" alt=""></li>
								<li class="hidden-xs"><img src="images/instagram_02.jpg" class="img-responsive" alt=""></li>
								<li><img src="images/instagram_05.jpg" class="img-responsive" alt=""></li>
								<li class="hidden-xs"><img src="images/instagram_02.jpg" class="img-responsive" alt=""></li>
								<li class="hidden-xs"><img src="images/instagram_05.jpg" class="img-responsive" alt=""></li>
							</ul>
							<span>TAILORS MARK MOMENTS</span>

						</div>

						<div class="bottom-moment-block">
							<div class="container">
								<ul class="clearfix">
									<li>
										<img src="images/icon-01.png" alt="">
										<span>Complimentary <i>Fitting.</i></span>
									</li>
									<li>
										<img src="images/icon-02.png" alt="">
										<span>Perfect Fit <i>GUARANTEE.</i></span>
									</li>
									<li>
										<img src="images/icon-03.png" alt="">
										<span>4 Week <i>Delivery</i></span>
									</li>
								</ul>
								<a href="#works-block" class="btn btn-default active" title="Make A Booking"> Make A Booking</a> 
							</div>
						</div>
					</div>


					<div class="fitting-block">
						<!-- <img src="images/fitting-img.jpg" alt="" class="img-responsive"> -->

						<div class="fitting-content ">
							<h2>Enquire About A Fitting</h2>
							<div class="offer-tag visible-xs">
								May Special: Book A Fitting Before 31/5/2017
							</div>
							<form>
								<div class="form-block">
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 input-width">
												<input type="text" placeholder="Robert" class="form-control">
											</div>
											<div class="col-sm-6 input-width pull-right">
												<input type="text" placeholder="Your Email" class="form-control">
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6 input-width">
												<input type="text" placeholder="Your Phone" class="form-control">
											</div>
											<div class="col-sm-6 error-msg input-width pull-right">
												<div class="custom-dropdown">
													<select data-type="custom-dropdown">
														<option class="hidden-option">Preferred method of contact</option>
														<option>By Email</option>
														<option>By Phone</option>								
													</select>
												</div>
												<label class="error">Enter a preferred method of contact</label>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6 input-width">
												<div class="custom-dropdown">
													<select data-type="custom-dropdown">
														<option class="hidden-option">How did you hear about us?</option>
														<option>Google</option>
														<option>Facebook</option>
														<option>Style Consultant</option>
														<option>Other</option>
													</select>
												</div>
											</div>

											<div class="col-sm-6 input-width pull-right">
												<input type="text" placeholder="Preferred fitting date" class="form-control datepicker">
											</div>
										</div>
									</div>

									<span>WARDROBE needs:</span>

									<div class="checkbox-block clearfix">
										<div class="form-group">
											<label class="checkbox-outer">
												<input type="checkbox" class="icheck" name="icheck">Suits
											</label>
										</div>

										<div class="form-group">
											<label class="checkbox-outer">
												<input type="checkbox" class="icheck" name="icheck">Blazers
											</label>
										</div>

										<div class="form-group">
											<label class="checkbox-outer">
												<input type="checkbox" class="icheck" name="icheck">Shirts
											</label>
										</div>


										<div class="form-group">
											<label class="checkbox-outer">
												<input type="checkbox" class="icheck" name="icheck">Vests
											</label>
										</div>

										<div class="form-group">
											<label class="checkbox-outer">
												<input type="checkbox" class="icheck" name="icheck">Chinos
											</label>
										</div>

										<div class="form-group">
											<label class="checkbox-outer">
												<input type="checkbox" class="icheck" name="icheck">Accessories
											</label>
										</div>

									</div>

									<div class="form-group">
										<textarea class=" textarea-control" rows="3" cols="107" placeholder="Other comments / custom requirements"></textarea>
									</div>

									<a href="#" class="white-border-btn" title="Make Enquiry">Make Enquiry</a>
								</div>
							</form>
						</div>


						<div class="fitting-thanks-block hidden">
							<h2>THANK YOU!</h2>
							<p>One of our consultants will make contact with you soon.</p>
							<a href="#" class="white-border-btn" title="DESIGN A SHIRT ONLINE">
								DESIGN A SHIRT ONLINE
							</a>
						</div>

					</div>

					<div class="collection-content-block">
						<div class="container">
							<div class="row">
								<div class="col-sm-3 mob-collection-img hidden-xs">
									<img src="images/collection-img.jpg" alt="Collection">
								</div>
								<div class="col-sm-9">
									<h2>Tailors Mark: Custom Business Shirts, Online.</h2>

									<h3 class="text">You’re an individual, dress like one.</h3>
									<p class="last">
										At Tailors Mark, it’s our ambition to make it easy for you to buy <b>business shirts</b> that express your individuality. At work and on the weekends, it’s the clothes we wear that define us - so we’ve streamlined the process and made it easy to buy <b>custom business shirts online.</b> 
									</p>


									<h3>Design Your Own Shirt. </h3>
									<p>
										At Tailors Mark, we know that there’s always something off about buying a shirt off the shelf. Whether the right arm is a little too long, or it doesn’t quite fit around the shoulders. With us, we’ve simplified the process. 
									</p>
									<p class="last">
										We’ll send one of our tailors out to you to get you measured, input your data, and then create a <b>custom shirt, suit, jacket, or pair of pants, tailored to suit you. </b> Once you’ve been measured, we’ll store your details, which means you’ll able to order and re-order custom clothing again and again online.
									</p>

									<div class="more-content">
										<h3>Embrace You.</h3> 

										<p>
											We’ve created ranges and styles that are crafted for all occasions, from <b>wedding outfits and suits, to tailored pants and chinos, to dress shirts for work.</b> We’re an Australian company, and we place huge importance on speed of service and quality, so within three weeks of your order your <b>tailored clothing</b> will arrive at your door. 
										</p>
										<p>
											Because we’re careful during the measuring process, our fits are almost always delivered to your exact specifications. Over the past few years, we’ve managed to create efficiencies in our system so that our return rate is well below most <b>tailored suit brands.</b>
										</p>
										<p>
											Together with creating <b>custom outfits,</b> we make it easy for you to pair your exotic choices with the basics, so there’s a range of <b>tailored clothing</b> options available on our website that narrow down the choices for you. 
										</p>
										<p class="last">
											When you’re selecting your shirt online, we tailor our system to choose the fabrics that are best suited to you, guiding you though the process of selecting <b>fabric and model, collar and cuff, size and shape.</b> Once you’ve chosen the design details, we’ll help you choose from <b>slim fit, standard fit, larger fit, extra loose, long sleeve, or short sleeve custom made men’s shirts.</b> We hire people who have worked in the fashion industry for many years. People who take pride in their <b>fashion jobs,</b> and have the required experience to guide you through the process. 
										</p>


										<h3>Dress it up, dress it down.</h3>
										<p>
											<b>
												With Hidden buttons, custom stitching, tuxedo plackets, front darts, and stitched branding, you can make it work for any occasion. 
											</b> 
										</p>
										<p>
											Since we started as a business in Australia, we’ve had people from all over the world creating accounts online. What we’ve noticed, is that once you’ve created your fit, there’s no real reason to shop anywhere else. 
										</p>
										<p>
											At Tailors Mark, our choices mean that you can buy <b>custom made basics</b> and still have money left over to pair the basics with flourishes of colour and flare across the rest of your wardrobe, from <b>tailor made pants to tailored trousers, dress shirts, and made to measure suits.</b>
										</p>
										<p class="last">
											We’ve set up so that our products are tiered. While we never compromise on service or quality, you can choose materials and fabrics that save you money on the basics, while spending a little more on your clothes for special occasions, <b>like wedding suits, wedding outfits, and custom jackets. </b>
										</p>


										<h3>The best day of your life, not the best day of someone else’s.</h3>
										<p>
											Our wedding suiting and wedding outfit range is always tailored to your individual needs, because on your wedding day, it’s important to express your individuality and to feel and look yourself. 
										</p>
										<p class="last">
											Together with your grooms party, you’ll be able to select and customise <b>men’s shirts, tailored trousers, tailored jackets, and tailor made pants.</b> We’ll make a fitting appointment, get you measured, and deliver everything in time for wedding day. 
										</p>


										<h3>Individuality, Simplified. </h3>

										<p>
											<b>We make custom made shirts and suits that save you time.</b>
										</p>

										<p>
											Since day one, it’s been our vision to simplify the tailoring experience. So we’ve created a step by step guide that helps you get measured, and design your shirt from start to finish. You can stick to the <b>basics</b>, or customise from <b>thousands of design details, fabrics and materials.</b>
										</p>  
										<p>
											Follow our simple step-by-step instructions to design your tailored clothing.
										</p>

										<h3>You’re an individual, dress like one.</h3>

										<h3>Buy Now.</h3>


									</div>
									<a class="read-more-link" title="" href="#">
										<em>
											<span class="read-more">more</span>
											<span class="read-less">less</span>
										</em>
									</a>

								</div>
							</div>
						</div>
					</div>


				</section>
				<!-- End Contant -->
			</div>

			<footer class="footer">
				<div class="footer-top">
					<div class="container">
						<div class="row">
							<div class="col-sm-4 col-xs-6 first-col">
								<h3>About</h3>
								<ul class="footer-nav">
									<li><a href="#" title="Home">Home</a></li>
									<li><a href="#" title="About us">About us</a></li>
									<li><a href="#" title="About our Fabrics">About our Fabrics</a></li>
									<li><a href="#" title="Privacy policy">Privacy policy</a></li>
									<li><a href="#" title="Terms">Terms</a></li>
									<li class="hidden-xs"><a href="#" title="Shipping">Shipping</a></li>
									<li><a href="#" title="Become a style consultant">Become a style consultant</a>
									</li>
								</ul>
							</div>
							<div class="col-sm-4 col-xs-6 middle-col">
								<h3 class="hidden-xs">Customer Service</h3>
								<h3 class="visible-xs">SUPPORT</h3>
								<ul class="footer-nav">
									<li><a href="#" title="Support">Support</a></li>
									<li><a href="#" title="Alterations &amp; Returns">Alterations  &amp; Returns</a></li>
									<li><a href="#" title="Book A Fitting">Book A Fitting</a></li>
									<li><a href="#" title="FAQs">FAQs</a></li>
									<li class="visible-xs"><a href="#" title="Contact Us">Contact Us</a></li>
									<li><a href="#" title="How to read fabric information">How to read fabric information</a></li>
									<li class="hidden-xs"><a href="#" title="Contact Us">Contact Us</a></li>
								</ul>
								<div class="phone-link hidden-xs">
									<h3>CALL US</h3>
									<a href="tel:13008574788" title="Call">1300 857 478</a>
								</div>
							</div>
							<div class="col-sm-4 col-xs-12  last-col">
								<div class="phone-link visible-xs">
									<h3>CALL US</h3>
									<a href="tel:13008574788" title="Call">1300 857 478</a>
								</div>
								<h3 class="hidden-xs">Mailing List</h3>
								<form class="mailing-form hidden-xs">
									<div class="form-group">
										<input type="text" placeholder="Your name" class="form-control">
									</div>
									<div class="form-group">
										<input type="text" placeholder="Your email" class="form-control">
										<a href="#" title="Submit" class="submit-btn">
											<img src="images/submit-btn.svg" alt="Submit">
										</a>
									</div>
								</form>
								<h3 class="">Follow Us</h3>
								<ul class="social-links">
									<li>
										<a href="#" title="Facebook" class="fa fa-facebook"></a>
									</li>
									<li>
										<a href="#" title="Instagram" class="fa fa-instagram"></a>
									</li>
									<li>
										<a href="#" title="Pinterest" class="fa fa-pinterest-p"></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="container">
						<span class="copyright-text"><i><img src="images/footer-btn.svg" alt=""></i> Copyright 2010-2016 Tailors Mark. All rights reserved. </span>
						<span class="footer-links">
							<a href="#" title="Terms of Use">Terms of Use</a><em>|</em><a href="#" title="Privacy Policy">Privacy Policy</a>
						</span>
						<div class="client-link">
							<a href="#" title="A Custom Innovation Co. Business">
								<div class="box">
								</div>
								Custom Innovation Co.
							</a>
							<span class="copyright-text custom-innovation">A Custom Innovation Co. Business.</span>
						</div>
					</div>
				</div>
			</footer>



			<!-- Save Design Signup -->
			<div class="modal fade before-book-modal" data-toggle="modal" id="before-book-modal">
				<div class="modal-dialog">
					<div class="modal-content">

						<a href="#" title="Close" class="close" data-dismiss="modal" aria-hidden="true">
							<img src="images/close-icon.svg" alt="Close">
						</a>

						<div class="content-block">
							<div class="text-block">

								<h2>
									Create A Fit Profile Before You Book 
									<span>and Get 10% Off</span>

								</h2>
								<div class="form-block">
									<form>
										<div class="form-group">
											<input class="form-control" placeholder="Name" type="text">
										</div>

										<div class="form-group">
											<input class="form-control" placeholder="E-Mail" type="email">
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group clearfix">
													<div class="custom-dropdown">
														<select data-type="custom-dropdown">
															<option class="hidden-option">Height</option>
															<option>Option 1</option>
															<option>Option 2</option>
															<option>Option 3</option>
															<option>Option 4</option>
															<option>Option 5</option>

														</select>
													</div>

												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group clearfix">
													<div class="custom-dropdown">
														<select data-type="custom-dropdown">
															<option class="hidden-option">Weight</option>
															<option>Option 1</option>
															<option>Option 2</option>
															<option>Option 3</option>
															<option>Option 4</option>
															<option>Option 5</option>

														</select>
													</div>

												</div>
											</div>
										</div>
										<div class="form-group clearfix">
											<div class="custom-dropdown">
												<select data-type="custom-dropdown">
													<option class="hidden-option">Date of Birth</option>
													<option>Option 1</option>
													<option>Option 2</option>
													<option>Option 3</option>
													<option>Option 4</option>
													<option>Option 5</option>

												</select>
											</div>

										</div>

									</form>
								</div>

							</div>
							<div class="text-center">

								<a href="#" class="btn-floating btn-default active" title="I’M DONE">I’M DONE</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</body>
		</html>