<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tailors Mark</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/main.css">		
	<script type="text/javascript" src="js/main.js"></script>
</head>

<body class="home-page main-page">
	<div class="wrapper">

		<!-- Start Header -->
		<header class="header">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-xs-4 first-col">
						<ul class="navigation hidden-xs">
							<li>
								<a href="#" title="" class="nav-icons"><img src="images/nav-icon.png" alt=""></a>
								<div class="dropdown-menu about">
									<div class="drop-menu-inner">
										<ul>
											<li>About</li>
											<li><a href="#" title="Our Story">Our Story</a></li>
											<li><a href="#" title="Satisfaction Guarantee">Satisfaction Guarantee</a></li>
											<li><a href="#" title="Shipping">Shipping</a></li>
											<li><a href="#" title="Testimonials">Testimonials</a></li>
											<li><a href="#" title="Contact Us">Contact Us</a></li>
										</ul>
										<ul class="line">
											<li>Social</li>
											<li><a href="#" title="Facebook">Facebook</a></li>
											<li><a href="#" title="Instagram">Instagram</a></li>
											<li><a href="#" title="Pinterest">Pinterest</a></li>
										</ul>
									</div>
								</div>
							</li>

							<li class="hidden-xs"><a href="#" title="Shop">Shop</a>

								<!--Start For au site -->
								<div class="dropdown-menu shop ">
									<div class="drop-menu-inner clearfix">
										<div class="col-left">
											<h2>Menswear</h2>
											<ul class="shop-dropdown">
												<li>
													<a href="#" title="Design a shirt">Design a shirt</a>
												</li>
												<li>
													<a href="#" title="Shirts collection">Shirts collection</a>
												</li>
											</ul>
											<ul class="shop-dropdown last">
												<li>
													<a href="#" title="Design a suit">Design a suit</a>
												</li>
												<li>
													<a href="#" title="Design a jacket">Design a jacket</a>
												</li>
												<li>
													<a href="#" title="Design pants">Design pants</a>
												</li>
												<li>
													<a href="#" title="Design chinos">Design chinos</a>
												</li>
												<li>
													<a href="#" title="Design a vest">Design a vest</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- End For au site -->

								<div class="dropdown-menu shop hidden">
									<div class="drop-menu-inner clearfix">
										<div class="col-left">
											<h2>Menswear</h2>
											<ul class="shop-dropdown">
												<li>
													<a href="#" title="Design a shirt">Design a shirt</a>
												</li>
												<li>
													<a href="#" title="Shirts collection">Shirts collection</a>
												</li>

												<li>
													<a href="#" title="Design a suit">Design a suit</a>
												</li>
												<li>
													<a href="#" title="Design a jacket">Design a jacket</a>
												</li>
												<li>
													<a href="#" title="Design pants">Design pants</a>
												</li>
												<li>
													<a href="#" title="Design chinos">Design chinos</a>
												</li>
												<li>
													<a href="#" title="Design a vest">Design a vest</a>
												</li>
											</ul>
										</div>
										<div class="col-right">
											<h2>Womenswear</h2>
											<ul class="shop-dropdown">
												<li>
													<a href="#" title="Design a shirt">Design a shirt</a>
												</li>
											</ul>
										</div>
									</div>
								</div>

							</li>
						</ul>
						<div class="nav-icon visible-xs">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="col-sm-4 col-xs-4 logo-outer">
						<a href="#" class="logo" title="Tailors Mark">
							<img src="images/landing-logo.svg" alt="Tailors Mark">
						</a>
					</div>
					<div class="col-sm-4 col-xs-4 last-col">
						<ul class="header-links navigation clearfix">
							
							
							<li class="lang-selection"><a href="#" title="Cart">EN €</a>
								<div class="dropdown-menu">
									<div class="drop-menu-inner">
										<h3>Language</h3>
										<ul class="clearfix ">
											<li class="active"><a href="#" title="English">English</a></li>
											<li><a href="#" title="German">German</a></li>
										</ul>
										<h3 class="line">Currency</h3>
										<ul class="clearfix currency-drop">
											<li><a href="#" title="£ GBP">£ GBP</a></li>
											<li class="active"><a href="#" title="€ EUR">€ EUR</a></li>
											<li><a href="#" title="$ USD">$ USD</a></li>
											<li><a href="#" title="$ CAD">$ CAD</a></li>
											<li><a href="#" title="£ JPY">£ JPY</a></li>
											<li><a href="#" title="$ AUD">$ AUD</a></li>
											<li><a href="#" title="$ NZD">$ NZD</a></li>
											<li><a href="#" title="kr SEK">kr SEK</a></li>
											<li><a href="#" title="kr NOK">kr NOK</a></li>
											<li><a href="#" title="kr DKK">kr DKK</a></li>
										</ul>

									</div>
								</div>
							</li>
							<li class="cart-section"><a href="#" class="cart-link" title="Cart">$1.339 (2)</a></li>
							<li>
								<a href="#login-modal" class="user-text" title="Alessandro">DAVID</a>
								<div class="dropdown-menu alessandro">
									<div class="drop-menu-inner">
										<ul>
											<li><a href="#" title="My Account">My Account</a></li>
											<li><a href="#" title="Order history">Order history</a></li>
											<li><a href="#" title="Saved Profiles">Saved Profiles</a></li>
											<li><a href="#" title="Support">Support</a></li>
											<li class="line"><a href="#" title="Sign out">Sign out</a></li>
										</ul>
									</div>
								</div>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</header>
		<!-- End Header -->

		<!-- Start Panel -->
		<div class="slide-panel hidden">
			<div class="slide-panel-inner">
				<h2>Menswear</h2>
				<ul class="slide-nav">
					<li><a href="#" title="Design a shirt">Design a shirt</a></li>
					<li><a href="#" title="Shirts collection">Shirts collection</a></li>
					<li><a href="#" title="Design a suit">Design a suit</a></li>
				</ul>
				<h2>Womenswear</h2>
				<ul class="slide-nav">
					<li><a href="#" title="Design a shirt">Design a shirt</a></li>					
				</ul>
				<ul class="slide-nav last">
					<li><a href="#login-modal" data-toggle="modal" title="Login">Login</a></li>
					<li><a href="#" title="Our Story">Our Story</a></li>
					<li><a href="#" title="Satisfaction Guarantee">Satisfaction Guarantee</a></li>
					<li><a href="#" title="Contact Us">Contact Us</a></li>
					<li><a href="#" title="Help">Help</a></li>
					<li><a href="#" title="Shipping">Shipping</a></li>
				</ul>				
			</div>
		</div>
		<!-- End Panel -->

		<!-- Start Panel For au Site -->
		<div class="slide-panel">
			<div class="slide-panel-inner">
				<ul class="slide-navigation">
					<li>
						<a href="#" title="Design a shirt">Design a shirt</a>
						
					</li>
					<li>
						<a href="#" title="Shirts collection">Shirts collection</a>
						
					</li>
					<li>
						<a href="#" title="Design a suit">Design a suit</a>
						
					</li>
				</ul>
				<ul class="slide-nav">
					<li><a href="#login-modal" data-toggle="modal" title="Login">Login</a></li>
					<li><a href="#" title="Our Story">Our Story</a></li>
					<li><a href="#" title="Satisfaction Guarantee">Satisfaction Guarantee</a></li>
					<li><a href="#" title="Contact Us">Contact Us</a></li>
					<li><a href="#" title="Help">Help</a></li>
					<li><a href="#" title="Shipping">Shipping</a></li>
				</ul>				
			</div>
		</div>
		<!-- End Panel For au Site -->
		

		<!-- Start Contant -->
		<section class="main-wrap clearfix">
			<div class="create-your-profile">
				<a href="#" class="close-profile" title="Close">
					<img src="images/close-icon-white.svg" alt="">
				</a>
				<div class="container">
					<span>Create your fit with AutoSize and get   <em>20% off</em>   your first order.</span>
					<a href="#create-fit-modal" data-toggle="modal" title="Create a Fit" class="white-border-btn engine-popup">Create a Fit </a>
				</div>
			</div>
			<div class="landing-banner-wrap ">
				<img src="images/banner-2560.jpg" alt="Banner" class="visible-desktop-2560 img-responsive">
				<img src="images/banner-1280.jpg" alt="Banner" class="visible-mobile-1280 img-responsive">
				<img src="images/banner-750.jpg" alt="Banner" class="visible-mobile-750 img-responsive">
				<div class="banner-text">
					<div class="container">

						<div class="banner-wrap">
							<h1>
								TAILORING, <br>SIMPLIFIED.
							</h1>

							<div class="button clearfix">
								<a href="#" class="white-border-btn" title="View Shirts Collection">
									View Shirts Collection
								</a>
								<a href="#" class="white-border-btn" title="Design Your Own">
									Design Your Own
								</a>
							</div>

						</div>

					</div>
				</div>

			</div>

			<div class="landing-banner-wrap landing-banner-new ">
				<img src="images/new-banner-2560.jpg" alt="Banner" class="visible-desktop-2560 img-responsive">
				<img src="images/new-banner-1280.jpg" alt="Banner" class="visible-mobile-1280 img-responsive">
				<img src="images/new-banner-750.jpg" alt="Banner" class="visible-mobile-750 img-responsive">
				<div class="banner-text">
					<div class="container">

						<div class="banner-wrap">
							<div class="exclusive-offer-block">
								<h4>EXCLUSIVE OFFER FOR</h4>
								<img src="images/institute-img.png" alt="">
							</div>
							<h1>
								Two for One Tailored Shirts
							</h1>
							<h3>USE CODE <a href="#"> AICD</a> AT CHECKOUT</h3>
							<div class="button clearfix">
								<a href="#" class="white-border-btn" title="View Shirts Collection">
									View Shirts Collection
								</a>
								<a href="#" class="white-border-btn" title="Design Your Own">
									Design Your Own
								</a>
							</div>

						</div>

					</div>
				</div>

			</div>

			<div class="landing-banner-wrap landingpage-insidegolf-banner ">
				<img src="images/landingpage-insidegolf-banner-2560.jpg" alt="Banner" class="visible-desktop-2560 img-responsive">
				<img src="images/landingpage-insidegolf-banner-1280.jpg" alt="Banner" class="visible-mobile-1280 img-responsive">
				<img src="images/landingpage-insidegolf-banner-750.png" alt="Banner" class="visible-mobile-750 img-responsive">
				<div class="banner-text">
					<div class="banner-wrap">
						<div class="landingpage-insidegolf-logo">
							<img src="images/landingpage-insidegolf-logo.jpg" alt="">
						</div>
						<h1>
							Hand Made Custom Shirt
							<span>From Only $50</span>
						</h1>
						<h2>(NORMALLY <em>$99+</em>)</h2>
						<div class="button clearfix">
							<a href="#" class="white-border-btn" title="View Shirts Collection">
								View Shirts Collection
							</a>
							<a href="#" class="white-border-btn" title="Design Your Own">
								Design Your Own
							</a>
						</div>


					</div>
				</div>

			</div>
			<div class="day-only-landing-banner">
				<div class="fillimg1">
					<img src="images/landing-daybanner-2560.jpg" class="visible-desktop-2560 img-responsive" alt="Banner">
					<img src="images/landing-daybanner-1280.jpg" alt="Banner" class="visible-mobile-1280 img-responsive">
					<img src="images/landing-daybanner-750.jpg" class="visible-mobile-750 img-responsive" alt="Banner">

					<div class="banner-text">
						<div class="inner-day-banner">

							<div class="days-offer-block">
								<img src="images/hurry-landing-2560.jpg" alt="" class="visible-desktop-2560 img-responsive">
								<img src="images/hurry-landing-1280.jpg" alt="" class="visible-mobile-1280 img-responsive">
								<img src="images/hurry-landing-750.jpg" alt="" class="visible-mobile-750 img-responsive">
							</div>
							<div class="banner-wrap">
								<span class="off-text">40% OFF</span>
								<h1>
									ALL TAILORED SHIRTS
								</h1>
								<h3>FROM $59 <span class="upto-rs">($99+)</span> </h3>

								<div class="button clearfix">
									<a href="#" class="white-border-btn" title="View Shirts Collection">
										View Shirts Collection
									</a>
									<a href="#" class="white-border-btn" title="Design Your Own">
										Design Your Own
									</a>
								</div>
							</div>

						</div>
					</div>


				</div>
			</div>
			<div class="matesrates-day-only-landing-banner">
				<div class="fillimg1">
					<img src="images/landing-daybanner-2560.jpg" class="visible-desktop-2560 img-responsive" alt="Banner">
					<img src="images/landing-daybanner-1280.jpg" alt="Banner" class="visible-mobile-1280 img-responsive">
					<img src="images/landing-daybanner-750.jpg" class="visible-mobile-750 img-responsive" alt="Banner">

					<div class="banner-text">
						<div class="inner-day-banner">

							<div class="days-offer-block">
								<img src="images/hurry-landing-2560.jpg" alt="" class="visible-desktop-2560 img-responsive">
								<img src="images/hurry-landing-1280.jpg" alt="" class="visible-mobile-1280 img-responsive">
								<img src="images/hurry-landing-750.jpg" alt="" class="visible-mobile-750 img-responsive">
							</div>
							<div class="banner-wrap">
								<span class="off-text">#MATESRATES</span>
								<span class="off-text">40% OFF</span>
								<h1>
									ALL TAILORED SHIRTS
								</h1>
								<h3>FROM $59 <span class="upto-rs">($99+)</span> </h3>

								<div class="button clearfix">
									<a href="#" class="white-border-btn" title="View Shirts Collection">
										View Shirts Collection
									</a>
									<a href="#" class="white-border-btn" title="Design Your Own">
										Design Your Own
									</a>
								</div>
							</div>

						</div>
					</div>


				</div>
			</div>

			<div class="catalogue-landing-banner">
				<div class="fillimg1">
					
					<img src="images/sn-banner-2560.jpg" class="visible-desktop-2560" alt="Banner">
					<img src="images/sn-banner-1280.jpg" class="visible-mobile-1280" alt="Banner">
					<img src="images/sn-banner-750.jpg" class="visible-mobile-750" alt="Banner">

					<div class="banner-text">
						<div class="banner-text-inner">
							<div class="banner-wrap">
								<div class="clearfix inner-banner">
									<div class="outer-block">
										<div class="sen-1116-img">
											<img src="images/sen-1116.png" alt="">
										</div>
										<em>Ultimate wingman competition</em>
									</div>
									<div class="catalogue-content">
										<h1>
											<span>David, Congratulations</span>
											<span>Claim Your Free Shirt Prize</span>
										</h1>										
									</div>
								</div>
								<div class="button clearfix">
									<a href="#" class="white-border-btn" title="Get Started">
										Get Started
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="gq-landing-banner">
				<div class="fillimg1">
					<img src="images/gq-landing-banner-2560.jpg" class="visible-desktop-2560" alt="Banner">
					<img src="images/gq-landing-banner-1280.jpg" class="visible-mobile-1280" alt="Banner">
					<img src="images/gq-landing-banner-767.jpg" class="visible-mobile-750" alt="Banner">
					<div class="banner-text">
						<div class="banner-text-inner">
							<div class="banner-wrap">
								<div class="gq-logo-block clearfix">
									<a href="#" title="GQ Online Shopping Night">
										<img src="images/goonline-logo.png" class="img-responsive" alt="GQ">
									</a>
									<p>24 May <span>Midday-</span> <span>Midnight</span> </p>
								</div>
								<h1>Measure, Design &amp; Order Tailored Shirts in Minutes</h1>
								<div class="button clearfix">
									<a href="#" class="white-border-btn" title="View our gq edit">
										VIEW OUR GQ EDIT
									</a>
									<a href="#" class="white-border-btn" title="Design your own">
										DESIGN YOUR OWN
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="gq-live-landing-banner">
				<div class="fillimg1">
					<img src="images/gq-landing-banner-2560.jpg" class="visible-desktop-2560" alt="Banner">
					<img src="images/gq-landing-banner-1280.jpg" class="visible-mobile-1280" alt="Banner">
					<img src="images/gq-landing-banner-767.jpg" class="visible-mobile-750" alt="Banner">
					<div class="banner-text">
						<div class="banner-text-inner">
							<div class="banner-wrap">

								<a href="#" title="GQ Online Shopping Night" class="gq-logo">
									<img src="images/goonline-logo.png" class="img-responsive" alt="GQ">
								</a>									

								<h1><span>30% Off</span> Tailored Shirts</h1>
								<span class="offer-started">ON NOW. ENDS MIDNIGHT.</span>

								<div class="button clearfix">
									<a href="#" class="white-border-btn" title="View our gq edit">
										VIEW OUR GQ EDIT
									</a>
									<a href="#" class="white-border-btn" title="Design your own">
										DESIGN YOUR OWN
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="gq-live-landing-banner offer-extended-landing-banner">
				<div class="fillimg1">
					<img src="images/gq-landing-banner-2560.jpg" class="visible-desktop-2560" alt="Banner">
					<img src="images/gq-landing-banner-1280.jpg" class="visible-mobile-1280" alt="Banner">
					<img src="images/gq-landing-banner-767.jpg" class="visible-mobile-750" alt="Banner">
					<div class="banner-text">
						<div class="banner-text-inner">
							<div class="banner-wrap">

								<h1><span>30% OFF</span> Tailored Shirts</h1>
								<span class="offer-started">Offer extended. Ends Friday 26 May</span>

								<div class="button clearfix">
									<a href="#" class="white-border-btn" title="View our gq edit">
										VIEW OUR GQ EDIT
									</a>
									<a href="#" class="white-border-btn" title="Design your own">
										DESIGN YOUR OWN
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>



			<div class="gosn-finished-banner">
				<div class="fillimg1">
					<img src="images/tailoring-simplified-2560.jpg" class="visible-desktop-2560" alt="Banner">
					<img src="images/tailoring-simplified-1280.jpg" class="visible-mobile-1280" alt="Banner">
					<img src="images/tailoring-simplified-767.jpg" class="visible-mobile-750" alt="Banner">
					<div class="banner-text">
						<div class="banner-text-inner">
							<div class="banner-wrap">
								<h1>Tailoring, Simplified.</h1>
								<div class="button clearfix">
									<a href="#" class="white-border-btn" title="View Shirts Collection">
										View Shirts Collection 
									</a>
									<a href="#" class="white-border-btn" title="Design your own">
										DESIGN YOUR OWN
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>



			<div class="afterpay-block">
				<div class="container">
					<a href="#" class="afterpay-logo">
						<img src="images/logo-afterpay.png" alt="Logo">
					</a>
					<div class="right-afterpay">
						<h3>Buy Now, Pay Later.</h3>
						<span>Four interest free payments over 8 weeks. <a href="#" title="">Learn more</a></span>
					</div>

				</div>
			</div>


			<div class="content-wrap">
				<div class="banner-block">

					<div class="row">
						<div class="col-sm-4 unit unit3 hidden-xs">
							<div class="fillimg1">
								<img src="images/create-size-2560.jpg" alt="" class="visible-desktop-2560 ">
								<img src="images/create-size-1280.jpg" alt="" class="visible-mobile-1280 ">
								<div class="unit-text">
									<div class="banner-text-inner">
										<div class="banner-wrap">
											<h2>create your fit</h2>
											<p>We’ll create your fit based on a few simple questions.
											</p>
											<a href="#"  title="Create Your Fit">
												Create Your Fit
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-4  unit-middle unit ">
							<div class="fillimg1">
								<img src="images/black-create-size-2560.jpg" alt="" class="visible-desktop-2560" >
								<img src="images/black-create-size-1280.jpg" alt="" class="visible-mobile-1280 ">
								<div class="unit-text">
									<div class="banner-text-inner">
										<div class="banner-wrap">
											<p>At Tailors Mark, we use technology to simplify the tailoring process, which means you can be sized, fitted and ready to order online in just a few minutes. <span>You&rsquo;re an Individual. Dress Like One.</span></p>

											<a href="#how-it-work-process" class="how-it-work-btn"  title="How It Works">
												HOW IT WORKS <i><img src="images/down-arrow.png" alt=""></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 unit unit-last hidden-xs">
							<div class="fillimg1">
								<img src="images/trusted-brand-2560.jpg" alt="The Most Trusted  Brand in Tailoring" class="visible-desktop-2560" >
								<img src="images/trusted-brand-1280.jpg" alt="The Most Trusted  Brand in Tailoring" class="visible-mobile-1280 ">
								<div class="unit-text" >
									<div class="banner-text-inner">
										<div class="banner-wrap">
											<h2>The Most Trusted  Brand in Tailoring.</h2>
											<p>
												We&rsquo;re the #1 tailoring
												brand on Google Australia for positive reviews. 

											</p>
											<a href="#" title="Read Why">Read Why</a>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>

				<div class="how-it-work-process" id="how-it-work-process">
					<div class="container">
						<h2>How It works</h2>
						<ul class="clearfix">
							<li>
								<i><img src="images/img01.png" alt=""></i>
								<h3>ORDER ONLINE</h3>
								<p>Get sized in seconds with AutoSize. Then design your shirt and order online.</p>
							</li>
							<li>
								<i><img src="images/img02.png" alt=""></i>
								<h3>CUSTOM MADE</h3>
								<p>Each garment is hand made to your specifications, with fabrics from around the world. </p>
							</li>
							<li>
								<i><img src="images/img03.png" alt=""></i>
								<h3>QUICK DELIVERY</h3>
								<p>Your garment is shipped direcly to you and delivered in 3 weeks. </p>
							</li>
							<li>
								<i><img src="images/img04.png" alt=""></i>
								<h3>GUARANTEED FIT</h3>
								<p>If it’s not a perfect fit, we’ll remake or cover the cost of alterations. </p>
							</li>
						</ul>

						<div class="button-block">
							<span><a href="#" class="white-border-btn" title="View Shirts Collection">View Shirts Collection</a></span>
							<span><a href="#" class="white-border-btn" title="Design Your Own ">Design Your Own </a></span>
						</div>
					</div>

				</div>

				<div class="banner-block mobile-block visible-xs">

					<div class="row">
						<div class="col-sm-4 unit unit3">
							<div class="fillimg1">

								<img src="images/create-size-750.jpg" alt="" >
								<div class="unit-text">
									<div class="banner-text-inner">
										<div class="banner-wrap">
											<h2>create your fit</h2>
											<p>We’ll create your fit based on a few simple questions.
											</p>
											<a href="#"  title="Create Your Fit">
												Get Fitted
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="col-sm-4 unit   unit-last">
							<div class="fillimg1">

								<img src="images/trusted-brand-750.jpg" alt="The Most Trusted  Brand in Tailoring" >
								<div class="unit-text" >
									<div class="banner-text-inner">
										<div class="banner-wrap">
											<h2>The Most Trusted Tailoring Brand.</h2>
											<p>
												We&rsquo;re the #1 tailoring
												brand on Google Australia for positive reviews. 

											</p>
											<a href="#" title="Read Why">Read Why</a>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>


				</div>
				<div class="customer-story">
					<div class="container">
						<h2>SATISFACTION. ALWAYS.</h2>
						<p>If you&rsquo;re not happy with your order, just return it unworn within 60 days and we&rsquo;ll make alterations or replace them with new ones.</p>
						<a href="#" class="readmore-link" title="Read More">Read More</a>
					</div>
				</div>
				<div class="row sm-6-middle">
					<div class="col-sm-6 sm-6-left">

						<div class="fillimg1">
							<img src="images/dream-shirt-2560.jpg" alt="How It Works" class="visible-desktop-2560 " >
							<img src="images/dream-shirt-1280.jpg" alt="How It Works" class="visible-mobile-1280">
							<img src="images/dream-shirt-750.jpg" alt="How It Works" class="visible-mobile-750">
							<div class="unit-text">
								<div class="banner-text-inner">
									<div class="banner-wrap">
										<h2>Find Your Style.</h2>
										<div class="middle-cont">
											<p>
												<span>Thousands of fabrics from around the world</span>
												<span>Intricate customisations</span>
												<span>Three week delivery</span>
											</p>	
										</div>

										<a href="#" title="Design Now">
											Design Now
										</a>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="col-sm-6 sm-6-right">				

						<div class="fillimg1">
							<img src="images/wedding-wear-2560.jpg" alt="Custom Wedding Wear" class="visible-desktop-2560 ">
							<img src="images/wedding-wear-1280.jpg" alt="Custom Wedding Wear" class="visible-mobile-1280 ">
							<img src="images/wedding-wear-750.jpg" alt="Custom Wedding Wear" class="visible-mobile-750 ">
							<div class="unit-text">
								<div class="banner-text-inner">
									<div class="banner-wrap">

										<h2>Wedding Day <em>Wears</em></h2>
										<div class="middle-cont">
											<p>
												Tailored Groomsmen Ensembles 
											</p>
										</div>
										<a href="#" title="Learn More">
											Learn More
										</a>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="customer-story customer-story-news">
					<div class="container">
						<h2>News suit, new you.</h2>
						<p>"Great shirts, good quality and responsive customer service."</p>
						<a href="#" class="readmore-link" title="More Customer Feedback">More customer feedback</a>
					</div>
				</div>
				<div class="banner-block blog-block">
					<div class="fillimg1">
						<img src="images/blog-2560.jpg" alt="Tailors Mark Blog" class="visible-desktop-2560">
						<img src="images/blog-1280.jpg" alt="Tailors Mark Blog" class="visible-mobile-1280">
						<img src="images/blog-750.jpg" alt="Tailors Mark Blog" class="visible-mobile-750">
						<div class="blog-content">
							<div class="banner-text-inner">
								<div class="banner-wrap">
									<div class="blog-content-inner">
										<span class="title-text">Tailors Mark Blog</span>
										<h1>
											<a href="#" title="Tailors Mark Weddings">
												Tailors Mark Weddings
											</a>
										</h1>
										<span class="date-text">16th August 2016</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="customer-story customer-story-mark">
					<div class="container">
						<h2>Make Your Mark. </h2>
						<a href="#" title="@TailorsMark #TheMarkOfAMan">
							@tailorsmark #themarkofaman
						</a>
					</div>

					<div class="banner-block gallery-block-outer clearfix">
						<ul class="gallery-block clearfix">
							<li>
								<a href="#" title="Tailors Mark">
									<img src="images/gallery07.jpg" alt="Tailors Mark">
								</a>


								<div class="instagram-content">
									<h4>Design Based On This</h4>
									<ul class="clearfix">
										<li>
											<a href="#"><img src="images/jacket-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Jacket</h5>
											</div>
										</li>
										<li>
											<a href="#"><img src="images/pent-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Pent</h5>
											</div>
										</li>
										<li>
											<a href="#" ><img src="images/shirt-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Shirt</h5>
											</div>
										</li>

										<li>
											<a href="#"><img src="images/suit-icon-1.png"></a>
											<div class="tooltip-inner-block">
												<h5>Suit</h5>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" title="Tailors Mark">
									<img src="images/gallery08.jpg" alt="Tailors Mark">
								</a>

								<div class="instagram-content">
									<h4>Design Based On This</h4>
									<ul class="clearfix">
										<li>
											<a href="#"><img src="images/jacket-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Jacket</h5>
											</div>
										</li>
										<li>
											<a href="#"><img src="images/pent-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Pent</h5>
											</div>
										</li>
										<li>
											<a href="#" ><img src="images/shirt-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Shirt</h5>
											</div>
										</li>

										<li>
											<a href="#"><img src="images/suit-icon-1.png"></a>
											<div class="tooltip-inner-block">
												<h5>Suit</h5>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" title="Tailors Mark">
									<img src="images/gallery09.jpg" alt="Tailors Mark">
								</a>
								<div class="instagram-content">
									<h4>Design Based On This</h4>
									<ul class="clearfix">
										<li>
											<a href="#"><img src="images/jacket-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Jacket</h5>
											</div>
										</li>
										<li>
											<a href="#"><img src="images/pent-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Pent</h5>
											</div>
										</li>
										<li>
											<a href="#" ><img src="images/shirt-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Shirt</h5>
											</div>
										</li>

										<li>
											<a href="#"><img src="images/suit-icon-1.png"></a>
											<div class="tooltip-inner-block">
												<h5>Suit</h5>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" title="Tailors Mark">
									<img src="images/gallery10.jpg" alt="Tailors Mark">
								</a>
								<div class="instagram-content">
									<h4>Design Based On This</h4>
									<ul class="clearfix">
										<li>
											<a href="#"><img src="images/jacket-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Jacket</h5>
											</div>
										</li>
										<li>
											<a href="#"><img src="images/pent-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Pent</h5>
											</div>
										</li>
										<li>
											<a href="#" ><img src="images/shirt-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Shirt</h5>
											</div>
										</li>

										<li>
											<a href="#"><img src="images/suit-icon-1.png"></a>
											<div class="tooltip-inner-block">
												<h5>Suit</h5>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li class="hidden-block"> 
								<a href="#" title="Tailors Mark">
									<img src="images/gallery11.jpg" alt="Tailors Mark">
								</a>
								<div class="instagram-content">
									<h4>Design Based On This</h4>
									<ul class="clearfix">
										<li>
											<a href="#"><img src="images/jacket-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Jacket</h5>
											</div>
										</li>
										<li>
											<a href="#"><img src="images/pent-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Pent</h5>
											</div>
										</li>
										<li>
											<a href="#" ><img src="images/shirt-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Shirt</h5>
											</div>
										</li>

										<li>
											<a href="#"><img src="images/suit-icon-1.png"></a>
											<div class="tooltip-inner-block">
												<h5>Suit</h5>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li class="hidden-block">
								<a href="#" title="Tailors Mark">
									<img src="images/gallery12.jpg" alt="Tailors Mark">
								</a>
								<div class="instagram-content">
									<h4>Design Based On This</h4>
									<ul class="clearfix">
										<li>
											<a href="#"><img src="images/jacket-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Jacket</h5>
											</div>
										</li>
										<li>
											<a href="#"><img src="images/pent-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Pent</h5>
											</div>
										</li>
										<li>
											<a href="#" ><img src="images/shirt-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Shirt</h5>
											</div>
										</li>

										<li>
											<a href="#"><img src="images/suit-icon-1.png"></a>
											<div class="tooltip-inner-block">
												<h5>Suit</h5>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li class="hidden-block">
								<a href="#" title="Tailors Mark">
									<img src="images/gallery07.jpg" alt="Tailors Mark">
								</a>

								<div class="instagram-content">
									<h4>Design Based On This</h4>
									<ul class="clearfix">
										<li>
											<a href="#"><img src="images/jacket-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Jacket</h5>
											</div>
										</li>
										<li>
											<a href="#"><img src="images/pent-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Pent</h5>
											</div>
										</li>
										<li>
											<a href="#" ><img src="images/shirt-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Shirt</h5>
											</div>
										</li>

										<li>
											<a href="#"><img src="images/suit-icon-1.png"></a>
											<div class="tooltip-inner-block">
												<h5>Suit</h5>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li class="hidden-block">
								<a href="#" title="Tailors Mark">
									<img src="images/gallery08.jpg" alt="Tailors Mark">
								</a>
								<div class="instagram-content">
									<h4>Design Based On This</h4>
									<ul class="clearfix">
										<li>
											<a href="#"><img src="images/jacket-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Jacket</h5>
											</div>
										</li>
										<li>
											<a href="#"><img src="images/pent-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Pent</h5>
											</div>
										</li>
										<li>
											<a href="#" ><img src="images/shirt-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Shirt</h5>
											</div>
										</li>

										<li>
											<a href="#"><img src="images/suit-icon-1.png"></a>
											<div class="tooltip-inner-block">
												<h5>Suit</h5>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li class="hidden-block"> 
								<a href="#" title="Tailors Mark">
									<img src="images/gallery09.jpg" alt="Tailors Mark">
								</a>
								<div class="instagram-content">
									<h4>Design Based On This</h4>
									<ul class="clearfix">
										<li>
											<a href="#"><img src="images/jacket-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Jacket</h5>
											</div>
										</li>
										<li>
											<a href="#"><img src="images/pent-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Pent</h5>
											</div>
										</li>
										<li>
											<a href="#" ><img src="images/shirt-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Shirt</h5>
											</div>
										</li>
										<li>
											<a href="#"><img src="images/suit-icon-1.png"></a>
											<div class="tooltip-inner-block">
												<h5>Suit</h5>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li class="hidden-block">
								<a href="#" title="Tailors Mark">
									<img src="images/gallery10.jpg" alt="Tailors Mark">
								</a>
								<div class="instagram-content">
									<h4>Design Based On This</h4>
									<ul class="clearfix">
										<li>
											<a href="#"><img src="images/jacket-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Jacket</h5>
											</div>
										</li>
										<li>
											<a href="#"><img src="images/pent-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Pent</h5>
											</div>
										</li>
										<li>
											<a href="#" ><img src="images/shirt-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Shirt</h5>
											</div>
										</li>

										<li>
											<a href="#"><img src="images/suit-icon-1.png"></a>
											<div class="tooltip-inner-block">
												<h5>Suit</h5>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li class="hidden-block">
								<a href="#" title="Tailors Mark">
									<img src="images/gallery11.jpg" alt="Tailors Mark">
								</a>

								<div class="instagram-content">
									<h4>Design Based On This</h4>

									<ul class="clearfix">
										<li>
											<a href="#"><img src="images/jacket-img.png"></a>

											<div class="tooltip-inner-block">
												<h5>Jacket</h5>
											</div>
										</li>
										<li>
											<a href="#"><img src="images/pent-img.png"></a>

											<div class="tooltip-inner-block">
												<h5>Pent</h5>
											</div>
										</li>
										<li>
											<a href="#"><img src="images/shirt-img.png"></a>

											<div class="tooltip-inner-block">
												<h5>Shirt</h5>
											</div>
										</li>

										<li>
											<a href="#"><img src="images/suit-icon-1.png"></a>
											<div class="tooltip-inner-block">
												<h5>Suit</h5>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li class="hidden-block">
								<a href="#" title="Tailors Mark">
									<img src="images/gallery12.jpg" alt="Tailors Mark">
								</a>
								<div class="instagram-content">
									<h4>Design Based On This</h4>
									<ul class="clearfix">
										<li>
											<a href="#"><img src="images/jacket-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Jacket</h5>
											</div>
										</li>
										<li>
											<a href="#"><img src="images/pent-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Pent</h5>
											</div>
										</li>
										<li>
											<a href="#" ><img src="images/shirt-img.png"></a>
											<div class="tooltip-inner-block">
												<h5>Shirt</h5>
											</div>
										</li>
										<li>
											<a href="#"><img src="images/suit-icon-1.png"></a>
											<div class="tooltip-inner-block">
												<h5>Suit</h5>
											</div>
										</li>
									</ul>
								</div>
							</li>
						</ul>
						<a href="#" class="view-more-link" title="More">
							<span class="view-more-text">View More</span>
							<span class="less-more-text">Less More</span>
						</a>
					</div>

				</div>
				<div class="contant-listing">
					<ul class="clearfix">
						<li>
							<div class="container">

								<div class="text-block">
									<h1>If it’s not tailored to you,  it’s made for someone else. </h1>
									<p>
										At Tailors Mark we believe that a finely <a href="#">tailored suit</a> is more than an item of clothing, it’s an expression of your individuality, of who you are. Tailored clothing accounts for the fact that your right arm is a little shorter than your left, or that you’re broad around the shoulders. 
									</p>
									<p>
										At Tailors Mark, we use technology to simplify the tailoring process, so that you can design a range of premium <a href="#">business shirts</a>, casual weekend wear, chinos, blazers and custom suits that are hand made to your exact specifications. 
									</p>
									<p>Once you’re measured, you can complete all of your customisations online, with a selection of fabrics and materials from all over the world. </p>
									<a href="#" title="Design A Custom Suit">DESIGN A CUSTOM SUIT</a>
								</div>
							</div>
						</li>
						<li>
							<div class="container">

								<div class="text-block">
									<h2>Designed by You. </h2>
									<p>
										Our design platform puts you in charge of your own bespoke suit and business shirt design. Click through the easy-to-follow steps to build a suit or set of <a href="#">custom shirts</a> that fit you to perfection.
									</p>
									<p>
										We have thousands of different textiles to choose from, from premium European fabrics for the man who demands the ultimate sophistication, down the style conscious man who wants value for money.
									</p>
									<p>
										It’s the finer details that give your tailored men’s clothes its signature style. From the ‘Batman’ collar to the ‘Bond’ French cuffs to a personal monogram, the Mark of a Man is tailored clothing.
									</p>
									<a href="#" title="Design Your Wardrobe">Design Your Wardrobe</a>
								</div>
							</div>
						</li>
						<li>
							<div class="container">

								<div class="text-block">
									<h3>Find Your Style. </h3>
									<p>
										At Tailors Mark, we have a team of personal stylists who’ll come to you at work or home for a complimentary fitting. They’ll take your measurements, offer you style advice on fabrics, fit, and materials, and help you through the online ordering process. 
									</p>
									<p>All of our stylists are creative, experienced professionals, so in just a few minutes you’ll be fitted and ready to order online.
									</p>
									<p>Once you’re fitted, we keep your profile and measurements, so that you can order tailored suits and shirts in the future that are custom made to your specifications. </p>
									<a href="#" title="Book A Fitting">BOOK A FITTING</a>
								</div>
							</div>
						</li>
						<li>
							<div class="container">

								<div class="text-block">
									<h3>Build Your Custom Wardrobe. </h3>
									<p>
										Once you’re fitted with Tailors Mark, it means that you can apply your size to all of our blazers, jackets, pants, and chinos without having to be measured again. So in just a few minutes, you can customise just about anything - from <a href="#">wedding suits</a> to pocket squares - and have them delivered to your door. 
									</p>
									<p>
										It’s tailoring without the lavish show rooms and old school mess around. 
									</p>
									<p>
										An entire wardrobe designed and made to just for you.
									</p>

									<a href="#" title="Design Your Custom Made Clothing">DESIGN YOUR CUSTOM MADE CLOTHING</a>
								</div>
							</div>
						</li>
						<li>
							<div class="container">
								<div class="text-block">
									<h2>Forever Satisfied. </h2>
									<p>
										We started Tailors Mark because we wanted to combine technology and style to make the tailoring process simple, affordable, and empowering. 
									</p>
									<p>
										So throughout the process, we always guide our customers through the process. Our online store is designed to make it easy for you to customise and <a href="#">create your tailored clothing</a>, so if there’s ever any problems, we’ll always be on hand to help. 
									</p>
									<p>Once your suit is delivered, we’ll field questions and respond quickly when alterations are needed. We’re here to make life easy, and we want all of our customers to be fully satisfied. </p>
									<a href="#" title="100% Satisfaction Guarantee">
										100% Satisfaction Guarantee
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>




		</section>
		<!-- End Contant -->

	</div>

	<footer class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-xs-6 first-col">
						<h3>About</h3>
						<ul class="footer-nav">
							<li><a href="#" title="Home">Home</a></li>
							<li><a href="#" title="About us">About us</a></li>
							<li><a href="#" title="About our Fabrics">About our Fabrics</a></li>
							<li><a href="#" title="Privacy policy">Privacy policy</a></li>
							<li><a href="#" title="Terms">Terms</a></li>
							<li class="hidden-xs"><a href="#" title="Shipping">Shipping</a></li>
							<li><a href="#" title="Become a style consultant">Become a style consultant</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-4 col-xs-6 middle-col">
						<h3 class="hidden-xs">Customer Service</h3>
						<h3 class="visible-xs">SUPPORT</h3>
						<ul class="footer-nav">
							<li><a href="#" title="Support">Support</a></li>
							<li><a href="#" title="Alterations &amp; Returns">Alterations  &amp; Returns</a></li>

							<li><a href="#" title="Book A Fitting">Book A Fitting</a></li>
							<li><a href="#" title="FAQs">FAQs</a></li>
							<li class="visible-xs"><a href="#" title="Contact Us">Contact Us</a></li>
							<li><a href="#" title="How to read fabric information">How to read fabric information</a></li>
							<li class="hidden-xs"><a href="#" title="Contact Us">Contact Us</a></li>
						</ul>

						<div class="phone-link hidden-xs">
							<h3>CALL US</h3>
							<a href="tel:13008574788" title="Call">1300 857 478</a>
						</div>


					</div>
					<div class="col-sm-4 col-xs-12  last-col">
						<div class="phone-link visible-xs">
							<h3>CALL US</h3>
							<a href="tel:13008574788" title="Call">1300 857 478</a>
						</div>
						<h3 class="hidden-xs">Mailing List</h3>
						<form class="mailing-form hidden-xs">
							<div class="form-group">
								<input type="text" placeholder="Your name" class="form-control">
							</div>
							<div class="form-group">
								<input type="text" placeholder="Your email" class="form-control">
								<a href="#" title="Submit" class="submit-btn">
									<img src="images/submit-btn.svg" alt="Submit">
								</a>
							</div>
						</form>
						<h3 class="">Follow Us</h3>
						<ul class="social-links">
							<li><a href="#" title="Facebook" class="fa fa-facebook"></a></li>
							<li><a href="#" title="Instagram" class="fa fa-instagram"></a></li>
							<li><a href="#" title="Pinterest" class="fa fa-pinterest-p"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<span class="copyright-text"><i><img src="images/footer-btn.svg" alt=""></i> Copyright 2010-2016 Tailors Mark. All rights reserved. </span>
				<span class="footer-links">
					<a href="#" title="Terms of Use">Terms of Use</a><em>|</em><a href="#" title="Privacy Policy">Privacy Policy</a>
				</span>

				<div class="client-link">
					<a href="#" title="A Custom Innovation Co. Business">
						<div class="box">
						</div>
						Custom Innovation Co.
					</a>
					<span class="copyright-text custom-innovation">A Custom Innovation Co. Business.</span>
				</div>
			</div>
		</div>
	</footer>


	<div id="login-modal" class="modal login-popup fluid-modal fade">

		<div class="modal-dialog">
			<div class="container">
				<div role="alert" class="alert alert-danger">
					<strong>Oh snap!</strong> Change a few things up and try submitting again.
					<a title="close" aria-label="close" data-dismiss="alert" class="close" href="#">×</a>
				</div>

				<div class="alert alert-success fade in">
					<a title="close" aria-label="close" data-dismiss="alert" class="close" href="#">×</a>
					<strong>Success!</strong> This alert box indicates a successful or positive action.
				</div>
				<div class="popup-header">
					<a class="logo" href="#"title="Tailors Mark" ><img src="images/logo.svg" alt="Tailors Mark"></a>
					<a href="#" title="Close" class="close" data-dismiss="modal" aria-hidden="true">
						<img src="images/close-icon.svg" alt="Close">
					</a>
				</div>
				<div class="popup-content">
					<div class="top-block">
						<div class="col">
							<h3>Login <a class="pull-right visible-xs" title="Forgot your password?" href="#">Forgot your password?</a></h3>
							<form class="form-horizontal">
								<div class="form-group">
									<input type="email" class="form-control error" id="inputEmail" placeholder="e-mail">
									<label class="error">Please enter a valid email</label>
								</div>
								<div class="form-group">
									<input type="password" class="form-control"  placeholder="password">
								</div>
								<div class="form-group form-btn">
									<button type="submit" class="btn btn-default">Login</button>
									<a href="#" title="Forgot your password?" class="pull-right hidden-xs">Forgot your password?</a>
								</div>
							</form>
						</div>
					</div>
					<div class="bottom-block">
						<div class="col">
							<h4>Don't have an account?</h4>
							<span>Enter your email to receive exclusive offers.</span>
							<form class="form-horizontal">
								<div class="form-group">
									<input type="text" class="form-control"  placeholder="First Name">

								</div>
								<div class="form-group">
									<input type="text" class="form-control error"  placeholder="Last Name">
									<label class="error">Please enter a valid last name</label>

								</div>
								<div class="form-group">
									<input type="email" class="form-control"  placeholder="e-mail">
								</div>
								<div class="form-group form-btn">
									<button type="submit" class="btn btn-default">Sign-Up</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>


	<!-- Save Design Signup -->
	<div class="modal fade create-fit-modal" data-toggle="modal" id="create-fit-modal">
		<div class="modal-dialog">
			<div class="modal-content">

				<a href="#" title="Close" class="close" data-dismiss="modal" aria-hidden="true">
					<img src="images/close-icon.svg" alt="Close">
				</a>

				<div class="content-block">
					<div class="text-block">

						<h2>
							Create your fit with AutoSize
							<span>and get 20% off your first order</span>

						</h2>
						<p>Answer a few easy questions and the data we've gathered from over
							60,000 shirt orders will accurately calculate your unique size.</p>


						</div>
						<div class="text-center">

							<a href="#" class="btn-floating btn-default active" title="Create a fit now">Create a fit now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

	<!-- Start of LiveChat (www.livechatinc.com) code -->
<!-- <script type="text/javascript">
	window.__lc = window.__lc || {};
	window.__lc.license = 1615671;
	(function() {
		var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
		lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
	})();
</script> -->
<!-- End of LiveChat code -->


<!-- Live Chat Start -->
<div data-id="PefdeB0QRfw" class="livechat_button visible-xs"><a href="https://www.livechatinc.com/customer-service-software/?partner=lc_1615671&amp;utm_source=chat_button"></a></div>


<div data-id="VVsa-oQR5w" class="livechat_button hidden-xs"><a href="https://www.livechatinc.com/help-desk-software/?partner=lc_1615671&amp;utm_source=chat_button"></a></div>
<!-- Live Chat End -->

</html>