<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tailors Mark</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/main.css">		
	<script type="text/javascript" src="js/main.js"></script>

</head>

<body class="landing-page">
	<div class="wrapper">
		<div class="loading-bg">
			<div class="loading">
				<img src="images/spinner.gif" alt="">
			</div>
		</div>

	</div>
</body>
</html>