<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tailors Mark</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/main.css">		
	<script type="text/javascript" src="js/main.js"></script>
</head>

<body class="home-page account-order-details">
	<div class="wrapper">

		
		<!-- Start Header -->
		<header class="header">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-xs-4 first-col">
						<ul class="navigation hidden-xs">
							<li><a href="#" title="" class="nav-icons"><img src="images/nav-icon.png" alt=""></a>
								<div class="dropdown-menu about">
									<div class="drop-menu-inner">
										<ul>
											<li>About</li>
											<li><a href="#" title="Our Story">Our Story</a></li>
											<li><a href="#" title="Satisfaction Guarantee">Satisfaction Guarantee</a></li>
											<li><a href="#" title="Shipping">Shipping</a></li>
											<li><a href="#" title="Testimonials">Testimonials</a></li>
											<li><a href="#" title="Contact Us">Contact Us</a></li>
										</ul>
										<ul class="line">
											<li>Social</li>
											<li><a href="#" title="Facebook">Facebook</a></li>
											<li><a href="#" title="Instagram">Instagram</a></li>
											<li><a href="#" title="Pinterest">Pinterest</a></li>
										</ul>
									</div>
								</div>
							</li>

							<li class="hidden-xs"><a href="#" title="Shop">Shop</a>
								<div class="dropdown-menu shop">
									<div class="drop-menu-inner">
										<h2>Menswear</h2>
										<ul class="shop-dropdown">
											<li>
												<a href="#" title="Design a shirt">Design a shirt</a>
											</li>
											<li>
												<a href="#" title="Shirts collection">Shirts collection</a>
											</li>
										</ul>
										<ul class="shop-dropdown last">
											<li>
												<a href="#" title="Design a suit">Design a suit</a>
											</li>
											<li>
												<a href="#" title="Design a jacket">Design a jacket</a>
											</li>
											<li>
												<a href="#" title="Design pants">Design pants</a>
											</li>
											<li>
												<a href="#" title="Design chinos">Design chinos</a>
											</li>
											<li>
												<a href="#" title="Design a vest">Design a vest</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
						<div class="nav-icon visible-xs">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="col-sm-4 col-xs-4 logo-outer">
						<a href="#" class="logo" title="Tailors Mark">
							<img src="images/landing-logo.svg" alt="Tailors Mark">
						</a>
					</div>
					<div class="col-sm-4 col-xs-4 last-col">
						<ul class="header-links navigation clearfix">
							
							
							<li class="lang-selection"><a href="#" title="Cart">EN €</a>
								<div class="dropdown-menu">
									<div class="drop-menu-inner">
										<h3>Language</h3>
										<ul class="clearfix ">
											<li class="active"><a href="#" title="English">English</a></li>
											<li><a href="#" title="German">German</a></li>
										</ul>
										<h3 class="line">Currency</h3>
										<ul class="clearfix currency-drop">
											<li><a href="#" title="£ GBP">£ GBP</a></li>
											<li class="active"><a href="#" title="€ EUR">€ EUR</a></li>
											<li><a href="#" title="$ USD">$ USD</a></li>
											<li><a href="#" title="$ CAD">$ CAD</a></li>
											<li><a href="#" title="£ JPY">£ JPY</a></li>
											<li><a href="#" title="$ AUD">$ AUD</a></li>
											<li><a href="#" title="$ NZD">$ NZD</a></li>
											<li><a href="#" title="kr SEK">kr SEK</a></li>
											<li><a href="#" title="kr NOK">kr NOK</a></li>
											<li><a href="#" title="kr DKK">kr DKK</a></li>
										</ul>

									</div>
								</div>
							</li>
							<li class="cart-section"><a href="#" class="cart-link" title="Cart">$1.339 (2)</a></li>
							<li>
								<a href="#login-modal" class="user-text" title="Alessandro">DAVID</a>
								<div class="dropdown-menu alessandro">
									<div class="drop-menu-inner">
										<ul>
											<li><a href="#" title="My Account">My Account</a></li>
											<li><a href="#" title="Order history">Order history</a></li>
											<li><a href="#" title="Saved Profiles">Saved Profiles</a></li>
											<li><a href="#" title="Support">Support</a></li>
											<li class="line"><a href="#" title="Sign out">Sign out</a></li>
										</ul>
									</div>
								</div>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</header>
		<!-- End Header -->
		

		
		<!-- Start Panel -->
		<div class="slide-panel">
			<div class="slide-panel-inner">
				<ul class="slide-navigation">
					<li>
						<a href="#" title="Custom Shirts">Custom Shirts</a>
						<div class="img-box active">
							<img src="images/shop-img03.jpg" alt="Custom Shirts">
							<div class="dropdown-img-text">
								<h3><a href="#" title="Shop Shirts">Shop Shirts</a></h3>
							</div>
						</div>
					</li>
					<li>
						<a href="#" title="Custom Suits">Custom Suits</a>
						<div class="img-box active">
							<img src="images/shop-img03.jpg" alt="Custom Suits">
							<div class="dropdown-img-text">
								<h3><a href="#" title="Shop Shirts">Shop Shirts</a></h3>
							</div>
						</div>
					</li>
					<li>
						<a href="#" title="Custom Jackets">Custom Jackets</a>
						<div class="img-box">
							<img src="images/shop-img03.jpg" alt="Custom Jackets">
							<div class="dropdown-img-text">
								<h3><a href="#" title="Shop Shirts">Shop Shirts</a></h3>
							</div>
						</div>
					</li>
					<li>
						<a href="#" title="Custom Pants">Custom Pants</a>
						<div class="img-box">
							<img src="images/shop-img03.jpg" alt="Custom Pants">
							<div class="dropdown-img-text">
								<h3><a href="#" title="Shop Shirts">Shop Shirts</a></h3>
							</div>
						</div>
					</li>
					<li>
						<a href="#" title="Custom Blazers">Custom Blazers</a>
						<div class="img-box">
							<img src="images/shop-img03.jpg" alt="Custom Blazers">
							<div class="dropdown-img-text">
								<h3><a href="#" title="Shop Shirts">Shop Shirts</a></h3>
							</div>
						</div>
					</li>
					<li><a href="#" title="Chinos">Chinos</a>
						<div class="img-box">
							<img src="images/shop-img03.jpg" alt="Custom Suits">
							<div class="dropdown-img-text">
								<h3><a href="#" title="Shop Shirts">Shop Shirts</a></h3>
							</div>
						</div>
					</li>
					<li>
						<a href="#" title="Gift Cards">Gift Cards</a>
						<div class="img-box">
							<img src="images/shop-img03.jpg" alt="Gift Cards">
							<div class="dropdown-img-text">
								<h3><a href="#" title="Shop Shirts">Shop Shirts</a></h3>
							</div>
						</div>
					</li>
				</ul>
				<ul class="slide-nav">
					<li><a href="#login-modal" data-toggle="modal" title="Login">Login</a></li>
					<li><a href="#" title="Our Story">Our Story</a></li>
					<li><a href="#" title="Satisfaction Guarantee">Satisfaction Guarantee</a></li>
					<li><a href="#" title="Contact Us">Contact Us</a></li>
					<li><a href="#" title="Help">Help</a></li>
					<li><a href="#" title="Shipping">Shipping</a></li>
				</ul>
			</div>
		</div>
		<!-- End Panel -->

		
		<div class="inner-page">
			<!-- Start Contant -->
			<div class="main-wrap clearfix">	
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<a class="back-btn" href="#" title="Back">
								<img alt="" src="images/back-arrow.svg"> 
								BACK
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8 col-xs-7">
							<h1 class="payment-title">PAYMENT METHODS</h1>
							
						</div>
						<div class="col-sm-4 col-xs-5">
							<a href="#" class="btn-floating btn-default active my-new-address credit-card-btn" title="NEW CREDIT CARD">+ NEW CREDIT CARD</a>
							
						</div>

					</div>
					<div class="order-history-section">
						
						<div class="order-history-block clearfix">	
							<div class="order-history-header my-addresses-header clearfix">
								<div class="col-sm-6 col-xs-6">
									<h3><i class="icons"><img src="images/visa.png" alt=""></i>XXXX-1234</h3>
									
								</div>
								<div class="col-sm-6 col-xs-6">
									<a href="#" class="btn-floating delete-btn" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
								</div>
							</div>
							<div class="saved-designs-block my-addresses-block payment-methods-block clearfix">
								<div class="row">
									<div class="col-sm-6 col-xs-7">
										<address>
											<span><lable>Name: </lable>David McLaughlin</span>
											<span><lable>Type: </lable>Visa / Electron</span>
											<span><lable>Number: </lable>xxxx-1234</span>
											<span><lable>Expire Date: </lable>10/2019</span>
										</address>
									</div>
									<div class="col-sm-6 col-xs-5">
										<div class="floating-btn-block">
											<a href="#" class="btn-floating" title="MAKE PRIMARY">MAKE PRIMARY</a>
											<a href="#" class="btn-floating" title="VIEW/EDIT"><span class="view-xs">VIEW/</span><span>EDIT</span></a>


										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="order-history-block clearfix">	
							<div class="order-history-header my-addresses-header clearfix">
								<div class="col-sm-6 col-xs-7">
									<h3><i class="icons"><img src="images/master-card.png" alt=""></i>XXXX-2345</h3>
									
								</div>
								<div class="col-sm-6 col-xs-5">
									<a href="#" class="btn-floating delete-btn" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
								</div>
							</div>
							<div class="saved-designs-block my-addresses-block payment-methods-block clearfix">
								<div class="row">
									<div class="col-sm-6 col-xs-7">
										<address>
											<span><lable>Name: </lable>David McLaughlin</span>
											<span><lable>Type: </lable>MasterCard</span>
											<span><lable>Number: </lable>xxxx-1234</span>
											<span><lable>Expire Date: </lable>10/2019</span>
										</address>
									</div>
									<div class="col-sm-6 col-xs-5">
										<div class="floating-btn-block">
											<a href="#" class="primary-btn" title="PRIMARY ADDRESS"><i class="fa fa-check" aria-hidden="true"></i> PRIMARY ADDRESS</a>
											<a href="#" class="btn-floating" title="VIEW/EDIT"><span class="view-xs">VIEW/</span><span>EDIT</span></a>


										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="order-history-block clearfix">	
							<div class="order-history-header my-addresses-header clearfix">
								<div class="col-sm-6 col-xs-7">
									<h3><i class="icons"><img src="images/american-exp.png" alt=""></i>XXXX-012343</h3>
									
								</div>
								<div class="col-sm-6 col-xs-5">
									<a href="#" class="btn-floating delete-btn" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
								</div>
							</div>
							<div class="saved-designs-block my-addresses-block payment-methods-block clearfix">
								<div class="row">
									<div class="col-sm-6 col-xs-7">
										<address>
											<span><lable>Name: </lable>David McLaughlin</span>
											<span><lable>Type: </lable>AMEX</span>
											<span><lable>Number: </lable>xxxx-1234</span>
											<span><lable>Expire Date: </lable>10/2019</span>
										</address>
									</div>
									<div class="col-sm-6 col-xs-5">
										<div class="floating-btn-block">
											<a href="#" class="btn-floating" title="MAKE PRIMARY">MAKE PRIMARY</a>
											<a href="#" class="btn-floating" title="VIEW/EDIT"><span class="view-xs">VIEW/</span><span>EDIT</span></a>


										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="details-block">
					<div class="container">
						<ul class="clearfix">
							<li>
								<a href="#" title="My Account"> 
									<span>
										<i><img src="images/my-account.svg" alt="My Account"></i> My Account
									</span>
								</a>
							</li>
							<li>

								<a href="#" title="Personal Details"> 
									<span>
										<i><img src="images/personal-details.svg" alt="Personal Details"></i> Personal Details
									</span>
								</a>

							</li>
							<li>
								<a href="#" title="Order History">
									<span>
										<i><img src="images/order-history.svg" alt="Order History"></i> Order History
									</span>
								</a>
							</li>
							<li>
								<a href="#" title="Payment Methods"> 
									<span>
										<i><img src="images/payment-methods.svg" alt="Payment Methods"></i> Payment Methods
									</span>
								</a>
							</li>
							<li>
								<a href="#" title="Support"> 
									<span>
										<i><img src="images/support.svg" alt="Support"></i> Support
									</span>
								</a>
							</li>
							<li>
								<a href="#" title="My Addresses"> 
									<span>
										<i><img src="images/my-addresses.svg" alt="My Addresses"></i> My Addresses
									</span>
								</a>
							</li>
						</ul>						
					</div>
				</div>
			</div>
			<!-- End Contant -->
		</div>

	</div>

	<footer class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-xs-6 first-col">
						<h3>About</h3>
						<ul class="footer-nav">
							<li><a href="#" title="Home">Home</a></li>
							<li><a href="#" title="About us">About us</a></li>
							<li><a href="#" title="About our Fabrics">About our Fabrics</a></li>
							<li><a href="#" title="Privacy policy">Privacy policy</a></li>
							<li><a href="#" title="Terms">Terms</a></li>
							<li class="hidden-mobile-1080"><a href="#" title="Shipping">Shipping</a></li>
							<li><a href="#" title="Become a style consultant">Become a style consultant</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-4 col-xs-6 middle-col">
						<h3 class="visible-desktop-2560 ">Customer Service</h3>
						<h3 class="visible-mobile-1080">Support</h3>
						<ul class="footer-nav">
							<li><a href="#" title="Support">Support</a></li>
							<li class="visible-desktop-2560"><a href="#" title="Alterations &amp; Returns">Alterations  &amp; Returns</a></li>
							<li class="visible-mobile-1080"><a href="#" title="Alterations &amp; Returns">Alterations </a></li>
							<li><a href="#" title="Book A Fitting">Book A Fitting</a></li>
							<li><a href="#" title="FAQs">FAQs</a></li>
							<li class="visible-mobile-1080"><a href="#" title="Contact Us">Contact Us</a></li>
							<li><a href="#" title="How to read fabric information">How to read fabric information</a></li>
							<li class="visible-desktop-2560"><a href="#" title="Contact Us">Contact Us</a></li>
						</ul>
						
						<div class="phone-link hidden-mobile-1080">
							<h3 class="visible-desktop-2560 ">CALL US</h3>
							<a href="tel:13008574788" title="Call">1300 857 478</a>
						</div>


					</div>
					<div class="col-sm-4 col-xs-12  last-col">
						<div class="phone-link visible-mobile-1080">
							<h3>CALL US</h3>
							<a href="tel:13008574788" title="Call">1300 857 478</a>
						</div>
						<h3 class="hidden-mobile-1080">Mailing List</h3>
						<form class="mailing-form hidden-mobile-1080">
							<div class="form-group">
								<input type="text" placeholder="Your name" class="form-control">
							</div>
							<div class="form-group">
								<input type="text" placeholder="Your email" class="form-control">
								<a href="#" title="Submit" class="submit-btn">
									<img src="images/submit-btn.svg" alt="Submit">
								</a>
							</div>
						</form>
						<h3 class="">Follow Us</h3>
						<ul class="social-links">
							<li><a href="#" title="Facebook" class="fa fa-facebook"></a></li>
							<li><a href="#" title="Instagram" class="fa fa-instagram"></a></li>
							<li class="hidden"><a href="#" title="Pinterest" class="fa fa-pinterest-p"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<span class="copyright-text"><i><img src="images/footer-btn.svg" alt=""></i> Copyright 2010-2016 Tailors Mark. All rights reserved. </span>
				<span class="footer-links">
					<a href="#" title="Terms of Use">Terms of Use</a><em>|</em><a href="#" title="Privacy Policy">Privacy Policy</a>
				</span>
				
				<div class="client-link">
					<a href="#" title="A Custom Innovation Co. Business">
						<div class="box">
						</div>
						Custom Innovation Co.
					</a>
					<span class="copyright-text custom-innovation">A Custom Innovation Co. Business.</span>
				</div>
			</div>
		</div>
	</footer>


	<div id="login-modal" class="modal login-popup fluid-modal fade">

		<div class="modal-dialog">
			<div class="container">
				<div role="alert" class="alert alert-danger">
					<strong>Oh snap!</strong> Change a few things up and try submitting again.
					<a title="close" aria-label="close" data-dismiss="alert" class="close" href="#">×</a>
				</div>

				<div class="alert alert-success fade in">
					<a title="close" aria-label="close" data-dismiss="alert" class="close" href="#">×</a>
					<strong>Success!</strong> This alert box indicates a successful or positive action.
				</div>
				<div class="popup-header">
					<a class="logo" href="#" title="Tailors Mark" ><img src="images/logo.svg" alt="Tailors Mark"></a>
					<a href="#" title="Close" class="close" data-dismiss="modal" aria-hidden="true">
						<img src="images/close-icon.svg" alt="Close">
					</a>
				</div>
				<div class="popup-content">
					<div class="top-block">
						<div class="col">
							<h3>Login <a class="pull-right visible-xs" title="Forgot your password?" href="#">Forgot your password?</a></h3>
							<form class="form-horizontal">
								<div class="form-group">
									<input type="email" class="form-control error" id="inputEmail" placeholder="e-mail">
									<label class="error">Please enter a valid email</label>
								</div>
								<div class="form-group">
									<input type="password" class="form-control"  placeholder="password">
								</div>
								<div class="form-group form-btn">
									<button type="submit" class="btn btn-default">Login</button>
									<a href="#" title="Forgot your password?" class="pull-right hidden-xs">Forgot your password?</a>
								</div>
							</form>
						</div>
					</div>
					<div class="bottom-block">
						<div class="col">
							<h4>Don't have an account?</h4>
							<span>Enter your email to receive exclusive offers.</span>
							<form class="form-horizontal">
								<div class="form-group">
									<input type="text" class="form-control"  placeholder="First Name">

								</div>
								<div class="form-group">
									<input type="text" class="form-control error"  placeholder="Last Name">
									<label class="error">Please enter a valid last name</label>

								</div>
								<div class="form-group">
									<input type="email" class="form-control"  placeholder="e-mail">
								</div>
								<div class="form-group form-btn">
									<button type="submit" class="btn btn-default">Sign-Up</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script  type="text/javascript">

			//Banner  
			$(".banner").owlCarousel({ 
				items :1,
				autoPlay:true,
				singleItem : true ,
				afterUpdate : function(){
					$(".banner .item ").css({"opacity" : 1})
				}
			});

			$(window).scroll(function(){
				$(".banner .item ").css({"opacity" : 1})
			});
			$(window).resize(function(){
				$(".banner .item ").css({"opacity" : 0})
			});
		</script>




	</body>
	</html>