<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Tailors Mark</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="js/main.js"></script>
</head>

<body class="home-page main-page">
	<div class="wrapper">
		<!-- Start Header -->
		<header class="header">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-xs-4 first-col">
						<ul class="navigation hidden-xs">
							<li>
								<a href="#" title="" class="nav-icons"><img src="images/nav-icon.png" alt=""></a>
								<div class="dropdown-menu about">
									<div class="drop-menu-inner">
										<ul>
											<li>About</li>
											<li><a href="#" title="Our Story">Our Story</a></li>
											<li><a href="#" title="Satisfaction Guarantee">Satisfaction Guarantee</a></li>
											<li><a href="#" title="Shipping">Shipping</a></li>
											<li><a href="#" title="Testimonials">Testimonials</a></li>
											<li><a href="#" title="Contact Us">Contact Us</a></li>
										</ul>
										<ul class="line">
											<li>Social</li>
											<li><a href="#" title="Facebook">Facebook</a></li>
											<li><a href="#" title="Instagram">Instagram</a></li>
											<li><a href="#" title="Pinterest">Pinterest</a></li>
										</ul>
									</div>
								</div>
							</li>
							<li class="hidden-xs"><a href="#" title="Shop">Shop</a>
								<div class="dropdown-menu shop">
									<div class="drop-menu-inner">
										<h2>Menswear</h2>
										<ul class="shop-dropdown">
											<li>
												<a href="#" title="Design a shirt">Design a shirt</a>
											</li>
											<li>
												<a href="#" title="Shirts collection">Shirts collection</a>
											</li>
										</ul>
										<ul class="shop-dropdown last">
											<li>
												<a href="#" title="Design a suit">Design a suit</a>
											</li>
											<li>
												<a href="#" title="Design a jacket">Design a jacket</a>
											</li>
											<li>
												<a href="#" title="Design pants">Design pants</a>
											</li>
											<li>
												<a href="#" title="Design chinos">Design chinos</a>
											</li>
											<li>
												<a href="#" title="Design a vest">Design a vest</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
						<div class="nav-icon visible-xs">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="col-sm-4 col-xs-4 logo-outer">
						<a href="#" class="logo" title="Tailors Mark">
							<img src="images/landing-logo.svg" alt="Tailors Mark">
						</a>
					</div>
					<div class="col-sm-4 col-xs-4 last-col">
						<ul class="header-links navigation clearfix">
							<li class="lang-selection"><a href="#" title="Cart">EN €</a>
								<div class="dropdown-menu">
									<div class="drop-menu-inner">
										<h3>Language</h3>
										<ul class="clearfix ">
											<li class="active"><a href="#" title="English">English</a></li>
											<li><a href="#" title="German">German</a></li>
										</ul>
										<h3 class="line">Currency</h3>
										<ul class="clearfix currency-drop">
											<li><a href="#" title="£ GBP">£ GBP</a></li>
											<li class="active"><a href="#" title="€ EUR">€ EUR</a></li>
											<li><a href="#" title="$ USD">$ USD</a></li>
											<li><a href="#" title="$ CAD">$ CAD</a></li>
											<li><a href="#" title="£ JPY">£ JPY</a></li>
											<li><a href="#" title="$ AUD">$ AUD</a></li>
											<li><a href="#" title="$ NZD">$ NZD</a></li>
											<li><a href="#" title="kr SEK">kr SEK</a></li>
											<li><a href="#" title="kr NOK">kr NOK</a></li>
											<li><a href="#" title="kr DKK">kr DKK</a></li>
										</ul>
									</div>
								</div>
							</li>
							<li class="cart-section"><a href="#" class="cart-link" title="Cart">$1.339 (2)</a></li>
							<li>
								<a href="#login-modal" class="user-text" title="Alessandro">DAVID</a>
								<div class="dropdown-menu alessandro">
									<div class="drop-menu-inner">
										<ul>
											<li><a href="#" title="My Account">My Account</a></li>
											<li><a href="#" title="Order history">Order history</a></li>
											<li><a href="#" title="Saved Profiles">Saved Profiles</a></li>
											<li><a href="#" title="Support">Support</a></li>
											<li class="line"><a href="#" title="Sign out">Sign out</a></li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<!-- End Header -->
		<!-- Start Contant -->
		<section class="main-wrap clearfix">
			<div class="refer-friend-banner">
				<div class="banner-text block-1">
					<div class="banner-text-inner">
						<div class="banner-wrap">
							<div class="inner-banner-wrap">
								<h1>INVITE a friend.<span>Get a $30 voucher.</span></h1>
								<h3>YOUR REFERRED FRIEND WILL GET A $30 VOUCHER TOO!</h3>
								<div class="button clearfix">
									<a href="#" class="white-border-btn" title="Invite Friends">
										Invite Friends
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="banner-text block-2">
					<div class="banner-text-inner">
						<div class="banner-wrap">
							<h1>david, INVITE a friend<span>&amp; Get a $30 voucher.</span></h1>
							<h3>YOUR REFERRED FRIEND WILL GET A $30 VOUCHER TOO!</h3>
							<div class="form-block">
								<form>
									<div class="inner-form-block">
										<div class="row">
											<div class="col-sm-12">
												<div class="form-group">
													<input type="text" class="form-control" placeholder="First Name">
													<label class="required-field">Enter a First Name</label>
												</div>
											</div>
											<div class="col-sm-12">
												<div class="form-group">
													<input type="text" class="form-control" placeholder="Email">
													<label class="required-field">Enter a Email</label>
												</div>
											</div>
											<div class="col-sm-12">
												<div class="form-group">
													<textarea name="" class="form-control" placeholder="Message to your friend"></textarea>
													<label class="required-field">Enter a Message</label>
												</div>
											</div>
										</div>
									</div>
									<a href="#" class="white-border-btn" title="Invite Now">
										Invite Now
									</a>
								</form>
							</div>
							<div class="button clearfix">
							</div>
						</div>
					</div>
				</div>
				<div class="banner-text block-3">
					<div class="banner-text-inner">
						<div class="banner-wrap">
							<div class="inner-banner-wrap">
								<h1>THANK YOU!</h1>
								<h3>WE HAVE EMAILED YOUR $30 VOUCHER.</h3>
								<div class="button clearfix">
									<a href="#" class="white-border-btn" title="DESIGN NOW">
										DESIGN NOW
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="refer-content-block">
				<div class="container">
					<div class="inner-block">
						<h5>HOW IT WORKS?</h5>
						<p class="first">
							Simply refer one friend who you think would be interested in Tailors Mark and we'll send you a $30.00 voucher to redeem on your next order. Better yet, your friend will also get a $30.00 voucher. Now that's what we call a win-win!
						</p>
						<h5>WHEN I WILL GET MY VOUCHER?</h5>
						<p>
							Your voucher will be emailed to you immediately after you have referred a friend to us. If you haven't received your voucher please contact <a href="#!" title="support">support</a>.
						</p>
						<h5>STILL GOT QUESTIONS?</h5>
						<p>
							Simply head to our <a href="#!" title="support section">support section</a> and get in touch with our support team who are waiting to help.
						</p>
					</div>
				</div>
			</div>
		</section>
		<!-- End Contant -->
	</div>
	<footer class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-xs-6 first-col">
						<h3>About</h3>
						<ul class="footer-nav">
							<li><a href="#" title="Home">Home</a></li>
							<li><a href="#" title="About us">About us</a></li>
							<li><a href="#" title="About our Fabrics">About our Fabrics</a></li>
							<li><a href="#" title="Privacy policy">Privacy policy</a></li>
							<li><a href="#" title="Terms">Terms</a></li>
							<li class="hidden-xs"><a href="#" title="Shipping">Shipping</a></li>
							<li><a href="#" title="Become a style consultant">Become a style consultant</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-4 col-xs-6 middle-col">
						<h3 class="hidden-xs">Customer Service</h3>
						<h3 class="visible-xs">SUPPORT</h3>
						<ul class="footer-nav">
							<li><a href="#" title="Support">Support</a></li>
							<li><a href="#" title="Alterations &amp; Returns">Alterations  &amp; Returns</a></li>
							<li><a href="#" title="Book A Fitting">Book A Fitting</a></li>
							<li><a href="#" title="FAQs">FAQs</a></li>
							<li class="visible-xs"><a href="#" title="Contact Us">Contact Us</a></li>
							<li><a href="#" title="How to read fabric information">How to read fabric information</a></li>
							<li class="hidden-xs"><a href="#" title="Contact Us">Contact Us</a></li>
						</ul>
						<div class="phone-link hidden-xs">
							<h3>CALL US</h3>
							<a href="tel:13008574788" title="Call">1300 857 478</a>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12  last-col">
						<div class="phone-link visible-xs">
							<h3>CALL US</h3>
							<a href="tel:13008574788" title="Call">1300 857 478</a>
						</div>
						<h3 class="hidden-xs">Mailing List</h3>
						<form class="mailing-form hidden-xs">
							<div class="form-group">
								<input type="text" placeholder="Your name" class="form-control">
							</div>
							<div class="form-group">
								<input type="text" placeholder="Your email" class="form-control">
								<a href="#" title="Submit" class="submit-btn">
									<img src="images/submit-btn.svg" alt="Submit">
								</a>
							</div>
						</form>
						<h3 class="">Follow Us</h3>
						<ul class="social-links">
							<li>
								<a href="#" title="Facebook" class="fa fa-facebook"></a>
							</li>
							<li>
								<a href="#" title="Instagram" class="fa fa-instagram"></a>
							</li>
							<li>
								<a href="#" title="Pinterest" class="fa fa-pinterest-p"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<span class="copyright-text"><i><img src="images/footer-btn.svg" alt=""></i> Copyright 2010-2016 Tailors Mark. All rights reserved. </span>
				<span class="footer-links">
					<a href="#" title="Terms of Use">Terms of Use</a><em>|</em><a href="#" title="Privacy Policy">Privacy Policy</a>
				</span>
				<div class="client-link">
					<a href="#" title="A Custom Innovation Co. Business">
						<div class="box">
						</div>
						Custom Innovation Co.
					</a>
					<span class="copyright-text custom-innovation">A Custom Innovation Co. Business.</span>
				</div>
			</div>
		</div>
	</footer>
	</html>
