<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tailors Mark</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body class="account-order-details home-page sizing-page">
	<div class="wrapper inner-page">

		
		<!-- Start Header -->
		<header class="header">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-xs-4 first-col">
						<ul class="navigation hidden-xs">
							<li><a href="#" title="" class="nav-icons"><img src="images/nav-icon.png" alt=""></a>
								<div class="dropdown-menu about">
									<div class="drop-menu-inner">
										<ul>
											<li>About</li>
											<li><a href="#" title="Our Story">Our Story</a></li>
											<li><a href="#" title="Satisfaction Guarantee">Satisfaction Guarantee</a></li>
											<li><a href="#" title="Shipping">Shipping</a></li>
											<li><a href="#" title="Testimonials">Testimonials</a></li>
											<li><a href="#" title="Contact Us">Contact Us</a></li>
										</ul>
										<ul class="line">
											<li>Social</li>
											<li><a href="#" title="Facebook">Facebook</a></li>
											<li><a href="#" title="Instagram">Instagram</a></li>
											<li><a href="#" title="Pinterest">Pinterest</a></li>
										</ul>
									</div>
								</div>
							</li>

							<li class="hidden-xs"><a href="#" title="Shop">Shop</a>
								<div class="dropdown-menu shop">
									<div class="drop-menu-inner">
										<h2>Menswear</h2>
										<ul class="shop-dropdown">
											<li>
												<a href="#" title="Design a shirt">Design a shirt</a>
											</li>
											<li>
												<a href="#" title="Shirts collection">Shirts collection</a>
											</li>
										</ul>
										<ul class="shop-dropdown last">
											<li>
												<a href="#" title="Design a suit">Design a suit</a>
											</li>
											<li>
												<a href="#" title="Design a jacket">Design a jacket</a>
											</li>
											<li>
												<a href="#" title="Design pants">Design pants</a>
											</li>
											<li>
												<a href="#" title="Design chinos">Design chinos</a>
											</li>
											<li>
												<a href="#" title="Design a vest">Design a vest</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
						<div class="nav-icon visible-xs">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="col-sm-4 col-xs-4 logo-outer">
						<a href="#" class="logo" title="Tailors Mark">
							<img src="images/landing-logo.svg" alt="Tailors Mark">
						</a>
					</div>
					<div class="col-sm-4 col-xs-4 last-col">
						<ul class="header-links navigation clearfix">
							
							
							<li class="lang-selection"><a href="#" title="Cart">EN €</a>
								<div class="dropdown-menu">
									<div class="drop-menu-inner">
										<h3>Language</h3>
										<ul class="clearfix ">
											<li class="active"><a href="#" title="English">English</a></li>
											<li><a href="#" title="German">German</a></li>
										</ul>
										<h3 class="line">Currency</h3>
										<ul class="clearfix currency-drop">
											<li><a href="#" title="£ GBP">£ GBP</a></li>
											<li class="active"><a href="#" title="€ EUR">€ EUR</a></li>
											<li><a href="#" title="$ USD">$ USD</a></li>
											<li><a href="#" title="$ CAD">$ CAD</a></li>
											<li><a href="#" title="£ JPY">£ JPY</a></li>
											<li><a href="#" title="$ AUD">$ AUD</a></li>
											<li><a href="#" title="$ NZD">$ NZD</a></li>
											<li><a href="#" title="kr SEK">kr SEK</a></li>
											<li><a href="#" title="kr NOK">kr NOK</a></li>
											<li><a href="#" title="kr DKK">kr DKK</a></li>
										</ul>

									</div>
								</div>
							</li>
							<li class="cart-section"><a href="#" class="cart-link" title="Cart">$1.339 (2)</a></li>
							<li>
								<a href="#login-modal" class="user-text" title="Alessandro">DAVID</a>
								<div class="dropdown-menu alessandro">
									<div class="drop-menu-inner">
										<ul>
											<li><a href="#" title="My Account">My Account</a></li>
											<li><a href="#" title="Order history">Order history</a></li>
											<li><a href="#" title="Saved Profiles">Saved Profiles</a></li>
											<li><a href="#" title="Support">Support</a></li>
											<li class="line"><a href="#" title="Sign out">Sign out</a></li>
										</ul>
									</div>
								</div>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</header>
		<!-- End Header -->
		
		
		<!-- Start Panel -->
		<div class="slide-panel">
			<div class="slide-panel-inner">
				<ul class="slide-navigation">
					<li>
						<a href="#" title="Design a shirt">Design a shirt</a>
						
					</li>
					<li>
						<a href="#" title="Shirts collection">Shirts collection</a>
						
					</li>
					<li>
						<a href="#" title="Design a suit">Design a suit</a>
						
					</li>
					
				</ul>
				<ul class="slide-nav">
					<li><a href="#login-modal" data-toggle="modal" title="Login">Login</a></li>
					<li><a href="#" title="Our Story">Our Story</a></li>
					<li><a href="#" title="Satisfaction Guarantee">Satisfaction Guarantee</a></li>
					<li><a href="#" title="Contact Us">Contact Us</a></li>
					<li><a href="#" title="Help">Help</a></li>
					<li><a href="#" title="Shipping">Shipping</a></li>
				</ul>
			</div>
		</div>
		<!-- End Panel -->
		<!-- Start Contant -->
		<div class="main-wrap clearfix">
			<div class="container sizing-content">
				<h1>GET FITTED NOW. <span>perfect fit guarantee.</span></h1>
				<ul class="sizing-list">
					<li class="active clearfix">
						
						<h3>AUTOSIZE</h3>
						<span>SIZED AND READY TO ORDER IN SECONDS - BY
							<img src="images/listing-tec-logo.svg" alt="" class="mCS_img_loaded">
						</span>
						<p>Answer a few easy questions and the data we've gathered from over 60,000 shirt orders will accurately calculate your unique size.</p>
						<p>We currently have a 95% accuracy rate for perfect fit on first time customer orders and we will re-make your shirt free of charge if your fit is not perfect.</p>

						<div class="sizing-right-col">
							<a href="#" class="btn btn-default active" title="Select">Select</a>
							<span>RECOMMENDED OPTION</span>
						</div>
					</li>

					<li class="clearfix">
						
						<h3>Measure Your Body</h3>							
						<p>Follow our simple instructions, put in your key measurements, and we’ll tailor your shirt based on your size and fit preferences.</p>	<div class="clearfix download-btn"><a href="#">DOWNLOAD GUIDE</a></div>	


						<div class="sizing-right-col">
							<a href="#" class="btn btn-default active" title="Select">Select</a>							
						</div>
					</li>

					<li class="clearfix">
						
						<h3>Measure an Existing Shirt</h3>							
						<p>Measure your favourite shirt and we’ll tailor a new shirt to its exact dimensions.</p>
						<div class="clearfix download-btn"><a href="#">DOWNLOAD GUIDE</a></div>	

						<div class="sizing-right-col">
							<a href="#" class="btn btn-default active" title="Select">Select</a>							
						</div>
					</li>

					<li class="clearfix">
						
						<h3>Use Existing Measurements</h3>							
						<p>Already measured? Order another shirt to the same specifications.</p>

						<div class="sizing-right-col">
							<a href="#" class="btn btn-default active" title="Select">Select</a>							
						</div>
					</li>
				</ul>
			</div>	

			<div class="customer-review">
				<div class="container">
					<h2>WHAT CUSTOMERS ARE SAYING...</h2>
					<ul>
						<li>
							<label>01/03/2017</label>
							<p>Excellent products and service... can't fault them.</p>
							<span>
								<a href="#">
									<img src="images/flag-05.png" alt="">
								</a>
								John Fox, United Kingdom
							</span>
						</li>
						<li>
							<label>27/02/2017</label>
							<p>Great quality.</p>
							<span>
								<a href="#">
									<img src="images/flag-05.png" alt="">
								</a>
								Scotty Fulton, United Kingdom
							</span>
						</li>
						<li>
							<label>20/02/2017</label>
							<p>Thanks to your wonderful staff (namely Sue) I was able to complete my order. Loving this idea.. I will back for more for sure.</p>
							<span>
								<a href="#">
									<img src="images/flag-05.png" alt="">
								</a>
								Scotty Fulton, United Kingdom
							</span>
						</li>
						<li>
							<label>04/02/2017</label>
							<p>Shirts have good quality and a perfect fit. Also the Support was excellent.</p>
							<span>
								<a href="#">
									<img src="images/flag-02.png" alt="">
								</a>
								Lars Konen, Germany
							</span>
						</li>
					</ul>

					<a href="#" title="Show More" class="tag-link">Show More</a>
				</div>
			</div>		
		</div>
		<!-- End Contant -->
	</div>
	<footer class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-xs-6 first-col">
						<h3>About</h3>
						<ul class="footer-nav">
							<li><a href="#" title="Home">Home</a></li>
							<li><a href="#" title="About us">About us</a></li>
							<li><a href="#" title="About our Fabrics">About our Fabrics</a></li>
							<li><a href="#" title="Privacy policy">Privacy policy</a></li>
							<li><a href="#" title="Terms">Terms</a></li>
							<li class="hidden-mobile-1080"><a href="#" title="Shipping">Shipping</a></li>
							<li><a href="#" title="Become a style consultant">Become a style consultant</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-4 col-xs-6 middle-col">
						<h3 class="visible-desktop-2560 ">Customer Service</h3>
						<h3 class="visible-mobile-1080">Support</h3>
						<ul class="footer-nav">
							<li><a href="#" title="Support">Support</a></li>
							<li class="visible-desktop-2560"><a href="#" title="Alterations &amp; Returns">Alterations  &amp; Returns</a></li>
							<li class="visible-mobile-1080"><a href="#" title="Alterations &amp; Returns">Alterations </a></li>
							<li><a href="#" title="Book A Fitting">Book A Fitting</a></li>
							<li><a href="#" title="FAQs">FAQs</a></li>
							<li class="visible-mobile-1080"><a href="#" title="Contact Us">Contact Us</a></li>
							<li><a href="#" title="How to read fabric information">How to read fabric information</a></li>
							<li class="visible-desktop-2560"><a href="#" title="Contact Us">Contact Us</a></li>
						</ul>
						<div class="phone-link hidden-mobile-1080">
							<h3 class="visible-desktop-2560 ">CALL US</h3>
							<a href="tel:13008574788" title="Call">1300 857 478</a>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12  last-col">
						<div class="phone-link visible-mobile-1080">
							<h3>CALL US</h3>
							<a href="tel:13008574788" title="Call">1300 857 478</a>
						</div>
						<h3 class="hidden-mobile-1080">Mailing List</h3>
						<form class="mailing-form hidden-mobile-1080">
							<div class="form-group">
								<input type="text" placeholder="Your name" class="form-control">
							</div>
							<div class="form-group">
								<input type="text" placeholder="Your email" class="form-control">
								<a href="#" title="Submit" class="submit-btn">
									<img src="images/submit-btn.svg" alt="Submit">
								</a>
							</div>
						</form>
						<h3 class="">Follow Us</h3>
						<ul class="social-links">
							<li>
								<a href="#" title="Facebook" class="fa fa-facebook"></a>
							</li>
							<li>
								<a href="#" title="Instagram" class="fa fa-instagram"></a>
							</li>
							<li class="hidden">
								<a href="#" title="Pinterest" class="fa fa-pinterest-p"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<span class="copyright-text"><i><img src="images/footer-btn.svg" alt=""></i> Copyright 2010-2016 Tailors Mark. All rights reserved. </span>
				<span class="footer-links">
					<a href="#" title="Terms of Use">Terms of Use</a><em>|</em><a href="#" title="Privacy Policy">Privacy Policy</a>
				</span>
				<div class="client-link">
					<a href="#" title="A Custom Innovation Co. Business">
						<div class="box">
						</div>
						Custom Innovation Co.
					</a>
					<span class="copyright-text custom-innovation">A Custom Innovation Co. Business.</span>
				</div>
			</div>
		</div>
	</footer>


</body>
</html>