<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tailors Mark</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/main.css">		
	<script type="text/javascript" src="js/main.js"></script>
</head>

<body>
	<div class="wrapper inner-page">

		<!-- Start Contant -->
		<div class="main-wrap clearfix">		
			<div class="container">
				<!-- Start Header -->
				<header class="header innerpage-header">
					<div class="row">
						<div class="col-sm-4 col-xs-4">
							<a href="#" title="Tailors Mark" class="logo">
								<img src="images/logo.svg" alt="Tailors Mark">
							</a>
						</div>
						<div class="col-sm-8 col-xs-8">
							<div class="user-menu hidden">
								<div class="cart-link">
									$339 (2)
								</div>
								<div class="login-link">
									<a href="#" title="Login">Login</a>
								</div>
							</div>
							<ul class="header-links  navigation clearfix">
								<li>
									<div class="lang-selection">
										<a href="#" title="Cart">EN $</a>
										<div class="dropdown-menu">
											<div class="drop-menu-inner">
												<h3>Language</h3>
												<ul class="clearfix ">
													<li class="active"><a href="#" title="English">English</a></li>
													<li><a href="#" title="German">German</a></li>
												</ul>
												<h3 class="line">Currency</h3>
												<ul class="clearfix currency-drop">
													<li><a href="#" title="£ GBP">£ GBP</a></li>
													<li class="active"><a href="#" title="€ EUR">€ EUR</a></li>
													<li><a href="#" title="$ USD">$ USD</a></li>
													<li><a href="#" title="$ CAD">$ CAD</a></li>
													<li><a href="#" title="£ JPY">£ JPY</a></li>
													<li><a href="#" title="$ AUD">$ AUD</a></li>
													<li><a href="#" title="$ NZD">$ NZD</a></li>
													<li><a href="#" title="kr SEK">kr SEK</a></li>
													<li><a href="#" title="kr NOK">kr NOK</a></li>
													<li><a href="#" title="kr DKK">kr DKK</a></li>
												</ul>

											</div>
										</div>
									</div>
								</li>
								<li class="cart-section">
									<a href="#" class="cart-link" title="Cart">$0.00 (0)</a>

								</li>
								<li>
									<div class="login-link">
										<a href="#login-modal" class="user-text" title="Alessandro">DAVID</a>
										<div class="dropdown-menu alessandro">
											<div class="drop-menu-inner">
												<ul class="clearfix">
													<li><a href="#" title="My Account">My Account</a></li>
													<li><a href="#" title="Order history">Order history</a></li>
													<li><a href="#" title="My Measurements">My Measurements</a></li>
													<li><a href="#" title="Saved Designs">Saved Designs</a></li>
													<li><a href="#" title="Support">Support</a></li>
													<li class="line"><a href="#" title="Sign out">Sign out</a></li>
												</ul>
											</div>
										</div>
										<a href="#login-modal" data-toggle="modal" title="Login" class="logout-link">Login</a>
									</div>
								</li>


							</ul>
						</div>
					</div>
				</header>
				<!-- End Header -->
			</div>
			<div class="container thanks-order thanks-page">

				<h1>
					thanks for your order!
					<span>you’re almost done.</span>
				</h1>
				<p>Your payment has been processed, but your order is on hold until you add measurements for all products.</p>

				<div class="thanks-measurement-block">
					<ul>						
						<li>
							<span class="info-icon">
								<em><img src="images/info-icon.png" alt=""></em>
							</span>		

							<div class="img-thumb">
								<img src="images/order-slide4.png" class="img-responsive" alt="">
							</div>
							<div class="thumb-content">
								<a href="#" class="btn btn-default active btn-add-measurement" title="Add Measurement">Add Measurement</a>
							</div>

						</li>
						<li class="active">
							<span class="info-icon">
								<em><img src="images/round-check.png" alt=""></em>
							</span>		

							<div class="img-thumb">
								<img src="images/order-slide4.png" class="img-responsive" alt="">
							</div>
							<div class="thumb-content">
								<p>Measurements added</p>
							</div>

						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Contant -->

	</div>
</body>
</html>



