<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tailors Mark</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/main.css">			
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body>
	<div class="wrapper">
		<!-- Start Contant -->
		<section class="sited-down-page">

			<div class="container">
				<div class="text-center">
					<a href="#" title="Tailors Mark" class="logo">
						<img src="images/logo.svg" alt="Tailors Mark">
					</a>
				</div>

				<div class="site-down-content">
					<h1>WE’LL BE BACK SHORTLY.</h1>
					
					<p>Tailors Mark is currently undergoing maintenance. <span>We’re almost done and will be back online shortly.</span></p>
					<p>For any urgent or order enquires please contact <a href="mailto:support@tailorsmark.com">support@tailorsmark.com</a>.</p>
				</div>

			</div>


		</section>
		<!-- End Contant -->
	</div>
</body>
</html>