<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tailors Mark</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/main.css">		
	<script type="text/javascript" src="js/main.js"></script>
</head>

<body class="home-page main-page wedding-wrapper">
	<div class="wrapper">

		<!-- Start Header -->
		<header class="header">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-xs-4 first-col">
						<ul class="navigation hidden-xs">
							<li><a href="#" title="" class="nav-icons"><img src="images/nav-icon.png" alt=""></a>
								<div class="dropdown-menu about">
									<div class="drop-menu-inner">
										<ul>
											<li>About</li>
											<li><a href="#" title="Our Story">Our Story</a></li>
											<li><a href="#" title="Satisfaction Guarantee">Satisfaction Guarantee</a></li>
											<li><a href="#" title="Shipping">Shipping</a></li>
											<li><a href="#" title="Testimonials">Testimonials</a></li>
											<li><a href="#" title="Contact Us">Contact Us</a></li>
										</ul>
										<ul class="line">
											<li>Social</li>
											<li><a href="#" title="Facebook">Facebook</a></li>
											<li><a href="#" title="Instagram">Instagram</a></li>
											<li><a href="#" title="Pinterest">Pinterest</a></li>
										</ul>
									</div>
								</div>
							</li>

							<li class="hidden-xs"><a href="#" title="Shop">Shop</a>
								<div class="dropdown-menu shop">
									<div class="drop-menu-inner">
										<h2>Menswear</h2>
										<ul class="shop-dropdown">
											<li>
												<a href="#" title="Design a shirt">Design a shirt</a>
											</li>
											<li>
												<a href="#" title="Shirts collection">Shirts collection</a>
											</li>
										</ul>
										<ul class="shop-dropdown last">
											<li>
												<a href="#" title="Design a suit">Design a suit</a>
											</li>
											<li>
												<a href="#" title="Design a jacket">Design a jacket</a>
											</li>
											<li>
												<a href="#" title="Design pants">Design pants</a>
											</li>
											<li>
												<a href="#" title="Design chinos">Design chinos</a>
											</li>
											<li>
												<a href="#" title="Design a vest">Design a vest</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
						<div class="nav-icon visible-xs">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="col-sm-4 col-xs-4 logo-outer">
						<a href="#" class="logo" title="Tailors Mark">
							<img src="images/landing-logo.svg" alt="Tailors Mark">
						</a>
					</div>
					<div class="col-sm-4 col-xs-4 last-col">
						<ul class="header-links navigation clearfix">
							
							
							<li class="lang-selection"><a href="#" title="Cart">EN €</a>
								<div class="dropdown-menu">
									<div class="drop-menu-inner">
										<h3>Language</h3>
										<ul class="clearfix ">
											<li class="active"><a href="#" title="English">English</a></li>
											<li><a href="#" title="German">German</a></li>
										</ul>
										<h3 class="line">Currency</h3>
										<ul class="clearfix currency-drop">
											<li><a href="#" title="£ GBP">£ GBP</a></li>
											<li class="active"><a href="#" title="€ EUR">€ EUR</a></li>
											<li><a href="#" title="$ USD">$ USD</a></li>
											<li><a href="#" title="$ CAD">$ CAD</a></li>
											<li><a href="#" title="£ JPY">£ JPY</a></li>
											<li><a href="#" title="$ AUD">$ AUD</a></li>
											<li><a href="#" title="$ NZD">$ NZD</a></li>
											<li><a href="#" title="kr SEK">kr SEK</a></li>
											<li><a href="#" title="kr NOK">kr NOK</a></li>
											<li><a href="#" title="kr DKK">kr DKK</a></li>
										</ul>

									</div>
								</div>
							</li>
							<li class="cart-section"><a href="#" class="cart-link" title="Cart">$1.339 (2)</a></li>
							<li>
								<a href="#login-modal" class="user-text" title="Alessandro">DAVID</a>
								<div class="dropdown-menu alessandro">
									<div class="drop-menu-inner">
										<ul>
											<li><a href="#" title="My Account">My Account</a></li>
											<li><a href="#" title="Order history">Order history</a></li>
											<li><a href="#" title="Saved Profiles">Saved Profiles</a></li>
											<li><a href="#" title="Support">Support</a></li>
											<li class="line"><a href="#" title="Sign out">Sign out</a></li>
										</ul>
									</div>
								</div>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</header>
		<!-- End Header -->

		<!-- Start Panel -->
		<div class="slide-panel">
			<div class="slide-panel-inner">
				<ul class="slide-navigation">
					<li>
						<a href="#" title="Design a shirt">Design a shirt</a>
						
					</li>
					<li>
						<a href="#" title="Shirts collection">Shirts collection</a>
						
					</li>
					<li>
						<a href="#" title="Design a suit">Design a suit</a>
						
					</li>
					
				</ul>
				<ul class="slide-nav">
					<li><a href="#login-modal" data-toggle="modal" title="Login">Login</a></li>
					<li><a href="#" title="Our Story">Our Story</a></li>
					<li><a href="#" title="Satisfaction Guarantee">Satisfaction Guarantee</a></li>
					<li><a href="#" title="Contact Us">Contact Us</a></li>
					<li><a href="#" title="Help">Help</a></li>
					<li><a href="#" title="Shipping">Shipping</a></li>
				</ul>
			</div>
		</div>
		<!-- End Panel -->
		

		<!-- Start Contant -->
		<section class="main-wrap clearfix wedding-page">

			<div class="wedding-banner">
				<img src="images/wedding-banner.jpg" alt="" class="img-responsive hidden-xs">
				<img src="images/wedding-banner-mb.jpg" alt="" class="img-responsive visible-xs">
				<div class="wedding-banner-text">
					<div class="container">
						<h1>I. Do</h1>
						<p>No ordinary day,<span>no ordinary grooms party.</span></p>
						<a href="#" class="white-border-btn" title="Make a booking enquiry now">Make a booking enquiry now</a>
					</div>
				</div>
				<div class="pc-outer"><div class="pc-block">Photo Credit: Julia Lockhead Photography</div></div>
			</div>

			<div class="wedding-content-outer">
				<div class="container">
					<div class="wedding-content">
						<p>At Tailors Mark, we know that your wedding day is an incredibly busy, expensive, <span>and (most importantly) special time. That’s why we’ve simplified the entire process.</span></p>
						<p>We’ll take the measurements for your entire grooms party in one fitting, help you choose suiting	<span>and shirting fabrics along with custom details, and have them hand tailored and delivered to your door well before your wedding day.</span> Of course, any alterations or refinements to perfect each suit, is on us.
						</p>
						<p>We use technology to simplify the tailoring process, which means that you can fully customise
							<span>and tailor outfits for the whole grooms party, without spending any additional time or money in the process.</span> With Tailors Mark, there’s one less thing to worry about, and one more thing to make your wedding day special.
						</p>
						<a href="#works-block" class="btn btn-default active work-btn" title="How It Works?">
							HOW IT WORKS?
							<img src="images/angle-down-blue.png" alt="">
							<img src="images/angle-down-white.png" alt="" class="roll-over">
						</a>
					</div>
				</div>

				<div class="works-block" id="works-block">
					<div class="container"> 
						<h4>HOW IT WORKS</h4>
						<ul class="clearfix">
							<li class="clearfix">
								<div class="img-thumb"><img src="images/work-icon01.png" alt=""></div>
								<em>1. Make a <span>Booking</span></em>
							</li>
							<li class="clearfix">
								<div class="img-thumb"><img src="images/work-icon02.png" alt=""></div>
								<em>2. Get <span>Measured</span></em>
							</li>
							<li class="clearfix">
								<div class="img-thumb"><img src="images/work-icon03.png" alt=""></div>
								<em>3. Choose Fabric <span>&amp; Design</span></em>
							</li>
							<li class="clearfix">
								<div class="img-thumb"><img src="images/work-icon04.png" alt=""></div>
								<em>4. Place <span>your order</span></em>
							</li>
							<li class="clearfix">
								<div class="img-thumb"><img src="images/work-icon05.png" alt=""></div>
								<em>5. Delivery <span>and fitting</span></em>
							</li>
							<li class="clearfix">
								<div class="img-thumb"><img src="images/work-icon06.png" alt=""></div>
								<em>6. Perfect Fit <span>Guaranteed</span></em>
							</li>
						</ul>

						<button type="button" class="btn btn-default active" title="Make a Booking">Make a Booking</button>
					</div>
				</div>

			</div>

			<ul class="wedding-gallery clearfix">
				<li class="col-sm-4 hidden-xs"><img src="images/wedding01.jpg" alt="" class="img-responsive"></li>
				<li class="col-sm-4 col-xs-12"><img src="images/wedding02.jpg" alt="" class="img-responsive"></li>
				<li class="col-sm-4 hidden-xs"><img src="images/wedding03.jpg" alt="" class="img-responsive"></li>
			</ul>

			<div class="do-block">
				<div class="container">
					<h2>Why Choose to Say 'I Do' in Tailors Mark</h2>
					<ul class="clearfix">
						<li>

							<img src="images/do01.png" alt="">
							<em>Free consultation<span>with a professional.</span></em>

						</li>
						<li>

							<img src="images/do02.png" alt="">
							<em>Packaged<span>discounts.</span></em>

						</li>
						<li>

							<img src="images/do03.png" alt="">
							<em>Tailored suits,<span>not &lsquo;off the rack&rsquo;.</span></em>

						</li>
						<li>

							<img src="images/do04.png" alt="">
							<em>Customise design<span>your looks or style.</span></em>

						</li>
						<li>

							<img src="images/do05.png" alt="">
							<em>Perfect fit<span>guaranteed.</span></em>
							
						</li>
					</ul>
				</div>
			</div>

			<div class="enquire-outer-block">
				<div class="container">
					<div class="enquire-block">
						<img src="images/enquire-image.jpg" alt="" class="img-responsive hidden-xs">
						<!-- <img src="images/enquire-image-mb.jpg" alt="" class="img-responsive visible-xs"> -->						<div class="offer-tag">
						MAY SPECIAL: BOOK A FITTING BEFORE 31/5/2017
					</div>
					<div class="enquire-content">
						<h2>The ‘I Do’ Package</h2>

						<div class="feature-block">
							<span>3 or more suits. INCLUDES:</span>
							<ul class="clearfix">
								<li>
									<ul>
										<li>Custom Tailored Suit</li>
										<li>Custom Tailored Shirt</li>
										<li>Custom Bow Tie</li>
										<li>Custom Pocket Square</li>
										<li>Custom Monograms</li>
									</ul>
								</li>
								<li>
									<ul>
										<li>Custom Suit Piping</li>
										<li>Pick Stitching</li>
										<li>Complimentary Fitting for Each Suit</li>
										<li>Alterations</li>
										<li>Perfect Fit Guarantee</li>
									</ul>
								</li>
							</ul>
							<em>FROM <b>$1,200</b> $899 per person</em>
							<a href="#" class="white-border-btn" title="Enquire Now">Enquire Now</a>
							<i>Suit: level 1 or level 2 fabric. Shirt: level 1 fabric.</i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="rating-block">
			<div class="container">
				<div class="rating-content">
					<ul class="clearfix">
						<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
						<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
						<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
						<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
						<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
					</ul>				

					<p>&ldquo;Our groomsmen were certainly a priority as we wanted to look perfect
						for our photos. The whole process was super easy, the fitting service exceptional and we loved being able to sit down and discuss our desired look for the big day with someone that understood weddings and mens clothing - super fun and one less thing I had to worry about.&rdquo;
					</p>

					<span>Justin Oneil, Melbourne</span>
				</div>

				<div class="rating-content">
					<ul class="clearfix">
						<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
						<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
						<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
						<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
						<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
					</ul>				

					<p>&ldquo;Our groomsmen were certainly a priority as we wanted to look perfect
						for our photos. The whole process was super easy, the fitting service exceptional and we loved being able to sit down and discuss our desired look for the big day with someone that understood weddings and mens clothing - super fun and one less thing I had to worry about.&rdquo;
					</p>

					<span>Justin Oneil, Melbourne</span>
				</div>

				<div class="rating-content">
					<ul class="clearfix">
						<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
						<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
						<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
						<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
						<li><img src="images/star-black.png" alt="" class="img-responsive"></li>
					</ul>				

					<p>&ldquo;Our groomsmen were certainly a priority as we wanted to look perfect
						for our photos. The whole process was super easy, the fitting service exceptional and we loved being able to sit down and discuss our desired look for the big day with someone that understood weddings and mens clothing - super fun and one less thing I had to worry about.&rdquo;
					</p>

					<span>Justin Oneil, Melbourne</span>
				</div>

				<em class="rating-img clearfix">
					<a href="#" title="Google Rating">
						<img src="images/rating-img.png" alt="Google Rating" class="img-responsive">
					</a>
				</em>
			</div>
		</div>


		<div class="moment-thumbnail">
			<div class="moment-thumbnail-block">
				<ul class="clearfix">
					<li><img src="images/wedding-gallery-01.jpg" class="img-responsive" alt=""></li>
					<li><img src="images/wedding-gallery-02.jpg" class="img-responsive" alt=""></li>
					<li><img src="images/wedding-gallery-03.jpg" class="img-responsive" alt=""></li>
					<li><img src="images/wedding-gallery-04.jpg" class="img-responsive" alt=""></li>
					<li><img src="images/wedding-gallery-05.jpg" class="img-responsive" alt=""></li>
					<li><img src="images/wedding-gallery-06.jpg" class="img-responsive" alt=""></li>
					<li><img src="images/wedding-gallery-07.jpg" class="img-responsive" alt=""></li>
					<li><img src="images/wedding-gallery-08.jpg" class="img-responsive" alt=""></li>
					<li class="hidden-xs">
						<img src="images/wedding-gallery-09.jpg" class="img-responsive" alt="">
					</li>
					<li class="hidden-xs">
						<img src="images/wedding-gallery-10.jpg" class="img-responsive" alt="">
					</li>
					<li class="hidden-xs">
						<img src="images/wedding-gallery-11.jpg" class="img-responsive" alt="">
					</li>
					<li class="hidden-xs">
						<img src="images/wedding-gallery-12.jpg" class="img-responsive" alt="">
					</li>
				</ul>


				<span>Tailors Mark <em>&lsquo;</em> I do <em>&lsquo;</em> moments</span>

			</div>

			<div class="bottom-moment-block">
				<div class="container">
					<ul class="clearfix">
						<li>
							<img src="images/icon-01.png" alt="">
							<span>Complimentary <i>Fitting.</i></span>
						</li>
						<li>
							<img src="images/icon-02.png" alt="">
							<span>Perfect Fit <i>GUARANTEE.</i></span>
						</li>
						<li>
							<img src="images/icon-03.png" alt="">
							<span>4 Week <i>Delivery</i> <em>from initial fitting.</em></span>
						</li>
					</ul>

					<a href="#works-block" class="btn btn-default active" title="Make A Booking">	
						Make A Booking
					</a>
				</div>
			</div>
		</div>


		<div class="fitting-block ">
			<div class="fitting-content">
				<h2>Enquire About A Free Fitting</h2>
				<div class="offer-tag">
					June Special: &ldquo; I do &rdquo; Package - Book A Fitting Before 16/06/2017
				</div>
				<form>
					<div class="form-block">
						<div class="form-group">
							<div class="row">
								<div class="col-sm-6 input-width">
									<input type="text" placeholder="Robert" class="form-control">
								</div>
								<div class="col-sm-6 input-width pull-right hidden-xs">
									<input type="text" placeholder="Your Email" class="form-control">
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6 input-width">
									<input type="text" placeholder="Your Phone" class="form-control">
								</div>
								<div class="col-sm-6 error-msg input-width pull-right hidden-xs">
									<input type="text" placeholder="Date of wedding" class="form-control datepicker">
									<label class="error">Enter a Wedding date</label>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6 input-width">
									<div class="custom-dropdown">
										<select data-type="custom-dropdown">
											<option class="hidden-option">How did you hear about us?</option>
											<option>Google</option>
											<option>Facebook</option>
											<option>Style Consultant</option>
											<option>Other</option>
										</select>
									</div>
								</div>
								<div class="col-sm-6 input-width pull-right hidden-xs">
									<div class="custom-dropdown">
										<select data-type="custom-dropdown">
											<option class="hidden-option">Preferred method of contact</option>
											<option>By Email</option>
											<option>By Phone</option>											
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6 input-width">
									<input type="text" placeholder="Preferred fitting date" class="form-control datepicker">
								</div>
								<div class="col-sm-6 input-width pull-right visible-xs">
									<input type="text" placeholder="Your Email" class="form-control">
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6 error-msg input-width pull-right visible-xs">
									<input type="text" placeholder="Date of wedding" class="form-control datepicker">
									<label class="error">Enter a Wedding date</label>
								</div>
								<div class="col-sm-6 input-width pull-right visible-xs">
									<div class="custom-dropdown">
										<select data-type="custom-dropdown">
											<option class="hidden-option">Preferred method of contact</option>
											<option>Option01</option>
											<option>Option02</option>
											<option>Option03</option>
											<option>Option04</option>
											<option>Option05</option>
											<option>Option06</option>
										</select>
									</div>
								</div>
							</div>
						</div>


						
						<!-- <div class="datepicker"></div> -->


						<span>WARDROBE needs:</span>

						<div class="wardrobe-outer">
							<div class="checkbox-block clearfix">
								<div class="form-group left">
									<label class="checkbox-outer">
										<input type="checkbox" class="icheck" name="icheck">‘I Do’ package <em>from $899</em> (min. 3x suits)
									</label>
								</div>

								<div class="form-group suits-no clearfix visible-xs">
									<label>Number Of Suits</label>
									<input type="text" placeholder="" class="form-control">
								</div>

								<div class="form-group right">
									<label class="checkbox-outer">
										<input type="checkbox" class="icheck" name="icheck">Other requirements
									</label>
								</div>
								<div class="error-msg">
									<label class="error">You must check at least 1 box</label>
								</div>
								
							</div>
							
							<div class="form-group suits-no clearfix hidden-xs">
								<label>Number Of Suits</label>
								<input type="text" placeholder="" class="form-control">
								
							</div>
							<div class="error-msg">
								<label class="error">Enter a Number of Suits</label>
							</div>
						</div>


						<div class="form-group">
							<textarea class=" textarea-control" rows="3" cols="107" placeholder="Other comments / custom requirements"></textarea>
						</div>

						<a href="#" class="white-border-btn" title="Make Enquiry">Make Enquiry</a>
					</div>
				</form>
			</div>
		</div>

		<div class="wedding-thanku-outer hidden">
			<div class="fitting-thanks-block">
				<h2>THANK YOU!</h2>
				<p>One of our consultants will make contact with you soon.</p>
				<a href="#" class="white-border-btn" title="DESIGN A SHIRT ONLINE">
					DESIGN A SHIRT ONLINE
				</a>
			</div>
		</div>


		<div class="wedding-content-block">
			<div class="container">
				<div class="inner-wedding-content">
					<div class="row">
						<div class="col-sm-4 col-md-3 wedding-col-left hidden-xs">
							<img src="images/wedding-couple.jpg" alt="Collection" class="hidden-xs">
							<img src="images/mob-collection-img.jpg" alt="Collection" class="visible-xs">
						</div>
						<div class="col-sm-8 col-md-9 wedding-col-right col-xs-12">
							<h2>Wedding Design Experts.</h2>

							<p>Custom wedding suits, shirts, and trousers, by the experts. </p>

							<p>At Tailors Mark, all of our fitting staff and craftsmen are experienced in creating garments for wedding parties, so we’re schooled in the small details that really bring an ensemble to life. </p>

							<p>When we’re dressing wedding parties, we lock down all of our fits first, and then work with you to choose colour, fabric, stitching, and button details. You’ll receive all of your garments in premium quality and custom design before your wedding day, and we’ll always leave a little extra time for those small touch ups at the last minute. </p>

							<p class="hidden-xs">When it comes to professional elegant custom clothing, the fit and the quality are our first priority. That’s why we’ve sourced the best fabrics and materials from around the world - luxurious, hand made, custom fabrics that breathe and mould, woven to perfection so you feel like yourself on your wedding day. </p>

							<p class="hidden-xs">Dress up your Wedding Party.</p>

							<a class="read-more-link" title="" href="#">
								<em>
									<span class="read-more">more</span>
									<span class="read-less">less</span>
								</em>
							</a>

							<div class="more-content">



							</div>

						</div>
					</div>
				</div>
			</div>
		</div>


	</section>
	<!-- End Contant -->

</div>

<footer class="footer">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-xs-6 first-col">
					<h3>About</h3>
					<ul class="footer-nav">
						<li><a href="#" title="Home">Home</a></li>
						<li><a href="#" title="About us">About us</a></li>
						<li><a href="#" title="About our Fabrics">About our Fabrics</a></li>
						<li><a href="#" title="Privacy policy">Privacy policy</a></li>
						<li><a href="#" title="Terms">Terms</a></li>
						<li class="hidden-xs"><a href="#" title="Shipping">Shipping</a></li>
						<li><a href="#" title="Become a style consultant">Become a style consultant</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-4 col-xs-6 middle-col">
					<h3 class="hidden-xs">Customer Service</h3>
					<h3 class="visible-xs">SUPPORT</h3>
					<ul class="footer-nav">
						<li><a href="#" title="Support">Support</a></li>
						<li><a href="#" title="Alterations &amp; Returns">Alterations  &amp; Returns</a></li>

						<li><a href="#" title="Book A Fitting">Book A Fitting</a></li>
						<li><a href="#" title="FAQs">FAQs</a></li>
						<li class="visible-xs"><a href="#" title="Contact Us">Contact Us</a></li>
						<li><a href="#" title="How to read fabric information">How to read fabric information</a></li>
						<li class="hidden-xs"><a href="#" title="Contact Us">Contact Us</a></li>
					</ul>

					<div class="phone-link hidden-xs">
						<h3>CALL US</h3>
						<a href="tel:13008574788" title="Call">1300 857 478</a>
					</div>


				</div>
				<div class="col-sm-4 col-xs-12  last-col">
					<div class="phone-link visible-xs">
						<h3>CALL US</h3>
						<a href="tel:13008574788" title="Call">1300 857 478</a>
					</div>
					<h3 class="hidden-xs">Mailing List</h3>
					<form class="mailing-form hidden-xs">
						<div class="form-group">
							<input type="text" placeholder="Your name" class="form-control">
						</div>
						<div class="form-group">
							<input type="text" placeholder="Your email" class="form-control">
							<a href="#" title="Submit" class="submit-btn">
								<img src="images/submit-btn.svg" alt="Submit">
							</a>
						</div>
					</form>
					<h3 class="">Follow Us</h3>
					<ul class="social-links">
						<li><a href="#" title="Facebook" class="fa fa-facebook"></a></li>
						<li><a href="#" title="Instagram" class="fa fa-instagram"></a></li>
						<li><a href="#" title="Pinterest" class="fa fa-pinterest-p"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<span class="copyright-text"><i><img src="images/footer-btn.svg" alt=""></i> Copyright 2010-2016 Tailors Mark. All rights reserved. </span>
			<span class="footer-links">
				<a href="#" title="Terms of Use">Terms of Use</a><em>|</em><a href="#" title="Privacy Policy">Privacy Policy</a>
			</span>

			<div class="client-link">
				<a href="#" title="A Custom Innovation Co. Business">
					<div class="box">
					</div>
					Custom Innovation Co.
				</a>
				<span class="copyright-text custom-innovation">A Custom Innovation Co. Business.</span>
			</div>
		</div>
	</div>
</footer>
</html>