<section id="content">
    <!--breadcrumbs start-->
    <div id="breadcrumbs-wrapper">
        <!-- Search for small screen -->
        <div class="header-search-wrapper grey hide-on-large-only">
            <i class="mdi-action-search active"></i>
            <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
        </div>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h5 class="breadcrumbs-title">Create Member</h5>
                    <ol class="breadcrumbs">
                        <li><a href="#/">Dashboard</a>
                        </li>
                        <li><a href="#/clients">Clients</a>
                        </li>
                        <li class="active">Personal Information</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs end-->

    <!--start container-->
    <div class="container">
        <div class="section">
            <!--Basic Form-->
            <div id="basic-form" class="section">
                <div class="row">
                    <div class="col s12 m12 l6">
                        <div class="card-panel">
                            <h4 class="header2">Personal Information</h4>
                            <div class="row">
                                <form class="col s12">
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input id="name" placeholder="First Name"  type="text" ng-model="formData.firstname">
                                            <label for="mobile" class="{[{formData.firstname.length > '0'?'active':''}]}">First Name</label>
                                        </div>
                                        <input ng-model="formData.id" type="hidden">
                                        <div class="input-field col s6">
                                            <input id="name" type="text" placeholder="Middle Name" ng-model="formData.middlename">
                                            <label for="mobile" class="{[{formData.middlename.length > '0'?'active':''}]}">Middle Name</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input id="name" type="text" placeholder="Last Name" ng-model="formData.lastname">
                                            <label for="mobile" class="{[{formData.lastname.length > '0'?'active':''}]}">Last Name</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <p><label for="Gender">Gender</label>
                                            <p>
                                                <input class="with-gap" name="gender" type="radio" ng-value="Male" id="Male" />
                                                <label for="test3">Male</label>

                                                <input class="with-gap" name="gender" type="radio" ng-value="Female" id="Female" />
                                                <label for="Female">Female</label>
                                            </p>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="input-field col s6">
                                            <p><label for="dob">DOB</label></p>
                                            <input type="date" class="datepicker" ng-model="formData.dob" >
                                        </div>

                                        <div class="input-field col s6">
                                            <p><label for="dob">Marriage Anniversary</label></p>
                                            <input type="date" class="datepicker" ng-model="formData.marriage_ani">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input id="name" type="text" placeholder="PAN card" ng-model="formData.pan_card">
                                            <label for="mobile" class="{[{formData.pan_card.length > '0'?'active':''}]}">PAN card</label>
                                        </div>

                                        <div class="input-field col s6">
                                            <input id="personal_email" type="email" placeholder="Email" ng-model="formData.pers_email">
                                            <label for="mobile" class="{[{formData.pers_email.length > '0'?'active':''}]}" >Email</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input id="phone" type="number" placeholder="Phone no." ng-model="formData.pers_phone">
                                            <label for="phoneno" class="{[{formData.pers_phone > '0'?'active':''}]}">Phone no.</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input id="mobile" type="number" ng-model="formData.pers_mobile">
                                            <label for="mobile" class="{[{formData.pers_mobile > '0'?'active':''}]}" >Mobile no.</label>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Form with placeholder -->
                    <div class="col s12 m12 l6">
                        <div class="card-panel">
                            <h4 class="header2">Bank Information</h4>
                            <div class="row">
                                <form class="col s12">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input  id="bank_name" type="text" ng-model="formData.bank_name">
                                            <label for="bank_name" class="{[{formData.bank_name.length > '0'?'active':''}]}">Bank Name</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input  id="account_no" type="text" ng-model="formData.account_no">
                                            <label for="account_no" class="{[{formData.account_no > '0'?'active':''}]}">Account No</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input  id="bank_address" type="text" ng-model="formData.bank_add">
                                            <label for="bank_address" class="{[{formData.bank_add.length > '0'?'active':''}]}">Bank Address</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input  id="city" type="text" ng-model="formData.city">
                                            <label for="city" class="{[{formData.city.length > '0'?'active':''}]}">City</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input  id="ifci_code" type="text" ng-model="formData.ifci_code">
                                            <label for="ifci_code" class="{[{formData.ifci_code.length > '0'?'active':''}]}">IFCI Code</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="card-panel">
                        <h4 class="header2">Business Information</h4>
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input  id="Occupation" type="text" ng-model="formData.occupation">
                                        <label for="Occupation" class="{[{formData.occupation.length > '0'?'active':''}]}">Occupation</label>
                                    </div>

                                    <div class="input-field col s6">
                                        <input  id="busi_address" type="text" ng-model="formData.occu_addr">
                                        <label for="busi_address" class="{[{formData.occu_addr.length > '0'?'active':''}]}">Address</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input  id="phone_no" type="number" ng-model="formData.occu_phone">
                                        <label for="phone_no" class="{[{formData.occu_phone > '0'?'active':''}]}">Phone No.</label>
                                    </div>

                                    <div class="input-field col s6">
                                        <input  id="emailId" type="email" ng-model="formData.occu_email">
                                        <label for="emailId" class="{[{formData.occu_email.length > '0'?'active':''}]}">Email ID</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input  id="website" type="text" ng-model="formData.occu_website">
                                        <label for="website" class="{[{formData.occu_website.length > '0'?'active':''}]}">Website</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button class="btn cyan waves-effect waves-light right" type="submit" name="action" ng-click="saveFormData(formData)">Submit
                                <i class="mdi-content-send right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Form with icon prefixes -->
        </div>
    </div>
    <!-- Grid Data-table (ui-grid) -->
    <div class="divider"></div>
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card-panel">
                <div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-exporter class="grid"></div>
            </div>
        </div>
    </div>
</section>