     
<style>
    @media screen {
        #printSection {
            display: none;
        }
    }

    @media print {
        body * {
            visibility:hidden;
        }
        #printSection, #printSection * {
            visibility:visible;
        }
        #printSection {
            position:absolute;
            left:0;
            top:0;
        }
    }
</style>
<!--start container-->
<div class="container">
    <button id="btnPrint">Print</button>
    <div id="profile-page" class="section" >
        <!-- profile-page-header -->
        <div id="profile-page-header" class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/user-profile-bg.jpg" alt="user background">                    
            </div>
            <figure class="card-profile-image">
                <img src="mitul/storage/uploads/{[{formData.client_img}]}" alt="profile image" class="circle z-depth-2 responsive-img activator">
            </figure>
            <div class="card-content">
                <div class="row">                    
                    <div class="col s3 offset-s2">                        
                        <h4 class="card-title grey-text text-darken-4">{[{formData.firstname}]}  {[{formData.lastname}]}</h4>
                        <p class="medium-small grey-text">{[{formData.occupation}]}</p>                        
                    </div>
                    <div class="col s2 center-align">
                        <h4 class="card-title grey-text text-darken-4">10+</h4>
                        <p class="medium-small grey-text">Work Experience</p>                        
                    </div>
                    <div class="col s2 center-align">
                        <h4 class="card-title grey-text text-darken-4">6</h4>
                        <p class="medium-small grey-text">Completed Projects</p>                        
                    </div>                    
                    <div class="col s2 center-align">
                        <h4 class="card-title grey-text text-darken-4">$ 1,253,000</h4>
                        <p class="medium-small grey-text">Busness Profit</p>                        
                    </div>                    
                    <div class="col s1 right-align">
                        <a class="btn-floating activator waves-effect waves-light darken-2 right">
                            <i class="mdi-action-perm-identity"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-reveal">
                <p>
                    <span class="card-title grey-text text-darken-4">{[{formData.firstname}]}  {[{formData.lastname}]}<i class="mdi-navigation-close right"></i></span>
                    <span><i class="mdi-action-perm-identity cyan-text text-darken-2"></i>{[{formData.occupation}]}</span>
                </p>
                <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i>{[{formData.pers_mobile}]}</p>
                <p><i class="mdi-communication-email cyan-text text-darken-2"></i>{[{formData.pers_email}]}</p>
                <p><i class="mdi-social-cake cyan-text text-darken-2"></i>{[{formData.dob}]}</p>
                <!--<p><i class="mdi-device-airplanemode-on cyan-text text-darken-2"></i>{[{formData.dob}]}</p>-->
            </div>
        </div>
        <!--/ profile-page-header -->

        <!-- profile-page-content -->
        <div id="profile-page-content" class="row">
            <!-- profile-page-sidebar-->
            <div id="profile-page-sidebar" class="col s12 m12">
                <!-- Profile About  -->
                <div  class="col s12 m4">
                    <div class="card light-blue">
                        <div class="card-content white-text">
                            <span class="card-title">About Me!</span>
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>                  
                    </div>
                </div>
                <!-- Profile About  -->
                <!--/ Profile About Details  -->
                <div  class="col s12 m4">
                    <div class="card center-align">
                        <div class="card-content purple white-text">
                            <p class="card-stats-title"><i class="mdi-editor-attach-money"></i>Your Profit</p>
                            <h4 class="card-stats-number">$8990.63</h4>
                            <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-up"></i> 70% <span class="purple-text text-lighten-5">last month</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!--/ Profile About Details  -->

                <!-- Profile About  -->
                <div  class="col s12 m4">
                    <div class="card amber darken-2">
                        <div class="card-content white-text center-align">
                            <p class="card-title"><i class="mdi-social-group-add"></i> 3685</p>
                            <p>Followers</p>
                        </div>                  
                    </div>
                </div>
                <!-- Profile About  -->
            </div>
            <div id="profile-page-sidebar" class="col s12 m12">
                <!-- Profile About Details  -->
                <div  class="col s12 m4">
                    <ul id="profile-page-about-details" class="collection z-depth-1">
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s5 grey-text darken-1"><i class="mdi-action-wallet-travel"></i> Project</div>
                                <div class="col s7 grey-text text-darken-4 right-align">ABC Name</div>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s5 grey-text darken-1"><i class="mdi-social-poll"></i> Skills</div>
                                <div class="col s7 grey-text text-darken-4 right-align">HTML, CSS</div>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s5 grey-text darken-1"><i class="mdi-social-domain"></i> Lives in</div>
                                <div class="col s7 grey-text text-darken-4 right-align">NY, USA</div>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s5 grey-text darken-1"><i class="mdi-social-cake"></i> Birth date</div>
                                <div class="col s7 grey-text text-darken-4 right-align">18th June, 1991</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Document Images -->
        <div class="col s12 m12">
            <h4 class="card-stats-number">Client Documents</h4>
            <div ng-repeat="DocImg in formData.docu_img.split(',')" style="width: 100px;height: 100px;display: inline-block;margin-right: 16px;" >
                <a href="mitul/storage/uploads/{[{DocImg}]}" title="Documents">
                    <img src="mitul/storage/uploads/{[{DocImg}]}" style="width: 100px;height: 100px;" >
                </a>
            </div>
        </div>
        <!-- Document Images -->
    </div>
</div>
<script>
    document.getElementById("btnPrint").onclick = function() {
        printElement(document.getElementById("profile-page"));
//        var modThis = document.querySelector("#printSection .modifyMe");
//        modThis.appendChild(document.createTextNode(" new"));
        window.print();
    }
    function printElement(elem) {
        var domClone = elem.cloneNode(true);
        var $printSection = document.getElementById("printSection");

        if (!$printSection) {
            var $printSection = document.createElement("div");
            $printSection.id = "printSection";
            document.body.appendChild($printSection);
        }
        $printSection.innerHTML = "";
        $printSection.appendChild(domClone);
    }
</script>


<!--end container-->
